<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Advance-settings">
    <ion-content class="advance-option common-screen">
        <div  class="top-side-logo row">
          <div class="col col-30">
              <div class="side-logo">
                  <img src="../img/side-logo.png" alt="">
              </div>
          </div>
          <div class="t-txt col col-70">
              <h1>rootsfolio</h1>
          </div>
        </div>   
        <div class="top-btn-ad">
            <a href="" class="back-btn" ng-click="back()">Back</a> 
            <a href="" class="text-grid">Advance Option</a>
        </div>
        <div class="form-adv-opt">
            <input type="text" class="styled-input" placeholder="Address">
            <input type="text" class="styled-input" placeholder="City, State, Zip">
            <div class="list-inset styled-input">
                <label class="item item-input">
                  <i class="icon ion-android-call placeholder-icon"></i>
                  <input type="text" placeholder="" >
                </label>
            </div>
            <div class="select-gender">
                <h4>Gender</h4>
                <p>(Please select one)</p>
                <div class="row">
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn">                                
                                <input type="radio" hidden="" checked="" name="gender">
                                <img src="../img/male.png" class="first-img" alt="male">
                                <img src="../img/male-active.png" class="second-img" alt="male">
<!--                                <i class="icon ion-male"></i>-->
                                <small>Male</small>
                            </label>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn">                                
                                <input type="radio" hidden="" name="gender">
                                <img src="../img/female.png" class="first-img" alt="male">
                                <img src="../img/female-active.png" class="second-img" alt="male">
<!--                                <i class="icon ion-female"></i>-->
                                <small>Female</small>
                            </label>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn">
                                <input type="radio" name="gender" hidden="">
                                <p>I'll Pass</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-cat">
                <div class="list">
                    <select class="style-select">
                        <option>Birthday</option>
                        <option>Birthday1</option>
                        <option>Birthday2</option>
                    </select>
                </div>
                <div class="list">
                    <select class="style-select">
                        <option>Ethnicity</option>
                        <option>Ethnicity1</option>
                        <option>Ethnicity2</option>
                    </select>
                </div>
                <div class="list">
                    <select class="style-select">
                        <option>Texture</option>
                        <option>Texture1</option>
                        <option>Texture2</option>
                    </select>
                </div>
            </div>
             
        </div>
        
        <div class="text-center"> 
            <button type="button" class="btn-grid" ng-click="goToCurl()">update</button>
        </div>
    </ion-content>
</ion-view>