<!--
  Generated template for the ChooseAccountTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="choose-account-type">
    <ion-content  class="common-screen no-padding">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="slide-wrap image-background">
                    <div  class="top-side-logo row pt-4">
                        <div class="col">
                            <div class="side-logo">
                                <img src="../img/side-logo.png" alt="">
                            </div>
                        </div>
                        <div class="t-txt col">
                            <h1>rootsfolio</h1>
                            <p>Please select one of the following.</p>
                        </div>
                    </div>
                    <div class="align-self-bottom-option">
                        <div class="row">
                            <div class="col col-100 left">
                                <label class="select-round" ng-click="goToMemberForm()">
                                    <input type="radio" name="mselect" hidden="" >
                                    <small>Member</small>
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <p>or</p>
                        </div>
                        <div class="row">
                            <div class="col col-100 right">
                                <label class="select-round" ng-click="goToProvider('1')">
                                    <input type="radio" name="mselect" hidden="">
                                    <small>Provider</small>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-back-btn">
                        <a ui-sref="member-signup" class="back-btn">Back</a>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-wrap common-screen new-sw padding20">
                    <div  class="top-side-logo row pt-4">
                        <div class="col">
                            <div class="side-logo">
                                <img src="../img/side-logo.png" alt="">
                            </div>
                        </div>
                        <div class="t-txt col">
                            <h1>rootsfolio</h1>
                            <h3>for Providers</h3>
                        </div>
                    </div>
                    <div class="slide-2">
                        <div class="text-center pt-2">
                            <p>Please select one of the following.</p>
                        </div>
                        <ul class="abs-li">
                            <li ng-click="selectProvider(2)">
                                <div class="circle {{selectedProvider==2?'selected':''}}">
                                    <span><img src="../img/icon1.png" alt="icon"></span>
                                    <small>Stylist</small>
                                </div>
                            </li>
                            <li ng-click="selectProvider(3)">
                                <div class="circle {{selectedProvider==3?'selected':''}}">
                                    <span><img src="../img/icon2.png" alt="icon"></span>
                                    <small>Barber</small>
                                </div>
                            </li>
                            <li ng-click="selectProvider(1)">
                                <div class="circle {{selectedProvider==1?'selected':''}}">
                                    <span><img src="../img/icon3.png" alt="icon"></span>
                                    <small>Salon</small>
                                </div>
                            </li>
                            <li ng-click="selectProvider(4)">
                                <div class="circle {{selectedProvider==4?'selected':''}}">
                                    <span><img src="../img/icon4.png" alt="icon"></span>
                                    <small>Beauty Supply</small>
                                </div>
                            </li>
                            <li ng-click="selectProvider(5)">
                                <div class="circle {{selectedProvider==5?'selected':''}}">
                                    <span><img src="../img/icon5.png" alt="icon"></span>
                                    <small>Barbershop</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom-back-btn">
                        <a href="" ng-click="goToProvider('0')" class="back-btn">Back</a>
                     <button type="button" class="btn-grid" ng-click="goToProviderForm()">Next</button>
                    </div>
                </div>
            </ion-slide>

      </ion-slide-box>
    </ion-content>
</ion-view>
