<!--
  Generated template for the ChooseAccountTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="choose-account-type">
    <ion-content padding class="image-background">
        <div  class="top-side-logo row pt-5">
          <div class="col col-30">
              <div class="side-logo">
                  <img src="../img/side-logo.png" alt="">
              </div>
          </div>
          <div class="t-txt col col-70">
              <h1>rootsfolio</h1>
              <p>Please select one of the following.</p>
          </div>
        </div> 
        <ion-slide-box>
            <ion-slide>
                <div class="slide-wrap">
                    <div class="row" >
                        <div class="col col-100 left">
<label class="select-round" >
                                <input type="radio"  name="mselect" hidden="" checked="">
                                <small>Member</small>
                            </label>
                        </div>
                    </div>
                    <div class="text-center">
                        <p>or</p>
                    </div>
<div class="row" >
                        <div class="col col-100 right">
                            <label class="select-round">
                                <input type="radio" name="mselect" hidden="">
                                <small>Provider</small>
                            </label>
                        </div>
                    </div>
                    <div class="bottom-back-btn">
                        <a href="" class="back-btn">Back</a> 
                    </div>                    
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-wrap">
                    <div class="bottom-back-btn">
                        <a href="" class="back-btn">Back</a> 
<button type="button" class="btn-grid" ng-click="goToRegister()">Next</button>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-wrap">
                    <h1>888</h1>
                    <div class="bottom-back-btn">
                        <a href="" class="back-btn">Back</a> 
<button type="button" class="btn-grid" ng-click="goToRegister()">Next</button>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-wrap">
                    <h1>999</h1>
                    
                    <div class="bottom-back-btn">
                        <a href="" class="back-btn">Back</a> 
<button type="button" class="btn-grid" ng-click="goToRegister()">Next</button>
                    </div>
                </div>
            </ion-slide>
      </ion-slide-box>
    </ion-content>
</ion-view>