<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="create post" ng-init="imageArray=[];">
    <ion-content class="create-page white-bg no-padding has-footer" overflow-scroll="true">
        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">
            
        </div>
        <!--end of filter-strip-->
       <div class="top-icon-area">
           <div class="row">
               <div class="col col-33">
                    <!-- ng-click="fileChooser()"  ng-click="toggleImageGallery()"-->
                   <label class="icon-box" ng-click="showAlbumDiv()">
                       <img class="g-camera" src="../img/cam-roll.png" alt="">
                       <span>Camera Roll</span>
                   </label>
               </div>
               <div class="col col-33">
                    <!-- ng-click="cameraChooser()"-->
                    <label class="icon-box"  ng-click="cameraChooser()">
                        <img class="g-camera" src="../img/gray-cam.png" alt="">
                        <span>Take a Photo</span>
                        <!-- <input type="file" multiple style="display:none;" id="pic1" onchange="angular.element(this).scope().chooseFiles(this.files)"> -->
                    </label>
                </div>
                <div class="col col-33">
                        <!--" -->
                    <div class="icon-box" ng-click="recordVideo()">
                        <img class="g-camera" src="../img/handicam.png" alt="">
                        <span>Film a Video</span>
                    </div>
                </div>
           </div>
       </div>
       <div class="row">
           <div class="col">
                <ion-slide-box class="edit-slide create-post-slider">
                    <ion-slide ng-if="imageArray.length>0" ng-repeat="image in imageArray">
                        <div class="image-box upload-image-box crop-box" >
                            <img class="cropperbox-{{$index}}" src="{{image.result?image.result:image}}" imageonload="reinitailizeCroppie($index);" ng-init="imageIsLoaded();" alt="">
                        </div>
                    </ion-slide>
                    <ion-slide ng-if="imageArray.length==0 && !videoFile">
                        <div class="image-box upload-image-box crop-box">                                
                            <img src="../img/imaged.png" alt="">
                        </div>
                    </ion-slide>
                    <ion-slide ng-if="videoFile">
                        <div class="image-box upload-image-box crop-box">
                            <video src="{{trustSrc(videoFileUrl)}}"
                             preload="metadata" 
                             controls="controls" height="100%"></video>
                        </div>    
                    </ion-slide>

                </ion-slide-box>
           </div>
       </div>
       <div class="row btn-dwn" style="padding-bottom:20px">
            <div class="col left">
                <a ui-sref="listings" class="btn-grid">Cancel</a>
                <!-- <a ng-click="toggleImageGallery()" class="btn-grid">Albums</a> -->
                <!-- <image-gallery visible="imggal" cancelmethod="toggleImageGallery()" savemethod="gotGalleyImages({img:img})"></image-gallery> -->
            </div>
            <div class="col right">
                <a href="" ng-click="savePostFiles()" class="btn-grid">Save</a>
            </div>
       </div>
       <div class="album-container" id="album-contain-div" ng-if="showImageAlbum">
           <div class="album-header">
               <p>Select up to 4 photos</p>
            <select ng-model="selectedAlbum" class="album-select" ng-change="changeAlbum()">
                <option value=''>All photos </option>
                <option value="{{album.id}}" ng-repeat="album in allAlbums">{{album.title}}</option>
            </select>
            <!-- <div class="folder-select"></div> -->
           </div>
           <div class="album-body" delegate-handle="small" buffered-scroll="increaseLimit();" 
           style="height:400px;overflow: scroll;" >
               <div class="album-images">
                
                <ul class="" >
                    <li ng-repeat="image in library | limitTo: liblimit"  ng-click="selectLibraryImage(image)">
                        <img src="{{trustSrc(image.imagesrc)}}"  >
                        <div class="multi-select " ng-if="selectedImages[image.id]" >
                                <div class="circle"></div>
                        </div>                            
                    </li>
                    </ul>
               </div>
           </div>
       </div>
    </ion-content>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" >

        </div>
</ion-view>
<style>
    .selectedimage {
        border: 1px solid red;
    }
</style>