<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="create post" ng-init="imageArray=[]">
    <ion-content class="create-page white-bg no-padding">
        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">
            
        </div>
        <!--end of filter-strip-->
       <div>
       
               <hz-photo-editor style="height:300px;width:400px;" image="'../img/download1.png'"></hz-photo-editor>
          
       </div>
       
    </ion-content>
    
</ion-view>
