<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Explore" ng-init="getPostListingsexplore();getPostListingsfeature()">
    <ion-content class="explore-page no-padding">
        <!-- <div class="filter-strip">
            <div class="row">
                <div class="col col-20">
                    <div class="left">
                        <a href="" class="icon-filter g-search"><img src="../img/search-icon.png" alt="search"></a>
                    </div>
                </div>
                <div class="col col-30">
                        <h4 class="filter-text">Explore</h4>
                    </div>
                <div class="col col-50">
                    <div class="right">
                            <a href="" class="icon-filter" ng-click="goToProviderProfile()"><img src="../img/rf-icon.png" alt="search"></a>
                        <a href="" class="icon-filter g-filter" ng-click="goToFilter()"><img src="../img/filter-icon.png" alt="search"></a>
                        <a href="" class="icon-filter g-location" ng-click="goToFindService()"><img src="../img/location.png" alt="search"></a>
                        <a href="" ng-click="goToSettings()" class="icon-filter g-menu" ng-click="goToSettings()"><img src="../img/menu-icon.png" alt="search"></a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">

        </div>
        <!--end of filter-strip-->
        <div class="image-box-explore">
            <h4>Recommended</h4>
            <div class="row">
                <div class="col col-33" ng-repeat="list in postListingsexplore track by $index" ng-if="postListingsexplore.length >0 && $index <= 2" ui-sref="listings-details({post_id:list.id})">
                    <div class="image-box update-img-div">
                        <img ng-if="list.post_files.length" src="{{ postImageUrlexplore + list.post_files[0].name }}" alt="">
                        <img ng-if="!list.post_files.length" src="../img/imaged.png" alt="">
                    </div>
                </div>
                <!-- <div class="col col-33">
                    <div class="video-box">
                        <img src="../img/ex-2.png" alt="">
                        <span class="video-icon"></span>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="image-box">
                        <img src="../img/ex-3.png" alt="">
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col col-33" ng-repeat="list in postListingsexplore track by $index" ng-if="postListingsexplore.length >0 && $index > 2" ui-sref="listings-details({post_id:list.id})">
                    <div class="image-box update-img-div">
                        <img ng-if="list.post_files.length" src="{{ postImageUrlexplore + list.post_files[0].name }}" alt="">
                        <img ng-if="!list.post_files.length" src="../img/imaged.png" alt="">
                    </div>
                </div>
                <!-- <div class="col col-33">
                    <div class="image-box">
                        <img src="../img/ex-4.png" alt="">
                    </div>
                </div>
                <div class="col col-33">
                    <div class="image-box">
                        <img src="../img/ex-5.png" alt="">
                    </div>
                </div>
                <div class="col col-33">
                    <div class="image-box">
                        <img src="../img/ex-6.png" alt="">
                    </div>
                </div> -->
            </div>
            <div class="text-center">
                <a href="" ui-sref="listings({show:true})" class="down-arrow"></a>
            </div>

            <h4>Featured</h4>
            <div class="row" ng-repeat="feature in postListingsexplorefeature" ng-if="postListingsexplorefeature.length> 0">
                <div class="col col-100" ui-sref="listings-details({post_id:feature.id})">
                    <div class="video-box round-div">
                        <img ng-if="feature.post_files.length" class="new-style" src="{{ postImageUrlfeature + feature.post_files[0].name }}" alt="">
                        <img ng-if="!feature.post_files.length" class="new-style" src="{{ postImageUrlfeature + feature.post_files[0].name }}" alt="">
                        <!-- <span class="video-icon"></span> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col col-100">
                    <div class="video-box round-div">
                        <img src="../img/feature-pic.png" alt="">
                        <span class="video-icon"></span>
                    </div>
                </div>
            </div> -->
        </div>

    </ion-content>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">

    </div>

</ion-view>
