<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="news feed" ng-init="getCurlCategories()">
    <ion-content class="news-option common-screen no-padding" overflow-scroll="true">
        <div class="filter-strip">
            <div class="row">
                <div class="col col-20">
                    <div class="left" ng-click="closeFilter()">
                        <a class="icon-filter"><img src="../img/cross.png" class="cross" alt="search" style="height: 14px;"></a>
                    </div>
                </div>
                <div class="col col-60">
                    <div class="text-center">
                        <h4 class="filter-text">Filter Posts</h4>
                    </div>
                </div>
                <div class="col col-20">
                    <div class="right">
                        <a class="icon-filter"><img src="../img/filter-active.png" alt="search"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->
        <div class="filter-category">
            <h2>Filters</h2>
            <!-- <div class="address-box filter-new-box">
                <input type="text" class="styled-input hastag-box" ng-model="searchPost"
                placeholder="Search">
            </div> -->
            <div class="filter-box">
                <!-- <div class="row"> -->
                    <div style="float:left;" class="col col-33" ng-click="SelectHashTagAll('all')">
                      <div class="f-box" ng-class="(selHashTag == 'all' ?'active' :'')">
                          <p>Show All</p>
                      </div>
                    </div>
                    <div style="float:left;" class="col col-33" ng-repeat="htag in getHashTagList" ng-click="SelectHashTag(htag)" ng-if="!htag.type">
                        <div class="f-box" ng-class="(selHashTag == htag.id ?'active' :'')">
                            <p>{{htag.name}}</p>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                <!-- </div> -->

                <!--<div class="row">
                    <div class="col">
                        <div class="f-box">
                            <p>Products</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="f-box active">
                            <p>Members</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="f-box">
                            <p>Videos</p>
                        </div>
                    </div>
                </div>-->
                <div class="text-center">
                    <a ng-click="filterPost(searchPost)" class="btn-grid">Filter</a>
                </div>
            </div>
            <div class="select-imput" ng-class="IsActive ? 'active' : 'inactive'" ng-click="SelectToggle()">
              <label>Select Your Root Curl Pattern</label>
              <span>Select your root curl pattern</span>
              <img src="../img/side-arrow.png" alt="">
            </div>
            <div class="root-curl-box" ng-class="IsActive ? 'active' : 'inactive'">
                <div class="item-wrap" ng-if="curlCategories" ng-repeat="cat in curlCategories">
                    <div class="black-heading">
                        <span>{{cat.id}}</span>
                        <h2>{{cat.title}}</h2>
                    </div>
                    <div class="row">
                        <div class="col col-33" ng-repeat="pattern in cat.curl_patterns" ng-click="selectCurlPattern(pattern.id);SelectToggle()">
                            <div class="card purple-box curl-box {{ curlpattern_id == pattern.id?'selected':''}}">
                                <div class="mask"></div>
                                <div class="head-box text-center">
                                    <p>{{pattern.title}}</p>
                                    <small>{{pattern.name}}</small>
                                </div>
                                <div class="img-box">
                                    <img src="../img/{{pattern.image}}" alt="">
                                    <span class="icon-img">
                                        <img src="../img/{{pattern.icon}}" alt="">
                                    </span>
                                </div>
                                <div class="txt-box">
                                    <ul class="list-style" ng-bind-html="pattern.description">
                                        <li>S Shape</li>
                                        <li>Naturally defined curls</li>
                                        <li>Can Wash n Go</li>
                                    </ul>
                                    <p>
                                        <img src="../img/{{pattern.curl_image}}" alt="hair" style="">
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <h2>Advanced Filters</h2>
            <!-- <div class="address-box filter-new-box">
                <input type="text" class="styled-input hastag-box" placeholder="Has Tags #">
                <input type="text" class="styled-input" placeholder="City, State, Zip">
            </div> -->
            <div class="filter-box adv-filter">                
                <ul class="list">
                    <li class="list-item">
                        <p>Natural Hair</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" ng-model="postSearchDetails.natural_hair" ng-true-value="1" ng-false-value="0">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Hair Extensions &amp;  Wigs</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" ng-model="postSearchDetails.hair_extensions" ng-true-value="1" ng-false-value="0">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Braids &amp; Twists</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" ng-model="postSearchDetails.braids" ng-true-value="1" ng-false-value="0">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Cuts &amp; Fades</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" checked="" ng-model="postSearchDetails.cuts" ng-true-value="1" ng-false-value="0">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Dread Locs &amp; Faux Locs</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" ng-model="postSearchDetails.dread_locks" ng-true-value="1" ng-false-value="0">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Hair Products</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" ng-model="postSearchDetails.hair_products" ng-true-value="1" ng-false-value="0">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>

                </ul>
            </div>
            <div class="text-center" ng-click="showRootCurl()">
                <a href="" class="filter-outline-btn leaf-button"><img src="../img/leaf.png" alt=""> Root Curl Pattern FAQ </a>
            </div>

<div class="root-curl-box" ng-class="IsShowRootCurl? 'active' : 'inactive'">
  <div class="item-wrap">
    <div class="black-heading">
      <span>4</span>
      <h2>Kinky Coily Curly</h2>
    </div>
    <div class="row">
      <div class="col col-33">
        <div class="card purple-box curl-box selected">
          <div class="mask"></div>
          <div class="head-box text-center">
            <p>4a</p>
            <small>Sunflower</small>
          </div>
          <div class="img-box">
            <img src="../img/img1.png" alt="">
            <span class="icon-img"><img src="../img/4a.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>S Shape</li>
              <li>Naturally defined curls</li>
              <li>Can Wash n Go</li>
            </ul>
            <p><img src="../img/hair1.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card purple-box curl-box ">
          <div class="head-box text-center">
            <p>4b</p>
            <small>Rose</small>
          </div>
          <div class="img-box">
            <img src="../img/img2.png" alt="">
            <span class="icon-img"><img src="../img/4b.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Z Shape</li>
              <li>Fuffy Appearance</li>
              <li>Shrinks up to 70%</li>
            </ul>
            <p><img src="../img/hair2.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card purple-box curl-box">
          <div class="head-box text-center">
            <p>4c</p>
            <small>Marigold</small>
          </div>
          <div class="img-box">
            <img src="../img/img3.png" alt="">
            <span class="icon-img"><img src="../img/4c.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Tightly coiled</li>
              <li>No defined curl pattern</li>
              <li>Shrinks up to 70%</li>
            </ul>
            <p><img src="../img/hair3.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item-wrap">
    <div class="black-heading">
      <span>3</span>
      <h2>Curly</h2>
    </div>
    <div class="row">
      <div class="col col-33">
        <div class="card purple-box curl-box">
          <div class="head-box text-center">
            <p>3a</p>
            <small>Daisy</small>
          </div>
          <div class="img-box">
            <img src="../img/img4.png" alt="">
            <span class="icon-img"><img src="../img/3a.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Clear S shape</li>
              <li>Can range in density</li>
              <li>Lots of Definition</li>
            </ul>
            <p><img src="../img/hair4.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card purple-box curl-box ">
          <div class="head-box text-center">
            <p>3b</p>
            <small>Buttercup</small>
          </div>
          <div class="img-box">
            <img src="../img/img5.png" alt="">
            <span class="icon-img"><img src="../img/3b.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Springy Curls</li>
              <li>Needs Moisture</li>
              <li>Voluminous Curls</li>
            </ul>
            <p><img src="../img/hair5.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card purple-box curl-box">
          <div class="head-box text-center">
            <p>3c</p>
            <small>Tulip</small>
          </div>
          <div class="img-box">
            <img src="../img/img6.png" alt="">
            <span class="icon-img"><img src="../img/3c.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Tight Cork Screws</li>
              <li>Extreme Volume</li>
              <li>Most Shrinkage</li>
            </ul>
            <p><img src="../img/hair6.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item-wrap">
    <div class="black-heading">
      <span>2</span>
      <h2>Wavy</h2>
    </div>
    <div class="row">
      <div class="col col-33">
        <div class="card purple-box curl-box">
          <div class="head-box text-center">
            <p>2a</p>
            <small>Hyacinth</small>
          </div>
          <div class="img-box">
            <img src="../img/img7.png" alt="">
            <span class="icon-img"><img src="../img/2a.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Fine & Thin</li>
              <li>Loose Touseled look</li>
              <li>Wavy</li>
            </ul>
            <p><img src="../img/hair7.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card purple-box curl-box ">
          <div class="head-box text-center">
            <p>2b</p>
            <small>Gerbera</small>
          </div>
          <div class="img-box">
            <img src="../img/img8.png" alt="">
            <span class="icon-img"><img src="../img/2b.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Straight at the roots</li>
              <li>S shaped on the end</li>
              <li>Light frizz at roots</li>
            </ul>
            <p><img src="../img/hair8.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card purple-box curl-box">
          <div class="head-box text-center">
            <p>2c</p>
            <small>Gazania</small>
          </div>
          <div class="img-box">
            <img src="../img/img9.png" alt="">
            <span class="icon-img"><img src="../img/2c.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Defined waves</li>
              <li> Thick</li>
              <li>Prone to frizzing</li>
            </ul>
            <p><img src="../img/hair9.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item-wrap">
    <div class="black-heading">
      <span>1</span>
      <h2>straight</h2>
    </div>
    <div class="row">
      <div class="col col-33">
        <div class="card purple-box curl-box">
          <div class="head-box text-center">
            <p>1a</p>
            <small>Lotus</small>
          </div>
          <div class="img-box">
            <img src="../img/img10.png" alt="">
            <span class="icon-img"><img src="../img/1a.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Soft and Shiny</li>
              <li>Thin & wispy</li>
              <li>Straight</li>
            </ul>
            <p><img src="../img/hair10.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card purple-box curl-box ">
          <div class="head-box text-center">
            <p>1b</p>
            <small>Saffron</small>
          </div>
          <div class="img-box">
            <img src="../img/img11.png" alt="">
            <span class="icon-img"><img src="../img/1b.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Medium Volume</li>
              <li> Straight</li>
              <li>Holds curls</li>
            </ul>
            <p><img src="../img/hair11.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
      <div class="col col-33">
        <div class="card purple-box curl-box">
          <div class="head-box text-center">
            <p>1c</p>
            <small>Dahlia</small>
          </div>
          <div class="img-box">
            <img src="../img/img12.png" alt="">
            <span class="icon-img"><img src="../img/1c.png" alt=""></span>
          </div>
          <div class="txt-box">
            <ul class="list-style">
              <li>Stick Straight</li>
              <li> Slight Bends</li>
              <li>Thick</li>
            </ul>
            <p><img src="../img/hair12.png" alt="hair" style=""></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">

    </div>
</ion-view>
