<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="find services">
    <ion-content class="find-service no-padding" ng-init="getCityDetails();pageTitle = 'Find a Service Provider'">
        <div class="find-service-flex">
                <div class="filter-strip" ng-include="'templates/template-parts/header.html'">
            
                </div>
            <!--end of filter-strip-->
            <div class="select-ser align-self-center">
                <ul class=" select-find">
                <li class="main-select dark-select">
                    <a ng-click="SelectToggle()" class="main-select">{{selectedService}} <i class="icon ion-chevron-down"></i></a>
                        <ul class="sub-select" ng-class="IsActive ? 'active' : 'inactive'" >
                            <li ng-click="SelectToggleForLoc('2')">
                                <a href=""><img src="../img/icon1.png" alt=""><small>Find a</small> <span>Stylist | Salons</span></a>
                            </li>
                            <li ng-click="SelectToggleForLoc('3')">
                                <a href=""><img src="../img/icon5.png" alt=""><small>Find a</small> <span>Barber | Barbershop</span></a>
                            </li>
                            <!-- <li ng-click="SelectToggleForLoc('1')">
                                <a href=""><img src="../img/icon3.png" alt=""><small>Find a</small> <span>Salon</span></a>
                            </li> -->
                            <li ng-click="SelectToggleForLoc('4')">
                                <a href=""><img src="../img/icon4.png" alt=""><small>Find a</small> <span>Beauty Supply</span></a>
                            </li>
                            <!-- <li ng-click="SelectToggleForLoc('5')">
                                <a href=""><img src="../img/icon5.png" alt=""><small>Find a</small> <span>Barbershop</span></a>
                            </li> -->
                            <li ng-click="SelectToggleForLoc('all')">
                                <a href="" style="text-align: center"><span>Show All</span></a>
                            </li>
                        </ul>
                </li>
                <li class="main-select light-select">
                        <a href="" ng-click="goToServiceArea()" class="main-select">{{selectedServiceLoc}} <i class="icon ion-chevron-down"></i></a>

                    </li>
                </ul>
                <div class="text-center" ng-click="goToLoc()">
                    <a href="" class="find-buttn">Find</a>
                </div>
            </div>

            <div class="rf-btn">
                <a href="" class="text-white">RF | Expert Corner</a>
            </div>
        </div>
    </ion-content>
   <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">

        </div>
</ion-view>
