<!--
  Generated template for the MemberLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="member-login" ng-init="initForgotForm()">
    <ion-content no-padding class="splash-screen">
        <div class="logo-center">
            <div class="align-self-bottom">
                <div class="clear">
                    <img src="../img/logo.png" alt="logo">
                </div>
                <form method="post" ng-submit="submitForgot()">
                    <div class="sign-separator">
                        <a ui-sref="login" class="back-btn" style="margin: 60px 0 0 0;
                        position: absolute;top: 0;left: 20px;" >Back</a>
                        <div class="input-holder">
                            <input type="email" class="purple-btn" required ng-model="forgotForm.email" placeholder="Enter Email" autofill="no"/>
                            <button ion-button class="round-btn" >Enter</button>    
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>

<style>
    .scroll{height:100%}
</style>
