<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="social share">
    <ion-content class="news-option social-share-main no-padding">
        <div class="filter-strip">
            <div class="row">
                <div class="col col-40">
                    <div class="left">
                        <a href="" class="back-btn">Go Back</a>
                    </div>
                </div>
                <div class="col col-60">
                    <div class="text-left">
                        <a href="" class="share-icon">Social Share</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->
        <div class="social-share-page">
            <div class="share-image dark-bg">
                <img src="../img/social-pic.png" alt="">
            </div>
            <div class="card-box">
                <p>I absolutely adore these layers. I am looking for an amazing stylist who can do this in Houston. </p>
                <div class="link-bth">
                <span>Sent with <small><img src="../img/heart.png" alt="" style="width: 12px; margin: 0 6px;"></small> from @Rootsfolio</span>
                <span class="text-theme">View more </span>
                </div>
            </div>

            <div class="card-box social-box theme-background">
                <ul class="">
                    <li><a href=""><img src="../img/twitter.png" alt=""></a></li>
                    <li><a href=""><img src="../img/pintrest.png" alt=""></a></li>
                    <li><a href=""><img src="../img/facebook.png" alt=""></a></li>
                    <li><a href=""><img src="../img/insta.png" alt=""></a></li>
                    <li><a href=""><img src="../img/t-logo.png" alt=""></a></li>
                    <li><a href=""><img src="../img/google-plus.png" alt=""></a></li>
                </ul>
            </div>
                <div class="text-center ">
                    <p class="dark-text">(Select where you would like to share)</p>
                </div>
                <a href="" class="social-share-btn">Share</a>
        </div>

    </ion-content>
    <div class="tabs tabs-icon-only">
<a class="tab-item" ng-click="goToFeedback()">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToEplore()">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToNewPost()">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ng-click="goToNotDetails()">
  <img src="../img/notifiaction-dot-icon.png" alt="" style="width:25px;">
</a>
<a class="tab-item" ng-click="goToNotification()">
  <img src="../img/message-icon.png" alt="" style="width:25px;">
</a>
        </div>
</ion-view>
