<ion-view view-title="home">
    <ion-content no-padding class="splash-screen">
        <div class="logo-center">
            <img src="../img/logo.png" alt="logo">
        </div>
    </ion-content>
</ion-view>

