<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="news feed" ng-init="pageTitle = 'User Posts'">
    <ion-content class="news-option common-screen no-padding has-footer" ng-init="getPostListings()">

        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">

        </div>
        <!--end of filter-strip-->
        <div class="news-section" ng-repeat="post in postListings">
            <div class="news-header feedback-header">
                <div class="header-profile">
                    <div class="img-box">
                        <img ng-click="goToMyPostPage(post)" src="../img/default_user.jpeg" ng-if="!post.user.profile_image" alt="">
                        <img ng-click="goToMyPostPage(post)" src="{{userImageUrl + post.user.profile_image}}" ng-if="post.user.profile_image" alt="">
                        <span class="icon-img"><img ng-if="!post.user || !post.user.curl_pattern" src="../img/1c.png" alt="">
                            <img ng-if="post.user && post.user.curl_pattern" src="../img/{{post.user.curl_pattern.icon}}" alt="">
                        </span>
                    </div>
                    <div class="h-txt">
                        <h3 ng-click="goToMyPostPage(post)">{{post.user.name}}</h3>
                        <p ui-sref="listings-details({post_id:post.id})">{{ post.user.user_type == 'M'? 'Member' : 'Provider' }}</p>
                        <span ui-sref="listings-details({post_id:post.id})" class="postDatetimeAgo" am-time-ago="post.created"></span>
                    </div>
                </div>
                <div class="right-icon" ng-click="SelectToggle2(post)">
                    <a href=""><img class="g-notification" ng-class="post.showpopup ? 'active' : 'inactive'" src="../img/notification-active.png" alt=""></a>
                </div>
            </div>
            <ion-slide-box class="news-slide" ui-sref="listings-details({post_id:post.id})">

                <ion-slide ng-if="post.post_files && post.post_files.length>0"  ng-repeat="image in post.post_files">
                    <div class="image-box upload-image-box">
                        <img src="{{postImageUrl + image.name}}" id="image{{$index}}" alt="" ng-init="resetSlider()" ng-if="image.file_type == 'I'">
                        <video src="{{trustSrc(postImageUrl + image.name)}}"
                             preload="metadata" ng-init="resetSlider()"
                             controls="controls" height="250" ng-if="image.file_type=='V'"></video>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div class="news-content">
                <div class="feed-icon">
                    <a ng-click="postLike(post)" class="likes">
                        <img src="../img/likes-active-icon.png" alt="" ng-if="post.my_like">
                        <img src="../img/likes-icon.png" alt="" ng-if="!post.my_like">
                        <span>{{post.like_count}} Likes</span>
                    </a>
                    <a class="heart-icon" href="" ng-click="SelectToggle(post)"><img class="g-share" ng-class="IsActive ? 'active' : 'inactive'" src="../img/share-active.png" alt=""></a>
                </div>
                <div class="content-feed">
                    <!-- <span class="name">Jasmine Taylor</span> -->
                    <p>{{post.description}}</p>
                    <a class="text-grid"> <span ng-repeat="tag in post.post_tags" style="display: initial">#{{tag.hashtag.tag}} </span> </a>

                    <div class="styled-input reply-div">
                        <input type="text" ng-model="post.comment"
                        placeholder="Leave A Reply"><a type="submit" ng-click="saveComment(post)" class="reply-btn text-grid">Post</a>
                    </div>
                    
                    <div class="comment-box" style="padding:0">
                        <div class="reply-box-holder" ng-repeat="comment in post.post_comments | limitTo : post.nolimit ? post.post_comments.length : 2" ng-class="$last ? 'reply-box-holder-last' : ''">
                            <div class="left-box">
                                <div class="imag-box text-center" ui-sref="member-profile-member-view({userId: comment.user.id})">
                                    <img src="../img/default_user.jpeg" ng-if="!comment.user.profile_image" alt="">
                                    <img src="{{userImageUrl + comment.user.profile_image}}" ng-if="comment.user.profile_image" alt="">
                                </div>
                                <div class="clear"></div>
                                <span>{{comment.user.name}}</span>
                            </div>
                            <div class="right-reply">
                                <span style="color: #c5bac6" am-time-ago="comment.date"></span>
                                <p>{{comment.comment}} </p>
                                <div class="styled-input reply-div">
                                    <input type="text" ng-model="comment.newcomment" placeholder="Leave A Reply"><a type="submit"  ng-click="saveSubComment(comment,post)" class="reply-btn text-grid">Post</a>
                                </div>
                                <div class="reply-box-holder" ng-repeat="subcomment in comment.comments | limitTo : comment.nolimit ? comment.comments.length : 2" style="padding-left:0; padding-right:0" ng-class="$last ? 'reply-box-holder-last' : ''">
                                    <div class="left-box">
                                        <div class="imag-box text-center" ui-sref="member-profile-member-view({userId: subcomment.user.id})" style="width:32px; height:32px">
                                            <img src="../img/default_user.jpeg" ng-if="!subcomment.user.profile_image" alt="">
                                            <img src="{{userImageUrl + subcomment.user.profile_image}}" ng-if="subcomment.user.profile_image" alt="">
                                        </div>
                                        <div class="clear"></div>
                                        <span>{{subcomment.user.name}}</span>
                                    </div>
                                    <div class="right-reply">
                                            <span am-time-ago="subcomment.date" class="time_ago_span"></span>
                                        <p>{{subcomment.comment}} </p>

                                        <div class="like" ng-click="commentLike(subcomment)">
                                            <span>{{subcomment.like_count}} likes </span>
                                            <img src="../img/likes-active-icon.png" alt="" ng-if="subcomment.comment_like">
                                            <img src="../img/likes-icon.png" alt="" ng-if="!subcomment.comment_like">
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center" ng-show="comment.comments && comment.comments.length>2 && !comment.nolimit" ng-click="comment.nolimit = !comment.nolimit">
                                    <a href="" class="see-all">See all {{comment.comments.length}} comments</a>
                                </div>
                                <div class="text-center" ng-show="comment.nolimit" ng-click="comment.nolimit = !comment.nolimit">
                                    <a href="" class="hide-all">Hide</a>
                                </div>

                               
                                <div class="like" ng-click="commentLike(comment)">
                                    <span>{{comment.like_count}} likes </span>
                                    <img src="../img/likes-active-icon.png" alt="" ng-if="comment.comment_like">
                                    <img src="../img/likes-icon.png" alt="" ng-if="!comment.comment_like">
                                </div>
                            </div>
                        </div>
                        <div class="text-center" ng-show="post.post_comments && post.post_comments.length>2 && !post.nolimit" ng-click="post.nolimit = !post.nolimit">
                            <a href="" class="see-all">See all {{post.post_comments.length}} comments</a>
                        </div>
                        <div class="text-center" ng-show="post.nolimit" ng-click="post.nolimit = !post.nolimit">
                            <a href="" class="hide-all">Hide</a>
                        </div>
                    </div>
                    <!-- <div class="text-center">
                        <a href="" class="see-all">See more comments</a>
                    </div> -->
                </div>
            </div>

            <div class="absloute-menu side-bar-menu" ng-class="post.showpopup ? 'active' : 'inactive'" ng-include="'templates/template-parts/leftmenu.html'">
               
            </div>
            <div class="absloute-menu" ng-class="post.showsocialpopup ? 'active' : 'inactive'" ng-include="'templates/template-parts/social-menu.html'">
               
            </div>
             
        </div>
        <ion-infinite-scroll 
            on-infinite="populateList()" ng-if="!lastPage" distance="1%">
        </ion-infinite-scroll> 
    </ion-content>

    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">

    </div>
</ion-view>
