<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="location tracking">
    <ion-content class="explore-page no-padding mb-5" ng-init="getCityDetails();getCityList();">
        <div class="filter-strip">
            <div class="row">
                <div class="col col-20">
                    <div class="left" ng-click="goBackToFind()">
                        <a ui-sref="find-service" class="icon-filter"><img src="../img/back-arw.png" alt="back-arw"></a>
                    </div>
                </div>
                <div class="col col-60">
                    <div class="text-center plc" ng-controller="locationCtrl">
                        <!-- <h3>Hotsun</h3> -->
                        <input type="text" ion-autocomplete autocomplete="off" 
                        max-selected-items="1" 
                        items-method="getAutocompleteCity(query)"
                        item-value-key="id"
                        item-view-value-key="name"
                        items-clicked-method="setSelectedCity(callback)"
                        ng-model="cityname"
                        value="cityname"
                        class="map-text" placeholder="Enter location" >
                    </div>
                </div>
                <div class="col col-20">
                  <div class="right" ng-init="reassignUser()">
                    <a ui-sref="member-profile-member-view({userId:loginUserDetails.id})" class="icon-filter">
                      <img ng-src="{{loginUserDetails.image_url + loginUserDetails.profile_image}}" ng-if="loginUserDetails.profile_image" class="ig r-div">
                      <img ng-src="../img/default_user.jpeg" ng-if="!loginUserDetails.profile_image" class="ig r-div">
                    </a>
                  </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->
        <div class="map-holder" ng-init="IsActive=true">
           <!-- <img src="../img/map-location.png" alt="">-->
            <map center="36.168930,-115.189049" zoom="15" 
            style="width: 100%;height: 100vh;margin:0;padding:0"
            zoom-control="false"
            pan-control="false"
            map-type-control="false"
            styles='[
            {
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#212121"
                }
              ]
            },
            {
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "color": "#212121"
                }
              ]
            },
            {
              "featureType": "administrative",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "administrative.country",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            },
            {
              "featureType": "administrative.land_parcel",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "administrative.locality",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#bdbdbd"
                }
              ]
            },
            {
              "featureType": "landscape",
              "stylers": [
                {
                  "color": "#181525"
                }
              ]
            },
            {
              "featureType": "landscape.man_made",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#181525"
                }
              ]
            },
            {
              "featureType": "landscape.man_made",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#181525"
                }
              ]
            },
            {
              "featureType": "poi",
              "stylers": [
                {
                  "color": "#181525"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#181818"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#616161"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "color": "#1b1b1b"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#2c2c2c"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#8a8a8a"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#373737"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#120d19"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#120d19"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "stylers": [
                {
                  "color": "#120d19"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#3c3c3c"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#120d19"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#120d19"
                }
              ]
            },
            {
              "featureType": "road.highway.controlled_access",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#4e4e4e"
                }
              ]
            },
            {
              "featureType": "road.highway.controlled_access",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#120d19"
                }
              ]
            },
            {
              "featureType": "road.highway.controlled_access",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#120d19"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "geometry.fill",
              "stylers": [
                {
                  "color": "#120d19"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "geometry.stroke",
              "stylers": [
                {
                  "color": "#120d19"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#616161"
                }
              ]
            },
            {
              "featureType": "transit",
              "stylers": [
                {
                  "color": "#181525"
                }
              ]
            },
            {
              "featureType": "transit",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "water",
              "stylers": [
                {
                  "color": "#181525"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#000000"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#3d3d3d"
                }
              ]
            }
          ]'>
          <marker
            position="{{user.userlat}},{{user.userlong}}"
            title="{{user.name}}"
            animation="Animation.DROP"
            draggable="false"
            icon="{
              url:'img/finder.png',
              scaledSize:[25,40],
              origin: [0,0],
              anchor: [50,50]
            }"
            visible="true" ng-repeat="user in usersList">
          </marker>
        </map>
    </div>


    </ion-content>
    <div class="search-count-holder" ng-class="IsActive ? 'active' : 'inactive'" ng-init="getUserList()">
        <div class="search-count"  ng-click="IsActive=!IsActive">
            <p>We found {{totalUsercount}} matches for you</p>
        </div>
        <div class="bottom-bg" >
            <div class="bottom-holder" ng-repeat="user in usersList" ng-if="user.id">
                <div class="srch-result-head">
                    <div class="row" ng-click="goToSingleResult(user.id)">
                        <div class="col col-75">
                            <div class="flex">
                                <div class="img-box">
                                    <img src="../img/news1.png" alt="" ng-if="!user.profile_image">
                                    <img src="{{userImageUrl + user.profile_image}}" alt="" ng-if="user.profile_image">
                                    <span class="icon-img"><img src="../img/1c.png" alt=""></span>
                                </div>
                                <div class="head-text">
                                    <span>{{ (user.usercity != null) ? user.usercity + '  | ' : '' }} {{ user.distance }} mile (s) away</span>
                                    <!-- <span>{{ user.cityname }}   |  {{ user.distance}} mile (s) away</span> -->
                                    <h3>{{user.name}}</h3>
                                    <span class="ratings">
                                        <div class="starrate small">
                                            <span ng-class="{active:user.ratings>=1}"></span>
                                            <span ng-class="{active:user.ratings>=2}"></span>
                                            <span ng-class="{active:user.ratings>=3}"></span>                        
                                            <span ng-class="{active:user.ratings>=4}"></span>
                                            <span ng-class="{active:user.ratings>=5}"></span>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-25">
                            <div class="reviews text-center">
                                <img src="../img/pro-batch.png" alt="" style="width: 20px; margin-top:6px;">
                                <span>{{ user.followers_count }} Followers</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery-div3 four-image new-gallery">
                        <ul>
                            <li ng-repeat="photo in user.user_photos" ng-if="!photo.gallery && $index < 4">
                                <div class="img-maindiv">
                                    <figure>
                                        <div class="img-dv text-center">
                                            <img src="{{userImageUrl + photo.name}}" alt="">
                                        </div>

                                    </figure>
                                </div>
                            </li>
                        </ul>
                    </div>
                <div class="text-center des-text-search">
                    <!-- <p>Specializing in all Hair and Beauty care needs. Braids, Extensions</p> -->
                    <p>{{ user.bio }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">
    </div>
</ion-view>
