<!--
  Generated template for the MemberSignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="member-signup">
    <ion-content no-padding class="splash-screen">
        <div class="logo-center">
            <div class="align-self-bottom">
                <img src="../img/logo.png" alt="logo">
                <div class="sign-separator full-width">
<button class="purple-btn" ui-sref="login">Log in</button>
<button class="outline-sing" ui-sref="create-account">Create Account</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

<style>
    .scroll {height: 100%}
</style>
