<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="settings">
    <ion-content class="profile-page white-bg no-padding" overflow-scroll="true" ng-init="getCurlCategories();getUserDetails();">
        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">
        </div>
        <!--<div class="filter-strip">
            <div class="row">
                <div class="col col-20">
                    <div class="left">
                        <a href="" class="icon-filter g-search"><img src="../img/search-icon.png" alt="search"></a>
                    </div>
                </div>
                <div class="col col-80">
                    <div class="right">
                          <a href="" class="icon-filter" ng-click="goToProviderProfile()"><img src="../img/rf-icon.png" alt="search"></a>
                        <a href="" class="icon-filter g-filter" ng-click="goToFilter()"><img src="../img/filter-icon.png" alt="search"></a>
                        <a href="" class="icon-filter g-location" ng-click="goToFindService()"><img src="../img/location.png" alt="search"></a>
                        <a href="" class="icon-filter g-menu" ng-click="goToSettings()"><img src="../img/menu-icon.png" alt="search"></a>
                    </div>
                </div>
            </div>
        </div>-->
        <!--end of filter-strip-->
        <div class="new-pro">
            <div class="form-reg">
                <div class="row" ng-if="signupForm.details_saved==0">
                    <div class="col col-100">
                        <select ng-model="signupForm.user_type" class="style-select">
                            <option value="M">Member</option>
                            <option value="P">Provider</option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-if="signupForm.user_type=='P' && signupForm.details_saved==0">
                        <div class="col col-100">
                            <select ng-model="signupForm.user_provider_type" class="style-select">
                                <option value="2">Stylist</option>
                                <option value="3">Barber</option>
                                <option value="1">Salon</option>
                                <option value="4">Beauty Supply</option>
                                <option value="5">Barbershop</option>
                                
                            </select>
                        </div>
                    </div>
                 <div class="row">
                    <div class="col col-100">
                        <input type="text" class="styled-input" ng-model="signupForm.name" placeholder="Profile Name">
                    </div>
                 </div>
                  <div class="pic-choose centerd">
                      <p>Edit your Icon photo</p>
                      <input type="file"  id="pic1">
                      <label class="circle-pic" ng-click="selectUserProfileMainPic()" style="{{signupForm.profile_image_url?'background:none;':''}} position:relative">
                          <img class="circle-pic cover-fit" src="{{signupForm.profile_image_url}}" ng-if="signupForm.profile_image_url!=''" >
                          <img class="circle-pic cover-fit" src="{{userDetData.profile_image}}" ng-if="signupForm.profile_image_url=='' && userDetData.profile_image !=''" >
                          
                      </label>
                  </div>
                  <p class="photo-style-text" style="margin-bottom:0">Select up to 4 Profile photos </p>
                  <div class="row pic-upload-area">
                      <div class="col col-50">
                          <div class="pic-choose new-pic" ng-click="selectProfilePic('0')">
                            <!--<input type="file" id="pic2">-->
                            <label for="pic2">
                                <!-- <img style="max-height:100%;max-width:100%; object-fit: cover; height: 100%; width: 100%;" src="{{signupForm.profile_pics[0].url}}" ng-if="signupForm.profile_pics && signupForm.profile_pics[0]">
                                <img style="max-height:100%;max-width:100%;" src="{{userDetData.image_url+userDetData.user_photos[0].name}}" ng-if="!signupForm.profile_pics[0] && userDetData.user_photos[0].name !=''"> -->
                                <img style="max-height:100%;max-width:100%; object-fit: cover; height: 100%; width: 100%;" 
                                src="{{userDetData.image_url+userDetData.user_photos[0].name}}" 
                                ng-if="signupForm.profile_pics && !signupForm.profile_pics[0] && userDetData.user_photos[0].name">
                                <img style="max-height:100%;max-width:100%;" src="{{signupForm.profile_pics[0].url}}" 
                                ng-if="signupForm.profile_pics && signupForm.profile_pics[0] && signupForm.profile_pics[0].url !=''">
                            </label>
                        </div>
                      </div>

                      <div class="col col-50">
                          <div class="pic-choose new-pic" ng-click="selectProfilePic('1')">
                            <label for="pic3">
                                <img style="max-height:100%;max-width:100%; object-fit: cover; height: 100%; width: 100%;" 
                                src="{{userDetData.image_url+userDetData.user_photos[1].name}}" 
                                ng-if="signupForm.profile_pics && !signupForm.profile_pics[1] && userDetData.user_photos[1].name">
                                <img style="max-height:100%;max-width:100%;" src="{{signupForm.profile_pics[1].url}}" ng-if="signupForm.profile_pics && signupForm.profile_pics[1] && signupForm.profile_pics[1].url !=''">
                            </label>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col col-50">
                          <div class="pic-choose new-pic" ng-click="selectProfilePic('2')">
                            <label for="pic4">
                                <img style="max-height:100%;max-width:100%; object-fit: cover; height: 100%; width: 100%;" 
                                src="{{userDetData.image_url+userDetData.user_photos[2].name}}" 
                                ng-if="signupForm.profile_pics && !signupForm.profile_pics[2] && userDetData.user_photos[2].name">
                                <img style="max-height:100%;max-width:100%;" src="{{signupForm.profile_pics[2].url}}" 
                                ng-if="signupForm.profile_pics && signupForm.profile_pics[2]">
                            </label>
                        </div>
                      </div>
                      <div class="col col-50">
                          <div class="pic-choose new-pic" ng-click="selectProfilePic('3')">
                            <label for="pic5">
                                <img style="max-height:100%;max-width:100%; object-fit: cover; height: 100%; width: 100%;" src="{{userDetData.image_url+userDetData.user_photos[3].name}}" ng-if="signupForm.profile_pics && !signupForm.profile_pics[3] && userDetData.user_photos[3].name">
                                <img style="max-height:100%;max-width:100%;" src="{{signupForm.profile_pics[3].url}}" ng-if="signupForm.profile_pics && signupForm.profile_pics[3]">
                            </label>
                        </div>
                      </div>
                  </div>
                <div class="row description-box">
                    <div class="col col-100">
                        <textarea type="text" class="styled-input" maxlength="150" ng-model="signupForm.bio" placeholder="Description"></textarea>
                        <div class="right">
                            <small style="color: #888;">150</small>
                        </div>
                    </div>
                </div>

                <div style="padding:0 10px">
                    <div class="select-imput provider-curl gray-root" ng-class="IsActive ? 'active' : 'inactive'" ng-click="SelectToggle()">
                        <label style="color:#736f6f !important;-webkit-text-fill-color:#736f6f;background: none">Root Curl Pattern</label>
                        <span style="color:#736f6f !important;-webkit-text-fill-color:#736f6f;background: none">Find out what your root Curl Pattern is here)</span>
                        <img src="../img/select-arw-right.png" alt="">
                    </div>
                    <div class="root-curl-box" ng-class="IsActive ? 'active' : 'inactive'">

                        <div class="item-wrap" ng-if="curlCategories" ng-repeat="cat in curlCategories">
                            <div class="black-heading">
                                <span>{{cat.id}}</span>
                                <h2>{{cat.title}}</h2>
                            </div>
                            <div class="row">
                                <div class="col col-33" ng-repeat="pattern in cat.curl_patterns" ng-click="signupForm.curlpattern_id = pattern.id;SelectToggle()">
                                    <div class="card purple-box curl-box {{signupForm.curlpattern_id == pattern.id?'selected':''}}">
                                        <div class="mask"></div>
                                        <div class="head-box text-center">
                                            <p>{{pattern.title}}</p>
                                            <small>{{pattern.name}}</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/{{pattern.image}}" alt="">
                                            <span class="icon-img">
                                                <img src="../img/{{pattern.icon}}" alt="">
                                            </span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style" ng-bind-html="pattern.description">
                                                <!-- <li>S Shape</li>
                                                <li>Naturally defined curls</li>
                                                <li>Can Wash n Go</li> -->
                                            </ul>
                                            <p>
                                                <img src="../img/{{pattern.curl_image}}" alt="hair">
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>






                            <!--<div class="item-wrap">
                                <div class="black-heading">
                                    <span>4</span>
                                    <h2>Kinky Coily Curly</h2>
                                </div>
                                <div class="row">
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box selected">
                                            <div class="mask"></div>
                                            <div class="head-box text-center">
                                                <p>4a</p>
                                                <small>Sunflower</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img1.png" alt="">
                                                <span class="icon-img"><img src="../img/4a.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>S Shape</li>
                                                    <li>Naturally defined curls</li>
                                                    <li>Can Wash n Go</li>
                                                </ul>
                                                <p><img src="../img/hair1.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box ">
                                            <div class="head-box text-center">
                                                <p>4b</p>
                                                <small>Rose</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img2.png" alt="">
                                                <span class="icon-img"><img src="../img/4b.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Z Shape</li>
                                                    <li>Fuffy Appearance</li>
                                                    <li>Shrinks up to 70%</li>
                                                </ul>
                                                <p><img src="../img/hair2.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box">
                                            <div class="head-box text-center">
                                                <p>4c</p>
                                                <small>Marigold</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img3.png" alt="">
                                                <span class="icon-img"><img src="../img/4c.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Tightly coiled</li>
                                                    <li>No defined curl pattern</li>
                                                    <li>Shrinks up to 70%</li>
                                                </ul>
                                                <p><img src="../img/hair3.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-wrap">
                                <div class="black-heading">
                                    <span>3</span>
                                    <h2>Curly</h2>
                                </div>
                                <div class="row">
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box">
                                            <div class="head-box text-center">
                                                <p>3a</p>
                                                <small>Daisy</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img4.png" alt="">
                                                <span class="icon-img"><img src="../img/3a.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Clear S shape</li>
                                                    <li>Can range in density</li>
                                                    <li>Lots of Definition</li>
                                                </ul>
                                                <p><img src="../img/hair4.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box ">
                                            <div class="head-box text-center">
                                                <p>3b</p>
                                                <small>Buttercup</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img5.png" alt="">
                                                <span class="icon-img"><img src="../img/3b.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Springy Curls</li>
                                                    <li>Needs Moisture</li>
                                                    <li>Voluminous Curls</li>
                                                </ul>
                                                <p><img src="../img/hair5.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box">
                                            <div class="head-box text-center">
                                                <p>3c</p>
                                                <small>Tulip</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img6.png" alt="">
                                                <span class="icon-img"><img src="../img/3c.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Tight Cork Screws</li>
                                                    <li>Extreme Volume</li>
                                                    <li>Most Shrinkage</li>
                                                </ul>
                                                <p><img src="../img/hair6.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-wrap">
                                <div class="black-heading">
                                    <span>2</span>
                                    <h2>Wavy</h2>
                                </div>
                                <div class="row">
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box">
                                            <div class="head-box text-center">
                                                <p>2a</p>
                                                <small>Hyacinth</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img7.png" alt="">
                                                <span class="icon-img"><img src="../img/2a.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Fine & Thin</li>
                                                    <li>Loose Touseled look</li>
                                                    <li>Wavy</li>
                                                </ul>
                                                <p><img src="../img/hair7.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box ">
                                            <div class="head-box text-center">
                                                <p>2b</p>
                                                <small>Gerbera</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img8.png" alt="">
                                                <span class="icon-img"><img src="../img/2b.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Straight at the roots</li>
                                                    <li>S shaped on the end</li>
                                                    <li>Light frizz at roots</li>
                                                </ul>
                                                <p><img src="../img/hair8.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box">
                                            <div class="head-box text-center">
                                                <p>2c</p>
                                                <small>Gazania</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img9.png" alt="">
                                                <span class="icon-img"><img src="../img/2c.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Defined waves</li>
                                                    <li> Thick</li>
                                                    <li>Prone to frizzing</li>
                                                </ul>
                                                <p><img src="../img/hair9.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-wrap">
                                <div class="black-heading">
                                    <span>1</span>
                                    <h2>straight</h2>
                                </div>
                                <div class="row">
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box">
                                            <div class="head-box text-center">
                                                <p>1a</p>
                                                <small>Lotus</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img10.png" alt="">
                                                <span class="icon-img"><img src="../img/1a.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Soft and Shiny</li>
                                                    <li>Thin & wispy</li>
                                                    <li>Straight</li>
                                                </ul>
                                                <p><img src="../img/hair10.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box ">
                                            <div class="head-box text-center">
                                                <p>1b</p>
                                                <small>Saffron</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img11.png" alt="">
                                                <span class="icon-img"><img src="../img/1b.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Medium Volume</li>
                                                    <li> Straight</li>
                                                    <li>Holds curls</li>
                                                </ul>
                                                <p><img src="../img/hair11.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-33">
                                        <div class="card purple-box curl-box">
                                            <div class="head-box text-center">
                                                <p>1c</p>
                                                <small>Dahlia</small>
                                            </div>
                                            <div class="img-box">
                                                <img src="../img/img12.png" alt="">
                                                <span class="icon-img"><img src="../img/1c.png" alt=""></span>
                                            </div>
                                            <div class="txt-box">
                                                <ul class="list-style">
                                                    <li>Stick Straight</li>
                                                    <li> Slight Bends</li>
                                                    <li>Thick</li>
                                                </ul>
                                                <p><img src="../img/hair12.png" alt="hair" style=""></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                </div>
                <div class="text-center t-btnbt">
                    <p style="margin-bottom: 0;margin-top: 10px;">Advanced Options</p>
                    <small>(optional)</small>
                    <div class="toggle-btn text-center">
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" name="AdvancedOption" ng-model="AdvancedOption" ng-change="onChangeAdvance($event)">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                    </div>
                </div>
            </div>
            <div ng-if="AdvancedOption">
                <div class="row address-box">
                    <div class="col col-100">
                        <input type="text" class="styled-input" ng-model="signupForm.address1" placeholder="Street Address">
                        <input type="text" class="styled-input" ng-model="signupForm.address2" placeholder="City, State, Zip">
                        <div class="input-phone-number">
                            <!-- <i class="icon ion-android-call placeholder-icon"></i> -->
                            <input type="tel" placeholder="Phone Number" ng-model="signupForm.phone" class="styled-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-gender">
                <p class="photo-style-text mb-0">Gender</p>
                <p class="photo-style-text mb-0" style="font-size:12px">(Please select one)</p>
                <div class="row">
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn" ng-click="signupForm.gender = 'M'">
                                <input type="radio" hidden="" ng-model="signupForm.gender" value="M" name="gender">
                                <img src="../img/gray-male.png" class="first-img" alt="male">
                                <img src="../img/male-active.png" class="second-img" alt="male">
<!--                                <i class="icon ion-male"></i>-->
                                <small>Male</small>
                            </label>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn" ng-click="signupForm.gender = 'F'">
                                <input type="radio" hidden="" ng-model="signupForm.gender" value="F" name="gender">
                                <img src="../img/gray-female.png" class="first-img" alt="male">
                                <img src="../img/female-active.png" class="second-img" alt="male">
<!--                                <i class="icon ion-female"></i>-->
                                <small>Female</small>
                            </label>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn" ng-click="signupForm.gender = 'O'">
                                <input type="radio" ng-model="signupForm.gender" value="O" name="gender" hidden="">
                                <p>I'll Pass</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-cat">
                <div class="list">
                    <input type="text" ng-model="signupForm.dob" readonly ng-click="openDatepicker()" class="styled-input" placeholder="Enter your date of birth">
                </div>
                <div class="list">
                    <ul style="list-style-type: none; width:100%">
                        <li class="style-select" style="position: relative; width:100%;">
                            <a href="" style="color: #777; display: block; text-align: left; font-size: 12px; border: none; " ng-click="toggleEthnicity()">{{signupForm.ethnicity}}</a>
                            <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                                <ul style="padding:5px; list-style-type: none" ng-If="IsShowEth">
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;"
                                            ng-click="selectEthnicity('Black')">Black</a>
                                    </li>
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;"
                                            ng-click="selectEthnicity('White')">White</a>
                                    </li>
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;"
                                            ng-click="selectEthnicity('Hispanic')">Hispanic</a>
                                    </li>
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;"
                                            ng-click="selectEthnicity('Latino')">Latino</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list">
                    <ul style="list-style-type: none; width:100%">
                      <li class="style-select" style="position: relative; width:100%;">
                        <a href="" style="color:#777; display: block; text-align: left; font-size: 12px; border: none; " ng-click="toggleTexture()">{{signupForm.texture}}</a>
                        <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                        <ul style="padding:5px; list-style-type: none" ng-If="IsShowText">
                        <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectTexture('Fine')">Fine</a></li>
                        <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectTexture('Medium')">Medium</a></li>
                        <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;" ng-click="selectTexture('Thick')">Thick</a></li>

                        </ul>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>

        <div class="text-center">
            <button type="button" class="btn-grid" ng-click="saveUserDetails()">Update</button>
        </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">
    </div>
</ion-view>
