<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="post creation" ng-init="pageTitle = ''">
    <ion-content class="news-option common-screen no-padding" ng-init="getUserDetails1()">
        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">

        </div>
        <!--end of filter-strip-->
        <div class="news-section">

            <div class="news-header post-header">
                <div class="header-profile">
                    <div class="left" ng-if="currentUser.id !=getUserId">
                        <a ng-click="followUser()" class="dark-fllow-btn">{{userDetData.my_follow && userDetData.my_follow.length>0?'Unfollow':'Follow'}}</a>
                        <a style="margin-left: 10px;" ng-if="userDetails.id != getUserId" class="dark-fllow-btn" ng-click="goToChatDetails(userDetails.id,getUserId)"> <img src="../img/message.png" alt="" style="padding-top: 5px;" height="15px"></a>
                    </div>
                </div>
                <div class="right-icon right">
                   <span  class="text-grid">{{ userDetails.user_type == 'M'? 'Member' : 'Provider' }}</span>
                   <a href="" ng-if="userDetails.id == getUserId"><img ng-click="goTomemberProfilePreferences()" src="../img/edit-icon.png" alt="" style="width: 30px;"></a>
                </div>
            </div>
            <div class="main-image-box" ng-if="userDetData.user_photos.length > 0">
                <img src="{{userDetData.image_url+userDetData.user_photos[0].name}}" alt="">
            </div>
            <div class="row following-box-sidebar">
                <div class="col-75">
                    <div class="row">
                        <div class="col col-33" ng-repeat="pic in userDetData.user_photos" ng-if="$index > 0 && $index < 4">
                            <div class="image-box" ng-click="changebigphoto($index, pic.name)">
                                <img src="{{userDetData.image_url+pic.name}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col col-25">
                    <div class="image-box">
                       <img src="../img/profile2.png" alt="">
                    </div>
                </div>
                <div class="col col-25">
                    <div class="image-box">
                        <img src="../img/profile3.png" alt="">
                    </div>
                </div>-->
                <div class="col col-25">
                    <div class="text-center">
                        <div class="border-bootom">
                            <span class="text-white">Followers</span>
                            <p>{{userDetData.followers_count}}</p>
                        </div>
                        <div class="b-txt">
                            <span class="text-white">Following</span>
                            <p>{{userDetData.following_count}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-pro text-center" ng-show="userDetData.user_type == 'P'">
                <h3 class="text-white" style="font-size: 18px; font-weight: 600;">
                  <img ng-if="!selectedCurlPatten" src="../img/3a.png" alt="" style="width: 24px; position: relative; top: 3px;">

                    <img ng-if="selectedCurlPatten" src="../img/{{selectedCurlPatten.icon}}" alt="" style="width: 24px; position: relative; top: 3px;">
                  {{userDetData.name}}</h3>
                <div class="conts-div centerr">
                    <ul class="">
                        <li ng-if="userDetData.address1"><img src="../img/map-marker.png" alt=""> <span>{{userDetData.address1 + " " + userDetData.address2}}</span></li>
                        <li ng-if="userDetData.phone"><img src="../img/phone.png" alt=""> <span><a href="{{trustSrc('tel:' + userDetData.phone)}}">{{userDetData.phone}}</a></span></li>
                    </ul>
                </div>
            </div>
            <div class="phonix text-center" ng-show="userDetData.user_type == 'M'">
                <h3 class="text-white"><img ng-if="!selectedCurlPatten" src="../img/3a.png" alt="" style="width: 24px; position: relative; top: 3px;">

                    <img ng-if="selectedCurlPatten" src="../img/{{selectedCurlPatten.icon}}" alt="" style="width: 24px; position: relative; top: 3px;">
                    {{userDetData.name}}</h3>
                <p ng-bind-html="userDetData.bio | limitTo : 150" style="font-size:11px;line-height: 13px;"></p>
                <!-- <p ng-if="userDetails.id != getUserId" ng-click="goToChatDetails(userDetails.id,getUserId)">Chat</p> -->

            </div>
            <div class="my-folio pt-4">
                <h3 class="text-white"><img src="../img/camera.png" alt="" style="width: 20px;"> MyFolio</h3>
                <div class="row folio-image">
                    <div class="col col-33" ng-repeat="pic in userPhotos" >
                        <div class="folio-img-div" ui-sref="listings-details({post_id:pic.post_id})">
                            <img ng-src="{{pic.name}}" alt="">
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </ion-content>
    

    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">
    </div>
</ion-view>
