<!--
  Generated template for the MemberCreateaccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="member-creataccount">
    <ion-content no-padding class="splash-screen">
        <div class="logo-center">
            <div class="align-self-bottom">
                <img src="../img/logo.png" alt="logo">
                <div class="sign-separator full-width">
                    <p class="terms-condition">By signing up, you agree to our <a href="" ng-click="goToPrivacy()">Terms</a> and that you've read our  <a href="" ng-click="goToPrivacy()">Privacy Policy.</a></p>
                    <button class="outline-sing btn-sign-up" ng-click="goToRegister()">Sign me up</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

<style>
    .scroll {height: 100%}
</style>
