<!--
  Generated template for the MemberLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="member-login" ng-init="initLoginForm()">
    <ion-content no-padding class="splash-screen">

        <div class="logo-center" style="flex-wrap: wrap; height: 100%;">
            <a ui-sref="member-signup" class="back-btn" style="margin: 15px" >Back to Signup</a>
            <div class="align-self-bottom" style="padding: 0 15%;">
                <div class="clear">
                    <img src="../img/logo.png" alt="logo">
                </div>
                <div class="sign-separator">
                    
                    <form method="post" ng-submit="submitLogin()">
                        <div class="input-holder">
                            <input type="text"  class="purple-btn" ng-model="loginForm.username" placeholder="Username" autofill="no"/>
                        </div>
                        <div class="input-holder">
                            <input type="password" class="purple-btn" ng-model="loginForm.password" placeholder="Password" autofill="no"/>
                            <span>(Case Sensitive)</span>
                            <button ion-button class="round-btn">Enter</button>
                        </div>
                    </form>
                    <div class="input-holder">
                        <div class="clear check-box">
                        <input type="checkbox" class="styled-checkbox" checked="" id="sig" style="width:auto">
                            <label for="sig">Keep me Signed in</label>
                        </div>
                        <label class="forgot-password" ui-sref="forgot-password">Forgot my password</label>
                    </div>
                    <div class="social-area">
                            <ul>
                                <li><a ng-click="facebookLogin()"><img src="../img/facebook-logo.png" alt="logo"></a></li>
                                <li><a ng-click="googleSignIn()"><img src="../img/google-plus-new.png" alt="logo"></a></li>
                            </ul>
                    </div>
                    <!--<div class="input-holder right-button">                        
                        <button ion-button class="loginWithbutton" style="width: 154px !important;" onclick=""><img src="../img/facebook-logo.png" alt="logo"></button>
                    </div>
                    <div class="input-holder right-button">                        
                        <button ion-button class="loginWithbutton" style="width: 154px !important;" onclick=""><img src="../img/google-plus-new.png" alt="logo"></button>
                    </div>-->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

<style>
    .scroll{height:100%}
</style>
