<!--
  Generated template for the ChooseAccountTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="choose-account-type">
    <ion-content  class="common-screen no-padding member-form-bg">
        <div style="background:none">
            <div class="free-hight">
                <div class="padding20">
                    <div  class="top-side-logo row pt-4">
                        <div class="col">
                            <div class="side-logo">
                                <img src="../img/side-logo2.png" alt="">
                            </div>
                        </div>
                        <div class="t-txt col">
                            <h1 style="color:#e20cec">rootsfolio</h1>
                        </div>
                    </div>
                    <div class="form-reg">
                        <input type="text" class="styled-input" placeholder="Create Username">
                        <input type="text" class="styled-input" placeholder="Password">
                        <input type="text" class="styled-input" placeholder="Re-Type Password">
                        <div class="clear check-box text-right">
                            <div class="checkbox-outer">
                                <input type="checkbox" class="styled-checkbox" checked="true">
                                <label>Show Password</label>
                            </div>
                        </div>
                            <input type="text" class="styled-input" placeholder="Profile Name">
                            <input type="text" class="styled-input" placeholder="Email">

                            <div class="pic-choose centerd">
                                <p>choose your Icon photo</p>
                                <input type="file"  id="pic1">
                                <label for="pic1"></label>
                            </div>
                            <p class="photo-style-text" style="margin-bottom:0">Select up to 4 Profile photos </p>
                            <div class="row">
                                <div class="col col-50">
                                    <div class="pic-choose">
                                    <input type="file" id="pic2">
                                    <label for="pic2"></label>
                                </div>
                                </div>

                                <div class="col col-50">
                                    <div class="pic-choose">
                                    <input type="file" id="pic3">
                                    <label for="pic3"></label>
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-50">
                                    <div class="pic-choose">
                                    <input type="file" id="pic4">
                                    <label for="pic4"></label>
                                </div>
                                </div>
                                <div class="col col-50">
                                    <div class="pic-choose">
                                    <input type="file" id="pic5">
                                    <label for="pic5"></label>
                                </div>
                                </div>
                            </div>
                    </div>
                    <div class="text-center">
                        <p class="communications-discount-text">Yes, I would like to recieve  promotional communications and discounts.</p>
                    </div>
                    <div class="toggle-btn text-center">
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" checked="">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                            </label>
                    </div>

                    <div class="select-imput" ng-class="IsActive ? 'active' : 'inactive'" ng-click="SelectToggle()">
                        <label >Select  Your Root Curl Pattern</label>
                        <span>Select your root curl pattern</span>
                        <img src="../img/side-arrow.png" alt="">
                    </div>
                    <div class="root-curl-box" ng-class="IsActive ? 'active' : 'inactive'">
                        <div class="item-wrap">
                            <div class="black-heading">
                                <span>4</span>
                                <h2>Kinky Coily Curly</h2>
                            </div>
                            <div class="row">
                                <div class="col col-33">
                                    <div class="card purple-box curl-box selected">
                                        <div class="mask"></div>
                                        <div class="head-box text-center">
                                            <p>4a</p>
                                            <small>Sunflower</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img1.png" alt="">
                                            <span class="icon-img"><img src="../img/4a.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>S Shape</li>
                                                <li>Naturally defined curls</li>
                                                <li>Can Wash n Go</li>
                                            </ul>
                                            <p><img src="../img/hair1.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-33">
                                    <div class="card purple-box curl-box ">
                                        <div class="head-box text-center">
                                            <p>4b</p>
                                            <small>Rose</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img2.png" alt="">
                                            <span class="icon-img"><img src="../img/4b.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Z Shape</li>
                                                <li>Fuffy Appearance</li>
                                                <li>Shrinks up to 70%</li>
                                            </ul>
                                            <p><img src="../img/hair2.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-33">
                                    <div class="card purple-box curl-box">
                                        <div class="head-box text-center">
                                            <p>4c</p>
                                            <small>Marigold</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img3.png" alt="">
                                            <span class="icon-img"><img src="../img/4c.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Tightly coiled</li>
                                                <li>No defined curl pattern</li>
                                                <li>Shrinks up to 70%</li>
                                            </ul>
                                            <p><img src="../img/hair3.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-wrap">
                            <div class="black-heading">
                                <span>3</span>
                                <h2>Curly</h2>
                            </div>
                            <div class="row">
                                <div class="col col-33">
                                    <div class="card purple-box curl-box">
                                        <div class="head-box text-center">
                                            <p>3a</p>
                                            <small>Daisy</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img4.png" alt="">
                                            <span class="icon-img"><img src="../img/3a.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Clear S shape</li>
                                                <li>Can range in density</li>
                                                <li>Lots of Definition</li>
                                            </ul>
                                            <p><img src="../img/hair4.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-33">
                                    <div class="card purple-box curl-box ">
                                        <div class="head-box text-center">
                                            <p>3b</p>
                                            <small>Buttercup</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img5.png" alt="">
                                            <span class="icon-img"><img src="../img/3b.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Springy Curls</li>
                                                <li>Needs Moisture</li>
                                                <li>Voluminous Curls</li>
                                            </ul>
                                            <p><img src="../img/hair5.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-33">
                                    <div class="card purple-box curl-box">
                                        <div class="head-box text-center">
                                            <p>3c</p>
                                            <small>Tulip</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img6.png" alt="">
                                            <span class="icon-img"><img src="../img/3c.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Tight Cork Screws</li>
                                                <li>Extreme Volume</li>
                                                <li>Most Shrinkage</li>
                                            </ul>
                                            <p><img src="../img/hair6.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-wrap">
                            <div class="black-heading">
                                <span>2</span>
                                <h2>Wavy</h2>
                            </div>
                            <div class="row">
                                <div class="col col-33">
                                    <div class="card purple-box curl-box">
                                        <div class="head-box text-center">
                                            <p>2a</p>
                                            <small>Hyacinth</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img7.png" alt="">
                                            <span class="icon-img"><img src="../img/2a.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Fine & Thin</li>
                                                <li>Loose Touseled look</li>
                                                <li>Wavy</li>
                                            </ul>
                                            <p><img src="../img/hair7.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-33">
                                    <div class="card purple-box curl-box ">
                                        <div class="head-box text-center">
                                            <p>2b</p>
                                            <small>Gerbera</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img8.png" alt="">
                                            <span class="icon-img"><img src="../img/2b.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Straight at the roots</li>
                                                <li>S shaped on the end</li>
                                                <li>Light frizz at roots</li>
                                            </ul>
                                            <p><img src="../img/hair8.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-33">
                                    <div class="card purple-box curl-box">
                                        <div class="head-box text-center">
                                            <p>2c</p>
                                            <small>Gazania</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img9.png" alt="">
                                            <span class="icon-img"><img src="../img/2c.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Defined waves</li>
                                                <li> Thick</li>
                                                <li>Prone to frizzing</li>
                                            </ul>
                                            <p><img src="../img/hair9.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-wrap">
                            <div class="black-heading">
                                <span>1</span>
                                <h2>straight</h2>
                            </div>
                            <div class="row">
                                <div class="col col-33">
                                    <div class="card purple-box curl-box">
                                        <div class="head-box text-center">
                                            <p>1a</p>
                                            <small>Lotus</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img10.png" alt="">
                                            <span class="icon-img"><img src="../img/1a.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Soft and Shiny</li>
                                                <li>Thin & wispy</li>
                                                <li>Straight</li>
                                            </ul>
                                            <p><img src="../img/hair10.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-33">
                                    <div class="card purple-box curl-box ">
                                        <div class="head-box text-center">
                                            <p>1b</p>
                                            <small>Saffron</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img11.png" alt="">
                                            <span class="icon-img"><img src="../img/1b.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Medium Volume</li>
                                                <li> Straight</li>
                                                <li>Holds curls</li>
                                            </ul>
                                            <p><img src="../img/hair11.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-33">
                                    <div class="card purple-box curl-box">
                                        <div class="head-box text-center">
                                            <p>1c</p>
                                            <small>Dahlia</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/img12.png" alt="">
                                            <span class="icon-img"><img src="../img/1c.png" alt=""></span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style">
                                                <li>Stick Straight</li>
                                                <li> Slight Bends</li>
                                                <li>Thick</li>
                                            </ul>
                                            <p><img src="../img/hair12.png" alt="hair" style=""></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center t-btnbt">
                    <p>Advanced Options</p>
                    <div class="toggle-btn text-center">
                        <label class="toggle toggle-assertive mb-0">
                            <input type="checkbox" checked="false" name="AdvancedOption" ng-model="AdvancedOption" ng-change="onChangeAdvance($event)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <div ng-if="AdvancedOption">
                        <div class="form-adv-opt">
                            <div class="padding20-20 deepBg address-box">
                                <input type="text" class="styled-input" placeholder="Address">
                                <input type="text" class="styled-input" placeholder="City, State, Zip">
                                <div class="input-phone-number">
                                    <i class="icon ion-android-call placeholder-icon"></i>
                                    <input type="text" class="styled-input">
                                </div>
                                <div class="clear check-box">
                                    <div class="checkbox-outer location-checkbox">
                                        <input type="checkbox" class="styled-checkbox" checked="true">
                                        <label>Turn on Location & Navigation Services</label>
                                    </div>
                                </div>
                            </div>
                            <div class="padding20-20" style="background:#fff">
                                <div class="select-gender">
                                    <p class="photo-style-text mb-0">Gender</p>
                                    <p class="photo-style-text mb-0" style="font-size:12px">(Please select one)</p>
                                    <div class="row">
                                        <div class="col col-33">
                                            <div class="card">
                                                <label class="r-btn">
                                                    <input type="radio" hidden="" checked="" name="gender">
                                                    <img src="../img/male.png" class="first-img" alt="male">
                                                    <img src="../img/male-active.png" class="second-img" alt="male">
                    <!--                                <i class="icon ion-male"></i>-->
                                                    <small>Male</small>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col col-33">
                                            <div class="card">
                                                <label class="r-btn">
                                                    <input type="radio" hidden="" name="gender">
                                                    <img src="../img/female.png" class="first-img" alt="male">
                                                    <img src="../img/female-active.png" class="second-img" alt="male">
                    <!--                                <i class="icon ion-female"></i>-->
                                                    <small>Female</small>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col col-33">
                                            <div class="card">
                                                <label class="r-btn">
                                                    <input type="radio" name="gender" hidden="">
                                                    <p>I'll Pass</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-cat">
                                    <div class="list">
                                        <select class="style-select">
                                            <option>Birthday</option>
                                            <option>Birthday1</option>
                                            <option>Birthday2</option>
                                        </select>
                                    </div>
                                    <div class="list">
                                        <select class="style-select">
                                            <option>Ethnicity</option>
                                            <option>Ethnicity1</option>
                                            <option>Ethnicity2</option>
                                        </select>
                                    </div>
                                    <div class="list">
                                        <select class="style-select">
                                            <option>Texture</option>
                                            <option>Texture1</option>
                                            <option>Texture2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn-grid" ng-click="goToMemberMainProfile()">update</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="bottom-back-btn padding20">
                    <a href="" ng-click="goToChooseAccount()" class="back-btn" style="color:#0a0a0a">Back</a>

                    <button type="button" class="next-btn" ng-click="goToMemberMainProfile()">Next</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
