<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Message-box">
        <ion-content class="explore-page no-padding mb-5">
            <div class="filter-strip ex">
                <div class="row">
                    <div class="col col-60">
                        <div class="left">
                            <a href="" class="icon-filter"><img src="../img/back-arw.png" alt="back-arw"></a>
                            <a href="" class="icon-filter g-search" style="margin-left:30px" ><img src="../img/search-icon.png" alt="search"></a>
                        </div>
                    </div>
                    <div class="col col-40">
                        <div class="right">
                            <a href="" class="icon-filter"><img src="../img/nl.png" alt="" class="ig"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of filter-strip-->

            <div class="message-box" style="padding-bottom: 110px">
                <div class="message-header">
                    <div class="m-left-box">
                        <div class="imag-box text-center">
                            <img src="../img/eliza.png" alt="">
                            <div class="fl">
                                <img src="../img/fl.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="m-text-div">
                        <h5 class="text-center">You are chatting with</h5>
                        <h3>Eliza</h3>
                    </div>
                </div>

                <div class="message-body">
                    <div class="chat-maindiv">
                        <h6 class="text-center text-white">August 6, 2018</h6>
                    </div>
                    <div class="row responsive-sm message-body-new">
                        <div class="col">
                            <div class="message-right-sec">
                                <div class="rr-div">
                                    <span>Sent today at 4:15 pm</span>
                                    <h5>Definitely. Did you have a question</h5>
                                </div>
                            </div>
                            <div class="all-imgdiv">
                                <img src="../img/a1.jpg" alt="">
                                <img src="../img/a2.jpg" alt="">
                                <h6 class="text-center n-h">These are actually my fave</h6>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </ion-content>
        <div class="chat-footer">
            <div class="icons-div">
                    <img src="../img/cc1.png" alt="" ng-click="goToMessageImgupload()">
                    <img src="../img/cm.png" alt="" ng-click="openCamera()">
                    <img src="../img/vd.png" alt="" ng-click="openMessageLoading()">
            </div>
            <div class="bottom-part">
                <form>
                    <div class="list">
                        <div class="item item-input-inset">
                        <label class="item-input-wrapper" style="width:100px">
                            <input type="text" placeholder="Leave a message">
                        </label>
                        <button class="button button-small">
                            Submit
                        </button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
        <div class="tabs tabs-icon-only">
<a class="tab-item" ng-click="goToFeedback()">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToEplore()">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToNewPost()">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ng-click="goToNotDetails()">
  <img src="../img/notifiaction-dot-icon.png" alt="" style="width:25px;">
</a>
<a class="tab-item" ng-click="goToNotification()">
  <img src="../img/message-icon.png" alt="" style="width:25px;">
</a>
            </div>
    </ion-view>

