<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Message-box" ng-init="pageTitle = 'Chat'">
    <ion-content class="explore-page no-padding mb-5" ng-init="getChats()">
        <div class="filter-strip ex">
            <div class="row">
                <div class="col col-60">
                    <div class="left">
                        <a href="" ng-click="goToBack()" class="icon-filter"><img src="../img/back-arw.png" alt="back-arw"></a>
                        <a href="" ng-click="goToSearch()" class="icon-filter g-search" style="margin-left:30px" ><img src="../img/search-icon.png" alt="search"></a>
                    </div>
                </div>
                <div class="col col-40">
                    <div class="right"> 
                        <a ui-sref="member-profile-member-view({userId:userDetails.id})" class="icon-filter"><img ng-src="{{userDetails.profile_image}}" alt="" class="ig round-div"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->

        <div class="message-box" style="padding-bottom: 220px">
            <div class="message-header">
                <div class="m-left-box">
                    <div class="imag-box text-center">
                        <img ng-src="{{toUserDetData.image_url+toUserDetData.profile_image}}" alt="">
                        <div class="fl">
                            <img ng-if="!toUserDetData.curlpattern_id || !toUserDetData.curl_pattern" src="../img/1c.png" alt="">
                            <img ng-if="toUserDetData.curlpattern_id && toUserDetData.curl_pattern.icon" src="../img/{{toUserDetData.curl_pattern.icon}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="m-text-div">
                    <h5 class="text-center">You are chatting with</h5>
                    <h3>{{toUserDetData.name}}</h3>
                </div>
            </div>

            <div class="message-body">
                <!--<div class="chat-maindiv">
                    <h6 class="text-center text-white">August 6, 2018</h6>
                </div>-->
                <ion-scroll delegate-handle="small" style="height: 320px;">
                <div class="row responsive-sm message-body-new" >

                    <div class="col" ng-repeat="chat in allChats">
                        <div class="message-ldiv" ng-if="chat.sender_id != userDetails.id">
                            <div class="m-left-box">
                                <div class="imag-box text-center">
                                    <img ng-src="{{toUserDetData.image_url+toUserDetData.profile_image}}" alt="">
                                    <div class="fl">
                                        <img ng-if="!toUserDetData.curlpattern_id || !toUserDetData.curl_pattern" src="../img/1c.png" alt="">
                                        <img ng-if="toUserDetData.curlpattern_id && toUserDetData.curl_pattern.icon" src="../img/{{toUserDetData.curl_pattern.icon}}" alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="message-rdiv">
                                <span ng-if="chat.id != ''"> {{chat.cdate | date:'MMM dd yyyy, hh:mm a'}}</span>
                                <span ng-if="chat.id == ''"> Sent today at {{chat.cdate | date:'hh:mm a'}} </span>
                                <h5 ng-if="chat.type == 1"> {{chat.message}} </h5>
                                <div ng-if="chat.type == 2" class="ch-img text-center">
                                    <img src="{{chatFileImgUrl+chat.message}}" alt="">
                                    <!--<h6>Forwarded from @Jaazmin post</h6>-->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="message-right-sec" ng-if="(chat.sender_id == userDetails.id)" on-swipe-left="chat.is_trashMsg=!chat.is_trashMsg"> -->
                        <div class="message-right-sec" ng-if="(chat.sender_id == userDetails.id)">
                            <div class="rr-div" on-swipe-left="swipeLeftEvent($event,chat.id,$index)">
                            <!-- <div class="rr-div" on-drag-left="swipeLeftEvent($event,chat.id,$index)"> -->
                                <span ng-if="chat.id != ''"> {{chat.cdate | date:'MMM dd yyyy, hh:mm a'}}</span>
                                <span ng-if="chat.id == ''">Sent today at {{chat.cdate | date:'hh:mm a'}}</span>
                                <h5 ng-if="chat.type == 1">{{chat.message}}</h5>
                                <div ng-if="chat.type == 2" class="ch-img text-center">
                                    <img ng-if="chat.id != ''" src="{{chatFileImgUrl+chat.message}}" alt="">
                                    <img ng-if="chat.id == ''" src="{{chat.message}}" alt="">
                                    <!--<h6>Forwarded from @Jaazmin post</h6>-->
                                </div>
                            </div>
                            <!-- <div class="rr-div" ng-show="chat.is_trashMsg" ng-click="makeDeleteChat(chat,$index)"><i class="ion-trash-b" style="font-size: 20px;"></i></div> -->
                        </div>
                    </div>
                    <div style="width:100%; height:10px; display: block">&nbsp;</div>
                    <div style="width:100%; height:10px; display: block">&nbsp;</div>
                </div>
                </ion-scroll>
            </div>
        </div>
    </ion-content>
    <div class="chat-footer">
        <div class="icons-div" ng-if="chatSelOptType == 'camera'">
            <!--<img src="../img/cc1.png" alt="" ng-click="goToMessageImgupload()">
            <img src="../img/cm.png" alt="" ng-click="openCamera()">
            <img src="../img/vd.png" alt="" ng-click="openMessageLoading()">-->
            <img ng-click="openGallery()" src="../img/cc1.png" alt="">
            <img ng-click="getImageFromCamera()" src="../img/cm.png" alt="">
            <img ng-click="recordVideo()" src="../img/vd.png" alt="">
        </div>
        <div class="icons-div" ng-if="chatSelOptType == 'gallery'">
            <img ng-click="getImageFromCamera()" src="../img/cc2.png" alt="">
            <img ng-click="openGallery()" src="../img/cc1_clr.png" alt="">
            <img ng-click="recordVideo()" src="../img/vd.png" alt="">
        </div>
        <div class="icons-div" ng-if="chatSelOptType == 'video'">
            <img ng-click="getImageFromCamera()" src="../img/cc2.png" alt="">
            <img ng-click="recordVideo()" src="../img/handicam.png" alt="">
            <img ng-click="openGallery()" src="../img/cc1.png" alt="">
        </div>
        <div class="bottom-part">
            <form>
                <div class="list">
                    <div class="item item-input-inset">
                    <label class="item-input-wrapper" style="width:100px">
                        <input type="text" placeholder="Leave a message" ng-model="message.userMessage" ng-focus="send_typing_stat()" ng-blur="send_stop_typing()">
                    </label>
                    <button class="button button-small" ng-click="sendMessage()">
                        Submit
                    </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl"></div>
</ion-view>
<style>
.rr-div span {
    font-size: 8px;
    top: -28px;
}
.message-body-new .col{
    margin-bottom: 27px;
}
</style>
