<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Message-loading">
    <ion-content class="explore-page no-padding mb-5">
        <div class="filter-strip ex">
            <div class="row">
                <div class="col col-60">
                    <div class="left">
                        <a href="" class="icon-filter"><img src="../img/back-arw.png" alt="back-arw"></a>
                        <a href="" class="icon-filter g-search" style="margin-left:30px"><img src="../img/search-icon.png" alt="search"></a>
                    </div>
                </div>
                <div class="col col-40">
                    <div class="right">
                        <a href="" class="icon-filter"><img src="../img/nl.png" alt="" class="ig"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->

        <div class="message-box">
            <div class="message-header">
                <div class="m-left-box">
                    <div class="imag-box text-center">
                        <img src="../img/eliza.png" alt="">
                        <div class="fl">
                            <img src="../img/fl.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="m-text-div">
                    <h5 class="text-center">You are chatting with</h5>
                    <h3>Eliza</h3>
                </div>
            </div>

            <div class="message-camera">
               <div class="mc-top">
                   <div class="ml">
                    <img src="../img/x.png" alt="">
                   </div>
                   <div class="mr">
                    <img src="../img/bb.png" alt="">
                    <img src="../img/crcl.png" alt="">
                   </div>
               </div>

               <div class="mc-bottom text-center">
                    <img src="../img/cm.png" alt="">
               </div>
            </div>
        </div>
    </ion-content>
    <div class="chat-footer">
             <img src="../img/delete.jpg" alt="" style="width:100%">
            <div class="icons-div">
                <img src="../img/cc1.png" alt="" ng-click="goToMessageImgupload()">
                <img src="../img/vd-active.png" alt="" ng-click="openMessageLoading()">
                <img src="../img/cc2.png" alt="" ng-click="openCamera()">
            </div>
        </div>
    <div class="tabs tabs-icon-only">
<a class="tab-item" ng-click="goToFeedback()">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToEplore()">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToNewPost()">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ng-click="goToNotDetails()">
  <img src="../img/notifiaction-dot-icon.png" alt="" style="width:25px;">
</a>
<a class="tab-item" ng-click="goToNotification()">
  <img src="../img/message-icon.png" alt="" style="width:25px;">
</a>
        </div>
</ion-view>
