<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="news feed">
  <ion-content class="news-option common-screen no-padding">
<div class="chat-head" ng-click="goToPreference()">
      <img src="../img/news1.png" alt="">
    </div>
    <div class="filter-strip">
      <div class="row">
        <div class="col col-20">
          <div class="left">
            <a href="" class="icon-filter" ><img src="../img/search-icon.png" alt="search"></a>
          </div>
        </div>
        <div class="col col-80">
          <div class="right">
            <a href="" class="icon-filter" ng-click="goToProviderProfile()"><img src="../img/rf-icon.png" alt="search"></a>
            <a href="" class="icon-filter" ng-click="goToFilter()"><img src="../img/filter-icon.png" alt="search"></a>
            <a href="" class="icon-filter" ng-click="goToFindService()"><img src="../img/location.png" alt="search"></a>
            <a href="" class="icon-filter" ng-click="goToSettings()"><img src="../img/menu-icon.png" alt="search"></a>
          </div>
        </div>
      </div>
    </div>
    <!--end of filter-strip-->
    <div class="news-section" ng-click="goToNewsDetails()">
      <div class="news-header">
        <div class="header-profile">
          <div class="img-box">
            <img src="../img/news1.png" alt="">
            <span class="icon-img"><img src="../img/1c.png" alt=""></span>
          </div>
          <div class="h-txt">
            <h3>Jasmine</h3>
            <p>Member</p>
            <small>Posted 30 mins ago</small>
          </div>
        </div>
        <div class="right-icon">
          <a href=""><img src="../img/edit-icon.png" alt=""></a>
        </div>
      </div>
      <ion-slide-box class="news-slide">
        <ion-slide><img src="../img/news-slide1.png" alt=""></ion-slide>
        <ion-slide><img src="../img/news-slide1.png" alt=""></ion-slide>
        <ion-slide><img src="../img/news-slide1.png" alt=""></ion-slide>
        <ion-slide><img src="../img/news-slide1.png" alt=""></ion-slide>
        <ion-slide><img src="../img/news-slide1.png" alt=""></ion-slide>
      </ion-slide-box>
      <div class="news-content">
        <div class="feed-icon">
          <a href="" class="likes"><img src="../img/likes-active-icon.png" alt=""><span>2,432 Likes</span></a>
          <a class="heart-icon" href=""><img src="../img/share-icon.png" alt=""></a>
        </div>
        <div class="content-feed">
          <span class="name">Jasmine Taylor</span>
          <p>I absolutely adore these layers. I am looking for an amazing stylist who can do this in Houston.</p>
          <a href="" class="text-grid">more......</a>

          <div class="styled-input reply-div">
            <input type="text" placeholder="Leave A Reply"><button type="submit" class="reply-btn text-grid">Post</button>
          </div>
          <div class="text-center">
            <a href="" class="see-all">See all 11 comments</a>
          </div>
        </div>
      </div>
    </div>
<div class="news-section" ng-click="goToNewsDetails()">
      <div class="news-header">
        <div class="header-profile">
          <div class="img-box">
            <img src="../img/news2.png" alt="">
            <span class="icon-img"><img src="../img/2b.png" alt=""></span>
          </div>
          <div class="h-txt">
            <h3>Tracy Jones</h3>
            <p>Member</p>
            <small>Posted 2 hours ago</small>
          </div>
        </div>
        <div class="right-icon">
          <a href=""><img src="../img/notifiaction-icon.png" alt=""></a>
        </div>
      </div>
      <!--  <ion-slide-box class="news-slide">
                <ion-slide><img src="../img/news-slide-2.png" alt=""></ion-slide>
            </ion-slide-box>-->

      <div class="video-box">
        <img src="../img/news-slide-2.png" alt="">
        <span class="video-icon"></span>
      </div>
      <div class="news-content">
        <div class="feed-icon" style="padding-left: 46px;">
          <a href="" class="likes"><img src="../img/likes-icon.png" alt=""><span>Loved 1,158 </span></a>
          <a href="" class="likes"><img src="../img/play-icon.png" alt=""><span style="top: -8px;">2,554 views</span></a>
          <a class="heart-icon" href=""><img src="../img/share-icon.png" alt=""></a>
        </div>
        <div class="content-feed">
          <span class="name">Tracy Jones</span>
          <p>This Video is so Hot. Love the dreadlocks in slow motion. Sends such a powerful message about embracing
            the true texture and nature of our. </p>
          <a href="" class="text-grid">more......</a>

          <div class="styled-input reply-div">
            <input type="text" placeholder="Leave A Reply"><button type="submit" class="reply-btn text-grid">Post</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-only">
<a class="tab-item" ng-click="goToFeedback()">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToEplore()">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToNewPost()">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ng-click="goToNotDetails()">
  <img src="../img/notifiaction-dot-icon.png" alt="" style="width:25px;">
</a>
<a class="tab-item" ng-click="goToNotification()">
  <img src="../img/message-icon.png" alt="" style="width:25px;">
</a>
  </div>
</ion-view>
