<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Notifications" ng-init="pageTitle = 'Chat List'">
    <ion-content class="explore-page no-padding" ng-init="getChatsList()">
        <div class="filter-strip ex">
            <div class="row">
                <div class="col col-60">
                    <div class="left">
                        <a href="" ng-click="goToBack()" class="icon-filter"><img src="../img/back-arw.png" alt="back-arw"></a>
                        <a href="" ng-click="goToSearch()" class="icon-filter g-search" style="margin-left:30px"><img src="../img/search-icon.png" alt="search"></a>
                    </div>
                </div>
                <div class="col col-40">
                    <div class="right">
                        <a href="Javascript: void(0);" ng-click="goToProfile(userDetails)" class="icon-filter" ng-if="userDetails.profile_image ==''"><img ng-src="../img/default.png" alt="" class="ig r-div"></a>
                        <a href="Javascript: void(0);" ng-click="goToProfile(userDetails)" class="icon-filter" ng-if="userDetails.profile_image !=''"><img ng-src="{{profile_image_url}}" alt="" class="ig r-div"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->

        <div class="notifi-box">
            <div class="common-bdr" ng-class="(chat.is_new_msg == 1) ? 'hightlight-div' : '' " ng-repeat="chat in allChatUsers" ng-click="goToMessage(chat.room_id)">
                <div class="left-box">
                    <div class="imag-box text-center img_chat_round">
                        <img src="../img/default.png" alt="" ng-if="!chat.user_details.profile_image">
                        <img ng-src="{{UserImage_url+chat.user_details.profile_image}}" alt="" ng-if="chat.user_details.profile_image">
                        <div class="fl">
                            <img ng-if="!chat.user_details.curlpattern_id || !chat.user_details.curl_pattern" src="../img/1c.png" alt="">
                            <img ng-if="chat.user_details.curlpattern_id && chat.user_details.curl_pattern.icon" src="../img/{{chat.user_details.curl_pattern.icon}}" alt="">
                        </div>
                    </div>

                    <div class="left-txtdiv">
                        <h3>{{chat.user_details.name}}</h3>
                        <h6>
                            {{(chat.type == 1)?chat.message:''}}
                            <span>View message </span>
                        </h6>
                        <h4>{{chat.cdate | date:'MMM dd yyyy, hh:mm a'}} <!--<br>
                            <span class="msg-count">01</span>-->
                        </h4>
                    </div>
                </div>
            </div>
            <div class="common-bdr" ng-if="!allChatUsers || allChatUsers.length==0">
                <div class="left-box">

                    <div class="left-txtdiv">
                        <h3>No chats found.</h3>

                    </div>
                </div>
            </div>
            <!--<div class="common-bdr" ng-click="goToMessage()">
                <div class="left-box">
                    <div class="imag-box text-center">
                        <img src="img/i2.jpg" alt="">
                        <div class="fl">
                            <img src="img/fl.png" alt="">
                        </div>
                    </div>

                    <div class="left-txtdiv">
                        <h3>Breauna</h3>
                        <h6>
                            I would love to chat with you....
                            <span>View message </span>
                        </h6>
                        <h4>30 seconds ago</h4>
                    </div>
                </div>
            </div>
            <div class="common-bdr" ng-click="goToMessage()">
                <div class="left-box">
                    <div class="imag-box text-center">
                        <img src="img/i2.jpg" alt="">
                        <div class="fl">
                            <img src="img/fl.png" alt="">
                        </div>
                    </div>

                    <div class="left-txtdiv">
                        <h3>Breauna</h3>
                        <h6>
                            I would love to chat with you....
                            <span>View message </span>
                        </h6>
                        <h4>30 seconds ago</h4>
                    </div>
                </div>
            </div>-->
        </div>
    </ion-content>

    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl"></div>
</ion-view>
