<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Notifications">
    <ion-content class="explore-page no-padding has-footer" >
        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">

        </div>
        <!--end of filter-strip-->

        <div class="notifications" ng-init="getNotificationsList()">
            <div class="row responsive-sm">
                <div class="col mb-0">
                    <div class="list-div">
                        <ul>
                            <li ng-class="saveNotiClass == 'notifications' ? 'active' : ''" ng-click="toggleTab('notifications')"><a class="udln">Notifications</a></li>
                            <li ng-class="saveNotiClass == 'saves' ? 'active' : ''" ng-click="toggleTab('saves')"><a>Saves</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="notifi-box" ng-if="saveNotiClass == 'notifications'">
                <div class="row"  ng-repeat="notification in notifications" ng-click="goToDetails(notification)">
                    <div class="col">
                        <div class="left-box">
                            <div class="imag-box text-center">
                                <img src="{{user_image + notification.users_by.profile_image}}" ng-if="notification.users_by.profile_image" alt="">
                                <img src="../img/default_user.jpeg" ng-if="!notification.users_by.profile_image" alt="">
                                <div class="fl">
                                    <img src="../img/{{notification.users_by.curl_pattern.icon}}" alt="" ng-if="notification.users_by.curl_pattern">
                                </div>
                            </div>

                            <div class="left-txtdiv">
                                <h6>{{notification.users_by.name}}  <br>
                                    <span>{{notification.message}}</span>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="right-box">
                            <h6 am-time-ago="notification.cdate">30 seconds ago</h6>
                            <img class="like-image" ng-if="notification.noti_type == 2" src="../img/n-img.png" alt="">
                            <img class="like-image" ng-if="notification.noti_type == 1" src="../img/dot.png" alt="">
                            <div class="img" ng-if="notification.post.post_files['0'].name && notification.noti_type != 4">
                                <img src="{{post_files + notification.post.post_files['0'].name}}" alt="" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row responsive-sm" ng-if="saveNotiClass == 'saves'" ng-init="getUserFiles();" on-touch="mouseoverWideDiv()" on-release="mouseleaveWideDiv()">
                    <div class="col mb-0">
                        <div class="gallery-div">
                            <h4>
                                 <img src="img/folder-icon.png" alt="">
                                <span>Folders</span>
                            </h4>
                        </div>
                        <div class="clear"></div>
                    </div>
    
                    <div class="col mb-0" ng-init="getFolderList()" >
                        <div class="gallery-div2">
                            <ion-scroll direction="x"  class="scroll-view ionic-scroll scroll-x">
                                <div class="scroll">
                                    <div class="small-thum-imagsection2">
                                        <ul>
                                            <li ng-repeat="folder in folderList" class="droppedclass" id="{{folder.id}}" ng-drop="true" ng-drop-success="onDropComplete($data,$event,$dropTarget)">
                                                <a href="#">
                                                    <div class="frm-maindiv">
                                                        <div class="frm-div text-center">
                                                            <img src="{{fileUrl + folder.folder_files['0'].post_file.name}}" alt="">
                                                        </div>
                                                        <div class="text-div">
                                                            <h6>{{folder.name}} <span>+{{folder.image_count}}</span></h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                
                                            
                
                                            <li>
                                                <a ng-click="addFolder()">
                                                <div class="frm-maindiv add-folder">
                                                    <div class="frm-div text-center">
                                                    <img src="img/fjp.png" alt="">
                                                    </div>
                                                    <div class="text-div">
                                                        <h6>New folder</h6>
                                                    </div>
                                                </div>
                                            </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ion-scroll>
                        </div>
                    </div>
    
                    <div class="col mb-0">
                        <div class="gallery-div">
                            <h4>
                                <img src="img/c1.png" alt="">
                                <span> Saved Photos</span>
                            </h4>
                        </div>
                    </div>
    
                    <div class="col mb-0">
                        <div class="gallery-div3">
                        <ion-scroll direction="x" style="overflow: visible" class="scroll-view ionic-scroll scroll-x">
                            <div class="scroll">
                                <div class="small-thum-imagsection3">
                                    <ul>
                                        <li ng-repeat="file in userFiles" ng-if="file.file_type=='I'"  ui-sref="member-profile-member-view({userId:file.post.user.id})">
                                            <div class="img-maindiv" ng-drag="true" ng-drag-data="file" > 
                                                <figure>
                                                    <div class="img-dv text-center">
                                                        <img src="{{fileUrl + file.name}}" alt="">
                                                    </div>
                                                    <figcaption>
                                                        <p>Posted by @{{file.post.user.username}}</p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ion-scroll>
                        </div>
                    </div>
    
                    <div class="col mb-0">
                        <div class="gallery-div">
                            <h4>
                                <img src="img/vd.png" alt="">
                                <span> Saved Videos</span>
                            </h4>
                        </div>
                    </div>
    
                    <div class="col mb-0">
                        <div class="gallery-div4">
                            <ul>
                                <li ng-repeat="file in userFiles" ng-if="file.file_type=='V'">
                                    <div class="img-maindiv" ui-sref="member-profile-member-view({userId:file.post.user.id})" ng-drag="true" ng-drag-data="file" >
                                        <figure>
                                            <div class="img-dv text-center">
                                                <img src="{{fileUrl + file.name}}" alt="">
                                            </div>
                                            <figcaption>
                                                <p>Posted by @{{file.post.user.username}}</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </ion-content>

    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">
</ion-view>
