<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="create post" ng-init="imageArray=[]">
    <ion-content class="create-page white-bg no-padding post-image-content"  ng-init="getPostDetails();">
      <div class="post-image-page new-post-image-page">
      <div>
        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">
            
        </div>
        <!--end of filter-strip-->
       
     </div>
     <div class="row btn-dwn abs-btnt" id="" style="z-index:99999"  >
        <div class="col left">
            <!-- ng-click="cancelmethod()" -->
             <a class="btn-dark" ui-sref="create-post">Cancel</a>
             <!-- <a ng-click="previmage()" class="btn-grid">Prev</a> -->
         </div>
         <div class="col right">
             <a ng-click="updateChangedImage()" class="btn-grid">Save</a>
             <!-- <a ng-click="nextimage()" class="btn-grid">Next</a> -->
         </div>
      </div>
     
       <!-- <image-editor ng-if="editorMode" cancelmethod="cancelEditing()" 
       savemethod="updateChangedImage({img:img,name:name})" 
       class="image-editor-part new-image-editor-part"   
       src="postDetails.file_url + editedImageName"
       imgname="editedImageName" brightness="brightness1" ng-if="postDetails.post_files"> {{image}}
        </image-editor> -->
        <div class="left-nav-arrow" ng-click="prevSlide()"></div>
            <div class="right-nav-arrow" ng-click="nextSlide()"></div>
            <!-- options="slideOptions" -->
        <!-- <ion-slide-box >       -->
                
            <!-- <ion-slide class="pe-parent"  ng-repeat="imagefile in postDetails.post_files" >
                <photo-editor image="postDetails.file_url + imagefile.name"
        imgname="imagefile.name"  cancelmethod="cancelEditing()" 
        onfilechange="fileChanges({img:img,name:name,ind:$index})" 
        savemethod="updateChangedImage({img:img,name:name})" ng-init="imageIsLoaded()"></photo-editor>
            </ion-slide> -->
        <!-- </ion-slide-box> -->
        <!-- <photo-editor ng-if="editorMode" image="postDetails.file_url + editedImageName"
        imgname="editedImageName" cancelmethod="cancelEditing()" 
        savemethod="updateChangedImage({img:img,name:name})" ></photo-editor>
       
    <div class="row btn-dwn" style="padding-bottom:20px" ng-if="!editorMode">
        <div class="col left">
            <a ng-init="startEditing(0)" ng-if="postDetails.post_files" class="btn-grid">Edit</a>
        </div>
        <div class="col right">
            <a ng-click="goToNext()" class="btn-grid">Save</a>
        </div>
    </div> -->
    <ion-slide-box class="edit-slide create-post-slider">
            <ion-slide class="pe-parent" ng-if="postDetails"  ng-repeat="imagefile in postDetails.post_files" >
                    <photo-editor image="postDetails.file_url + imagefile.name"
            imgname="imagefile.name"  cancelmethod="cancelEditing()" 
            onfilechange="fileChanges({img:img,name:name,ind:$index})" 
            savemethod="updateChangedImage({img:img,name:name})" ng-init="imageIsLoaded()"></photo-editor>
                </ion-slide>
    </ion-slide-box>
        <!-- <ion-slides class="slide-swipe">
                <ion-slide-page ng-repeat="imagefile in postDetails.post_files">
                    <div class="box blue">
                            <photo-editor image="postDetails.file_url + imagefile.name"
                            imgname="imagefile.name"  cancelmethod="cancelEditing()" 
                            onfilechange="fileChanges({img:img,name:name,ind:$index})" 
                            savemethod="updateChangedImage({img:img,name:name})"></photo-editor>
                    </div>
                </ion-slide-page>
                
          </ion-slides> -->
</div>
       
       
    </ion-content>
    <div ng-if="!editorMode" class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">

        </div>
</ion-view>
<style>
    .pe-parent{
         /* width: calc(100%);
        min-width: 300px;  */
        
       
    } 
    .slider-pager{
        display: none;
    }
    
</style>
