<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="post settings" ng-init="getPostDetails()">
    <ion-content class="setting-page-post white-bg no-padding" overflow-scroll="true">
        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">

        </div>
        <!-- <div class="row btn-dwn" style="margin:10px 0">
            <div class="col left">
<a href="" class="btn-gray">Cancel</a>
            </div>
            <div class="col right">
                <a href="javascript:void(0);" ng-click="savePostDetails()" class="btn-grid">Post</a>
            </div>
        </div> -->
        <div class="row" ng-if="postDetails && postDetails.post_files">
            <div class="image-box col">
                <img src="{{postDetails.file_url + postDetails.post_files['0'].name}}" alt="" ng-if="postDetails.post_files['0'].file_type=='I'">
                <video src="{{trustSrc(postDetails.file_url + postDetails.post_files['0'].name)}}"
                             preload="metadata" 
                             controls="controls" width="100%" ng-if="postDetails.post_files['0'].file_type=='V'"></video>
            </div>
        </div>
        <div class="row thumbnail" style="display:flex; justify-content:center">
            <div class="image-box" ng-repeat="file in postDetails.post_files" ng-if="$index > 0 && $index < 4" style="width:23%; margin:1%" ng-click="changeupperphoto($index, file.name)">
                <img src="{{postDetails.file_url + file.name}}" alt="" style="height:60px;">
            </div>
            <!-- <ion-slide-box show-pager="false" auto-play="true" slide-interval="2000" does-continue="true">
                <ion-slide ng-repeat="file in postDetails.post_files">
                    <div class="col image-box">
                        <img src="{{postDetails.file_url + file.name}}" alt="">
                    </div>
                </ion-slide>

            </ion-slide-box> -->

        </div>
        <div class="new-pro" style="padding:0">
            <div class="form-reg">
                <div class="row">
                    <div class="col col-100">
                        <div class="description-box">

                            <textarea type="text" class="styled-input" ng-model="postDetails.description" placeholder="Description"></textarea>
                            <div class="right">
                                <small style="color: #888;">150</small>
                            </div>
                        </div>
                        <br>

                        <!--<tags-input ng-model="postDetails.tagmembers" add-on-paste="true" spellcheck="false" display-property="name">
                            <auto-complete source="loadmemberTags($query)" min-length="1" load-on-down-arrow="true" load-on-focus="true" load-on-empty="true"></auto-complete>
                        </tags-input>-->
                        <!--<script type="text/ng-template" id="tag-template">
                          <div style="float: left; padding-left: 2px">
                            <span>{{$getDisplayText()}}</span>
                            <a class="remove-button" ng-click="$removeTag()">&times;</a>
                          </div>
                        </script>-->
                        <div class="flex-tag">
                            <i class="icon ion-at placeholder-icon"></i>
                            <tags-input ng-model="postDetails.tagmembers" placeholder="Tag a Member or Provider" add-on-paste="true" spellcheck="false" display-property="name">
                                <auto-complete source="loadmemberTags($query)" min-length="1" load-on-down-arrow="true" load-on-focus="true" load-on-empty="true"></auto-complete>
                            </tags-input>
                        </div>

                        <!--<div class="list-inset styled-input">
                            <label class="item item-input">
                                <i class="icon ion-at placeholder-icon"></i>
                                <input type="text" placeholder="Tag a Member or Provider">
                            </label>
                        </div>-->
                        <br>
                        <div class="flex-tag ">
                                <i class="icon placeholder-icon">#</i>
                            <tags-input ng-model="postDetails.tags" placeholder="Hashtags" add-on-paste="true" spellcheck="false" display-property="name">
                                <auto-complete source="loadTags($query)" min-length="1" load-on-down-arrow="true" load-on-focus="true" load-on-empty="true"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card-box social-box row">
                    <ul class="col">
                        <li>
                            <a href="">
                                <img src="../img/twitter.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/pintrest.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/facebook.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/insta.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/t-logo.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/google-plus.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <br>
                <br>
                <br>
                <div class="text-center t-btnbt">
                    <p style="margin-bottom: 0;">Advanced Options</p>
                    <small>(optional)</small>
                    <div class="toggle-btn text-center">
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" checked="false" name="AdvancedOption" ng-model="AdvancedOption" ng-change="onChangeAdvance($event)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <div ng-if="AdvancedOption">
                    <div class="form-adv-opt">
                        <div class="padding20-20 deepBg address-box">
                            <input type="text" class="styled-input" ng-model="postSetForm.address1" placeholder="Address">
                            <input type="text" class="styled-input" ng-model="postSetForm.address2" placeholder="City, State, Zip">
                            <div class="input-phone-number">
                                <i class="icon ion-android-call placeholder-icon"></i>
                                <input type="tel" ng-model="postSetForm.phone" class="styled-input">
                            </div>
                        </div>
                        <div class="padding20-20" style="background:#fff">
                            <div class="select-gender">
                                <p class="photo-style-text mb-0">Gender</p>
                                <p class="photo-style-text mb-0" style="font-size:12px">(Please select one)</p>
                                <div class="row">
                                    <div class="col col-33">
                                        <div class="card">
                                            <label class="r-btn" ng-click="postSetForm.gender = 'M'">
                                                <input type="radio" hidden="" ng-model="postSetForm.gender" value="M" name="gender">
                                                <img src="../img/male.png" class="first-img" alt="male">
                                                <img src="../img/male-active.png" class="second-img" alt="male">
                                                <!--                                <i class="icon ion-male"></i>-->
                                                <small>Male</small>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col col-33">
                                        <div class="card">
                                            <label class="r-btn" ng-click="postSetForm.gender = 'F'">
                                                <input type="radio" hidden="" ng-model="postSetForm.gender" value="F" name="gender">
                                                <img src="../img/female.png" class="first-img" alt="male">
                                                <img src="../img/female-active.png" class="second-img" alt="male">
                                                <!--                                <i class="icon ion-female"></i>-->
                                                <small>Female</small>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col col-33">
                                        <div class="card">
                                            <label class="r-btn" ng-click="postSetForm.gender = 'O'">
                                                <input type="radio" name="gender" ng-model="postSetForm.gender" value="O" hidden="">
                                                <p>I'll Pass</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="select-cat">
                                <div class="list">
                                    <input type="text" ng-model="postSetForm.dob" readonly ng-click="openDatepicker()" class="styled-input" placeholder="Enter your date of birth">
                                    <!--<select class="style-select">
                                        <option>Birthday</option>
                                        <option>Birthday1</option>
                                        <option>Birthday2</option>
                                    </select>-->
                                </div>
                                <div class="list">
                                    <ul style="list-style-type: none; width:100%">
                                        <li class="style-select" style="position: relative; width:100%;">
                                            <a href="" style="color:#fff; display: block; text-align: left; font-size: 12px; border: none; " ng-click="toggleEthnicity()">{{postDetails.ethnicity}}</a>
                                            <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                                                <ul style="padding:5px; list-style-type: none" ng-If="IsShowEth">
                                                    <li style="margin-bottom:4px">
                                                        <a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;"
                                                            ng-click="selectEthnicity('Black')">Black</a>
                                                    </li>
                                                    <li style="margin-bottom:4px">
                                                        <a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;"
                                                            ng-click="selectEthnicity('White')">White</a>
                                                    </li>
                                                    <li style="margin-bottom:4px">
                                                        <a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;"
                                                            ng-click="selectEthnicity('Hispanic')">Hispanic</a>
                                                    </li>
                                                    <li style="margin-bottom:4px">
                                                        <a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;"
                                                            ng-click="selectEthnicity('Latino')">Latino</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="list">
                                    <ul style="width:100%">
                                      <li class="style-select" style="position: relative; width:100%;">
                                        <a href="" style="color:#736f6f; display: block; text-align: left; font-size: 12px; border: none; " ng-click="toggleTexture()">{{(postSetForm.texture!='')?postSetForm.texture:'Select Texture'}}</a>
                                        <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                                        <ul style="padding:5px; list-style-type: none" ng-If="IsShowText">
                                        <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectTexture('Fine')">Fine</a></li>
                                        <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectTexture('Medium')">Medium</a></li>
                                        <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;" ng-click="selectTexture('Thick')">Thick</a></li>
                                        </ul>
                                        </div>
                                      </li>
                                    </ul>
                                    <!--<select class="style-select">
                                        <option>Texture</option>
                                        <option>Texture1</option>
                                        <option>Texture2</option>
                                    </select>-->
                                </div>
                            </div>
                            <!--<div class="text-center">
                                <button type="button" class="btn-grid">update</button>
                            </div>-->
                        </div>
                    </div>

                </div>
            </div>
            <div style="padding:0 10px">
                <div class="select-imput provider-curl gray-root" ng-class="IsActive ? 'active' : 'inactive'" ng-click="SelectTogglerootcurl()">
                    <label style="color:#736f6f !important;-webkit-text-fill-color:#736f6f;background: none">Root Curl Pattern</label>
                    <span style="color:#736f6f !important;-webkit-text-fill-color:#736f6f;background: none">(Find out what your root Curl Pattern is here)</span>
                    <img src="../img/select-arw-right.png" alt="">
                </div>
                <div class="root-curl-box" ng-class="IsActive ? 'active' : 'inactive'">
                    <div class="item-wrap" ng-if="curlCategories" ng-repeat="cat in curlCategories">
                        <div class="black-heading">
                            <span>{{cat.id}}</span>
                            <h2>{{cat.title}}</h2>
                        </div>
                        <div class="row">
                            <div class="col col-33" ng-repeat="pattern in cat.curl_patterns" ng-click="postDetails.curlpattern_id = pattern.id;SelectTogglerootcurl()">
                                <div class="card purple-box curl-box {{postDetails.curlpattern_id == pattern.id?'selected':''}}">
                                    <div class="mask"></div>
                                    <div class="head-box text-center">
                                        <p>{{pattern.title}}</p>
                                        <small>{{pattern.name}}</small>
                                    </div>
                                    <div class="img-box">
                                        <img src="../img/{{pattern.image}}" alt="">
                                        <span class="icon-img">
                                            <img src="../img/{{pattern.icon}}" alt="">
                                        </span>
                                    </div>
                                    <div class="txt-box">
                                        <ul class="list-style" ng-bind-html="pattern.description">
                                            <li>S Shape</li>
                                            <li>Naturally defined curls</li>
                                            <li>Can Wash n Go</li>
                                        </ul>
                                        <p>
                                            <img src="../img/{{pattern.curl_image}}" alt="hair" style="">
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="" style="background:#efefef;">
                    <div class="provide-service">
                        <ul class="list">
                            <li class="list-item">
                                <p>Natural Hair</p>
                                <div class="toggle-btn text-center">
                                    <label class="toggle toggle-assertive">
                                        <input type="checkbox" ng-model="postDetails.natural_hair" ng-true-value="1" ng-false-value="0">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>
                            <li class="list-item">
                                <p>Hair Extensions & Wigs</p>
                                <div class="toggle-btn text-center">
                                    <label class="toggle toggle-assertive">
                                        <input type="checkbox" ng-model="postDetails.hair_extensions" ng-true-value="1" ng-false-value="0">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>
                            <li class="list-item">
                                <p>Braids & Twists</p>
                                <div class="toggle-btn text-center">
                                    <label class="toggle toggle-assertive">
                                        <input type="checkbox" ng-model="postDetails.braids" ng-true-value="1" ng-false-value="0">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>
                            <li class="list-item">
                                <p>Cuts & Fades</p>
                                <div class="toggle-btn text-center">
                                    <label class="toggle toggle-assertive">
                                        <input type="checkbox" ng-model="postDetails.cuts" ng-true-value="1" ng-false-value="0">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>
                            <li class="list-item">
                                <p>Dread Locs & Faux Locs</p>
                                <div class="toggle-btn text-center">
                                    <label class="toggle toggle-assertive">
                                        <input type="checkbox" ng-model="postDetails.dread_locks" ng-true-value="1" ng-false-value="0">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>
                            <li class="list-item">
                                <p>Hair Products</p>
                                <div class="toggle-btn text-center">
                                    <label class="toggle toggle-assertive">
                                        <input type="checkbox" ng-model="postDetails.hair_products" ng-true-value="1" ng-false-value="0">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5">
                <a href="javascript:void(0);" ng-click="savePostDetails()" class="btn-grid">Update</a>
            </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">
    </div>
</ion-view>
