<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="privacy">
    <ion-content padding class="privacy-page">
            <div  class="top-side-logo row pt-4">
                <div class="col">
                    <div class="side-logo">
                        <img src="../img/side-logo.png" alt="">
                    </div>
                </div>
                <div class="t-txt col">
                    <h1 style="color:#e20cec">rootsfolio</h1>
                    <h3 style="padding-left:0">Privacy and Terms</h3>
                </div>
            </div>
            <a href="" class="back-btn" style="margin:60px 0 0 0" ng-click="privacyBack()">Back</a>
            <div class="cms-area">
                <div class="col-100 col">
                    <h3>Welcome to Rootsfolio</h3>
                    <p class="mb-0">Effective Date: May 01, 2018 </p>
                    <p>Our mission is to help you discover relevant haircare information for your beautiful curls. To do that, we show you personalized content and ads we think youll be interested in based on information we collect from you and third parties. We only use that information where we have a proper legal basis for doing so. </p>
                    <p>We wrote this policy to help you understand what information we collect, how we use it and what choices you have about it. Technical terms are used to communicate to you important information. We welcome your questions and comments on this policy. </p>
                    <h4>Information Collection</h4>
                    <p>When you sign up for or use Rootsfolio, you give us certain information voluntarily. This includes your name, email address, phone number, profile photo, comments, and any other information you give us. You can also choose to share with us location data or photos.
                    </p>
                    <p>If you link your Facebook or Google account or accounts from other third party services to Rootsfolio, we may also get information from those accounts (such as your friends or contacts). The information we get from those services depends on your settings and their privacy policies, so please verify your settings. </p>
                    <p>Whenever you use any website, mobile application or other internet service, certain information gets created and logged automatically. The same is true when you use Rootsfolio. Here are some of the types of information we may collect: </p>
                    <ul class="list-text">
                        <li><p class="bullet">Log data. When you use Rootsfolio, our servers record information (log data), including information that your browser automatically sends whenever you visit a website, or that your mobile app automatically sends when youre using it. This log data includes your Internet Protocol address, the address of and activity on websites you visit that incorporate Rootsfolio features (like the Save buttonmore details below), searches, browser type and settings, the date and time of your request, how you used Rootsfolio, cookie data and device data. If youd like, you can get more details on the types of information we may collect in our logs. </p></li>
                        <li><p class="bullet">Cookie Data. We may also use cookies (small text files sent by your computer each time you visit our website, unique to your Rootsfolio account or your browser) or similar technologies to capture log data. When we use cookies or other similar technologies, we use session cookies (that last until you close your browser) or persistent cookies (that last until you or your browser delete them). For example, we use cookies to store your language preferences or other settings so you dont have to set them up every time you visit Rootsfolio. Some of the cookies we use are associated with your Rootsfolio account (including information about you, such as the email address you gave us) and other cookies are not. </p></li>
                        <li><p class="bullet">Device Information In addition to log data, we collect information about the device youre using Rootsfolio on, including type of device, operating system, settings, unique device identifiers and crash data that helps us understand when something breaks. Whether we collect some or all of this information often depends on what type of device youre using and its settings. For example, different types of information are available depending on whether youre using a Mac or a PC, or an iPhone or Android phone. Please also check the policies of your device manufacturer or software provider to learn more. </p></li>
                        <li><p>We may also get information about you and your activity outside Rootsfolio from our affiliates, advertisers, partners and other third parties we work with, or other publicly available sources. For example: </p></li>
                        <li><p class="bullet">Online advertisers or third parties may share information with us to measure or improve the performance of ads on Rootsfolio, or to figure out what kinds of ads to show you. This includes information about your visits to an advertiser's </p></li>
                    </ul>
                    <p>site or purchases you made from them, or information about your interests from a third party service, which we might use to help show you ads. Learn more about the types of information advertisers or other third parties share with us.</p>

                    <h4>Information Collection Use </h4>
                    <p>We use the information we collect to provide the Service to you. We commit to showing you content thats relevant, interesting and personal to you. In order to do that, its necessary for us to use your information to: </p>
                    <p class="bullet"> Identify you when you use Rootsfolio. </p>
                    <p class="bullet"> Recommend users, service providers, topics or categories you might like based on your activity on Rootsfolio. For example, if we see youre into hair braiding, we may suggest hair breading related posts, people, places or products that we think you might like or show you food-related ads. </p>
                    <p class="bullet">Respond to your questions or comments.</p>
                    <p>In addition and for similar reasons, we have a legitimate interest in using your information in these ways. It is also fundamental to the nature of the Service we provide. In short, its necessary for us to do these things in order to make the Service relevant, interesting and personal to you like we promised, and its in both of our interests for us to do that. </p>
                    <p>We also have a legitimate interest to improve Rootsfolio, maintain our relationship with you, and protect users. We both benefit when we use your information to: </p>
                    <p class="bullet">Suggest other people who have similar interests. For example, if you follow natural hair stylists, we may suggest stylists that you might like.
                    </p>
                    <p class="bullet">Help your friends and contacts find you on Rootsfolio, if you agree to this in your settings. For example, if you sign up using a Facebook account, we can help your Facebook friends find you on Rootsfolio when they first sign up for Rootsfolio. Or, people can search for your account on Rootsfolio using your email. No worries, you can toggle your visibility on the application.</p>
                    <p> Conduct analytics on who is using Rootsfolio and what they are doing. For example, by logging how often people use two different versions of a feature on Rootsfolio, we can understand which version is better. </p>
                    <p class="mb-0">Improve Rootsfolio and offer new features. </p>
                    <p class="bullet">Send you updates (such as when certain activity, like saves or comments, happens on Rootsfolio) and news by email or push notification, depending on your settings. For example, we may send weekly updates that include topics you may like. You can decide to stop getting these notifications by updating your settings .</p>
                    <p class="bullet"> Work with law enforcement and keep Rootsfolio safe. We may get requests for account information from law enforcement authorities like the police or courts. </p>
                    <p>We have a legitimate interest in delivering ads that are relevant, interesting and personal to you in order to generate revenue (providing this Service is expensive!) To further these interests we use the information we collect to: </p>
                    <p class="bullet">Decide which ads to show you. For example, if you show an interest in hair braiding on Rootsfolio, we may show you ads for other hair brainding products. We customize the ad content we show you by identifying your interests based on your onsite and offsite activities, as well as by using information we receive from ad partners or other third parties. Where we use cookies to identify your offsite interests, we will obtain consent where required as described in more detail below. Where ad partners or other third parties share information with us about you, we rely on the consent they have obtained.
                    </p>
                    <p class="bullet">Tell our ad partners how their Rootsfolio ads are doing, and how to make them better. Some of this information is aggregated. For example, we would report to an advertiser that a certain percentage of people who viewed a Promoted Posts went on to visit that advertiser's site. In other instances, this information isnt aggregated. For example, we would let an advertiser know that a particular Promoted Post has been saved by certain people. </p>
                    <p class="bullet"> Tell our ad partners the types of products you might be interested in. For example, if you create a posts dedicated to hair relaxers, we can tell a retailer that youre more interested in relaxers than, say, natural hair. This helps us and our ad partners to make sure that the content and ads you see are relevant to you.</p>
                    <p>We have a legitimate interest in using information we collect to customize your Rootsfolio experience based on your offsite behavior. For example, if you visit websites that sell hair extensions, we may suggest hair extensions posts to you. When we identify your interests based on your offsite behavior with cookies, we will obtain any consent we may need. To find out more about how we use cookies, please see our Cookies Policy.</p>
                    <p class="mb-0">In addition to the specific circumstances above, well only use your information with your consent in order to: </p>
                    <p class="bullet"> Send you marketing materials by email, text or push notification, depending on your account or operating system settings. Each time we send you marketing materials, we give you the option to unsubscribe. </p>
                    <p class="bullet">Identify your location and customize the content we show you. For example, if we know that you are based in Houston, we could show you posts of local service providers and products.
                    </p>
                    <p class="bullet"> Allow searching with photos. For example, if you take a photo of a hair style or a product for hair you like, you can ask us to show you similar items. You can opt in to this in your device operating system settings. </p>
                    <p class="bullet">Tell our ad partners how their ads are doing using the Rootsfolio tag. The Rootsfolio tag (a piece of code) delivers insights to us and our ad partners about actions that a person takes on their website after viewing an ad on Rootsfolio. </p>
                    <p >Well also rely on your consent where we use cookies to: </p>
                    <p class="bullet">Identify you across different browser sessions. This means if you log into Rootsfolio from your phone (or any device), we'll remember that you're you and you won't need to enter your login details each time you visit Rootsfolio. </p>
                    <p class="bullet">Show you ads you might be interested in. We use cookies to identify your interests based on your offsite behavior. We do this for existing users and for new users, and it helps us customize the new user experience. </p>

                    <h4>Information Transfer </h4>
                    <p>Rootsfolio is a worldwide service. By using Rootsfolio, you authorize us to transfer and store your information outside your home country, including in the United States, for the purposes described in this policy. The privacy protections and the rights of authorities to access your information in these countries may not be the same as in your home country. </p>
                    <p>We take additional measures when information is transferred from the European Economic Area (EEA). This includes having standard clauses approved by the European Commission in our contracts with parties that receive information outside the EEA. We also rely on European Commission adequacy decisions about certain countries, as applicable, for data transfers to countries outside the EEA.</p>
                    <p class="no-bfr">
                        <strong> Your Choices </strong>
                        Our goal is to give you simple and meaningful choices regarding your information. If you have a Rootsfolio account, many of the choices you have on Rootsfolio are built directly into Rootsfolio or your settings. For example, you can:
                    </p>
                    <p class="bullet">Edit information in your profile at any time, decide whether your profile is available to search engines, or choose whether others can find your Rootsfolio account using your email address.</p>
                    <p class="bullet">Link or unlink your Rootsfolio account from other services (like Facebook, Google or Twitter). For some services (like Facebook), you can also decide whether or not to publish your Rootsfolio activity to that service. </p>
                    <p class="bullet">Create or be added to a privacy posts or chats. Private chats are visible to you and other collaborators in the board, and any collaborator may choose to make the chat available to anyone else. For example, another collaborator can invite someone else to the chat, make the chat available to an app they use to view Rootsfolio, or even just take an image from the chat and email it to their friends. For more information about private chats.
                    </p>
                    <p class="bullet">Choose whether Rootsfolio will be customized for you using information from other websites or apps. If you have a Rootsfolio account and want to control how your offsite data is used to tailor your experience, you can visit your settings and update your Personalization preferences. If you dont have a Rootsfolio account or dont want us to customize Rootsfolio for you when youre signed out, you can opt out. </p>
                    <p class="bullet">Close or disable your account at any time. When you close your account, well deactivate it and remove your posts and profile from Rootsfolio.
                    </p>
                    <p class="mb-0">Also, we support the Do Not Track browser setting and you can learn more about how it affects our collection and use of offsite data. </p>
                    <p>You also have choices available to you through the device or software you use to access Rootsfolio. For example: </p>
                    <p class="bullet">The browser you use lets you control cookies or other types of local data storage.</p>
                    <p>Your mobile device lets you choose how and whether your location, photos, advertising identifiers and other data is shared with us. </p>
                    <p>To learn more about these choices, please see the information provided by your device or software provider. </p>
                    <h4>Information Sharing </h4>
                    <p>Anyone can see the public posts you create and the profile information you give us. We also make this public information available through what are called APIs (basically a technical way to share information quickly). For example, a partner can study what their most popular posts are or how their posts are being shared on Rootsfolio by using a Rootsfolio API. Some of the ways we use your information require us to share information with third parties, so we can provide your Rootsfolio experience, make sure our customization is effective and comply with laws that apply to us. We share your information with: </p>
                    <p class="bullet">Other services (like Facebook or Google) when you decide to link your Rootsfolio account to those services or publish your activity on Rootsfolio to them. For example, you can choose to publish your posts to Facebook or Twitter. </p>
                    <p class="bullet">Online advertisers and third party companies that we or they use to audit or improve the delivery and performance of ads or content on websites and apps (for example, through Google Analytics). This includes what posts or ads you were shown on Rootsfolio and whether or how you engaged with those Pins or ads, or other information about your activity on Rootsfolio. Learn more about how we share information with online advertisers. </p>
                    <p class="bullet">Third party companies or individuals that we employ to process information on our behalf based on our instructions and in compliance with this Privacy Policy. We also share data with security consultants to help us get better at identifying spam. Some information we acquire may be collected by third party providers on our behalf. </p>
                    <p class="bullet">Law enforcement agencies or government agencies. We only share information if we believe that disclosure is reasonably necessary to comply with a law, regulation or legal request; to protect the safety, rights, or property of the public, any person, or Rootsfolio; or to detect, prevent, or otherwise address fraud, security or technical issues. </p>
                    <p class="bullet">Our wholly owned subsidiaries and affiliates. If we were to engage in a merger, acquisition, bankruptcy, dissolution, reorganisation, or similar transaction or proceeding that involves the transfer of the information described in this Policy, we would share your information with a party involved in such a process (for example, a potential purchaser). </p>
                    <h4>Information Keeping </h4>
                    <p>We keep your information only so long as we need it to provide Rootsfolio to you and fulfill the purposes described in this policy. This is also the case for anyone that we share your information with and who carries out services on our behalf. When we no longer need to use your information and there is no need for us to keep it to comply with our legal or regulatory obligations, well either remove it from our systems or depersonalize it so that we can't identify you.
                        Information Children </p>
                    <p>Children under 13 are not allowed to use Rootsfolio. If you are based in the EEA you may only use Rootsfolio if you are over the age at which you can provide consent to data processing under the laws of your country or if verifiable parental consent for your use of Rootsfolio has been provided to us. If you are a parent and you learn that your child is using Rootsfolio and you don't want them to, please contact us.
                    </p>
                    <p class="no-bfr"><strong>Your Options </strong></p>
                    <p class="bullet"> You have options in relation to the information that we have about you described below. To exercise these options, please contact us. If you're an EEA user, you can: </p>
                    <p class="bullet">Access the information we hold about you. We'll usually share this with you within 60 days of you asking us for it. </p>
                    <p class="bullet">Have your information corrected or deleted. You can update your information in your settings. If you have problems updating the information or if you would like us to delete it, contact us. </p>
                    <p class="bullet">Object to us processing your information. You can ask us to stop using your information, including when we use your information to send you marketing emails or push notifications. If you opt out of receiving marketing messages from us, we may still send you newsletters and updates about your account, such as when another user comments on one of your posts. We only send you marketing material if you've agreed to it, but if you'd rather we don't, you can easily unsubscribe at any time. </p>
                    <p class="bullet">Have the information you provided to us sent to another organization, where we hold this information with your consent or for the performance of a contract with you, where it's technically feasible.</p>
                    <p class="bullet">Complain to a regulator. If you're based in the EEA and think that we haven't complied with data protection laws, you have a right to lodge a complaint with the Data Protection Commission in Ireland or with your local supervisory authority.
                    </p>
                    <p class="mb-0"><strong>Policy Changes </strong></p>
                    <p class="mb-0">We may change this policy from time to time and if we do, we'll post any changes on this page. If you continue to use Rootsfolio after those changes are in effect, you agree to the new policy. If the changes are significant, we may provide a more prominent notice or get your consent, as required by law.
                        </p>
                    <p> Contact Us</p>
                    <h4>See Terms of Use </h4>
                    <a href="" ng-click="privacyBack()" class="back-btn bottom-back">Back</a>
                </div>
           </div>
    </ion-content>
</ion-view>
