<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="pro-settings">
    <ion-content class="advance-pro-option common-screen">
        <div  class="top-side-logo row">
          <div class="col col-30">
              <div class="side-logo">
                  <img src="../img/side-logo.png" alt="">
              </div>
          </div>
          <div class="t-txt col col-70">
              <h1>rootsfolio</h1>
              <h3 class="logo-txt">For Providers</h3>
          </div>
        </div>   
        <div class="top-btn-ad">
            <a href="" class="back-btn">Back</a> 
            <a href="" class="text-image">Pro Features</a>
        </div>
        <div class="form-adv-opt">
            <input type="text" class="styled-input" placeholder="About | Bio">
            <input type="text" class="styled-input" placeholder="Street Address">
            <input type="text" class="styled-input" placeholder="City, State, Zip">
            <div class="list-inset styled-input">
                <label class="item item-input">
                  <i class="icon ion-android-call placeholder-icon"></i>
                  <input type="text" placeholder="" >
                </label>
            </div>
            <div class="pic-uploader pt-5">
                <p>Select up to 4 Pro Photos for your gallery</p>
                <div class="row">
                  <div class="col col-50">
                      <div class="pic-choose">
                        <input type="file" id="pic2">
                        <label for="pic2" class="purple-box"></label>
                    </div>
                  </div>
             
                  <div class="col col-50">
                      <div class="pic-choose">
                        <input type="file" id="pic3">
                        <label for="pic3" class="purple-box"></label>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col col-50">
                      <div class="pic-choose">
                        <input type="file" id="pic4">
                        <label for="pic4" class="purple-box"></label>
                    </div>
                  </div>
                  <div class="col col-50">
                      <div class="pic-choose">
                        <input type="file" id="pic5">
                        <label for="pic5" class="purple-box"></label>
                    </div>
                  </div>
              </div>
            </div>
            <div class="select-imput squre-select">
                <label>Select  Your Root Curl Pattern</label>
                <select class="r-select">
                    <option>Select your root curl pattern</option>
                    <option>bac</option>
                </select>
            </div>
            <div class="provide-service">
                <h4 class="text-grid">Services Provided</h4>
                <p>Please select all the services you provide</p>
                <ul class="list">
                    <li class="list-item">
                        <p>Natural Hair</p>
                        <div class="toggle-btn text-center">            
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" checked="">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Hair Extensions &  Wigs</p>
                        <div class="toggle-btn text-center">            
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" checked="">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Braids & Twists</p>
                        <div class="toggle-btn text-center">            
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" checked="">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Cuts & Fades</p>
                        <div class="toggle-btn text-center">            
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Dread Locs & Faux Locs</p>
                        <div class="toggle-btn text-center">            
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" checked="">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Hair Products</p>
                        <div class="toggle-btn text-center">            
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" checked="">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>

                </ul>
            </div>
            <div class="select-gender">
                <h4>Gender</h4>
                <p>(Please select one)</p>
                <div class="row">
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn">                                
                                <input type="radio" hidden="" checked="" name="gender">
                                <img src="../img/male.png" class="first-img" alt="male">
                                <img src="../img/male-active.png" class="second-img" alt="male">
<!--                                <i class="icon ion-male"></i>-->
                                <small>Male</small>
                            </label>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn">                                
                                <input type="radio" hidden="" name="gender">
                                <img src="../img/female.png" class="first-img" alt="male">
                                <img src="../img/female-active.png" class="second-img" alt="male">
<!--                                <i class="icon ion-female"></i>-->
                                <small>Female</small>
                            </label>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn">
                                <input type="radio" name="gender" hidden="">
                                <p>I'll Pass</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-cat">
                <div class="list">
                    <select class="style-select">
                        <option>Birthday</option>
                        <option>Birthday1</option>
                        <option>Birthday2</option>
                    </select>
                </div>
                <div class="list">
                    <select class="style-select">
                        <option>Ethnicity</option>
                        <option>Ethnicity1</option>
                        <option>Ethnicity2</option>
                    </select>
                </div>
                <div class="list">
                    <select class="style-select">
                        <option>Texture</option>
                        <option>Texture1</option>
                        <option>Texture2</option>
                    </select>
                </div>
            </div>
             
        </div>
        
        <div class="text-center"> 
            <button type="button" class="btn-grid">update</button>
        </div>
    </ion-content>
</ion-view>