<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="settings">
    <ion-content class="profile-page white-bg no-padding" ng-init="getCurlCategories()">
        <div class="filter-strip">
            <div class="row">
                <div class="col col-20">
                    <div class="left">
                        <a href="" class="icon-filter g-search">
                            <img src="../img/search-icon.png" alt="search">
                        </a>
                    </div>
                </div>
                <div class="col col-80">
                    <div class="right">
                        <a href="" class="icon-filter" ng-click="goToProviderProfile()">
                            <img src="../img/rf-icon.png" alt="search">
                        </a>
                        <a href="" class="icon-filter g-filter" ng-click="goToFilter()">
                            <img src="../img/filter-active.png" alt="search">
                        </a>
                        <a href="" class="icon-filter g-location" ng-click="goToFindService()">
                            <img src="../img/location.png" alt="search">
                        </a>
                        <a href="" class="icon-filter g-menu" ng-click="goToSettings()">
                            <img src="../img/menu-icon.png" alt="search">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->
        <div class="new-pro">
            <div class="form-reg">
                <div class="pic-choose centerd">
                    <p>Edit your Icon photo</p>
                    <!-- <input type="file" id="pic1">
                    <label for="pic1"></label> -->
                    <label for="pic1" style="{{editForm.profile_image_url?'background:none':''}} position:relative">
                        <img src="{{editForm.profile_image_url}}" ng-if="editForm.profile_image_url">
                        <input type="file" id="pic1" onchange="angular.element(this).scope().uploadFile(this.files)">
                    </label>
                </div>
                <p class="photo-style-text" style="margin-bottom:0">Select up to 4 Profile photos </p>
                <div class="row">
                    <div class="col col-50">
                        <div class="pic-choose">
                            <input type="file" id="pic2" onchange="angular.element(this).scope().uploadProfilePic(this.files,0)">
                            <label for="pic2">
                                <img style="max-height:100%;max-width:100%;" src="{{editForm.profile_pics[0].url}}" ng-if="editForm.profile_pics && editForm.profile_pics[0]">
                            </label>
                        </div>
                    </div>

                    <div class="col col-50">
                        <div class="pic-choose">
                            <input type="file" id="pic3" onchange="angular.element(this).scope().uploadProfilePic(this.files,1)">
                            <label for="pic3">
                                <img style="max-height:100%;max-width:100%;" src="{{editForm.profile_pics[1].url}}" ng-if="editForm.profile_pics && editForm.profile_pics[1]">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <div class="pic-choose">
                            <input type="file" id="pic4" onchange="angular.element(this).scope().uploadProfilePic(this.files,2)">
                            <label for="pic4">
                                <img style="max-height:100%;max-width:100%;" src="{{editForm.profile_pics[2].url}}" ng-if="editForm.profile_pics && editForm.profile_pics[2]">
                            </label>
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="pic-choose">
                            <input type="file" id="pic5" onchange="angular.element(this).scope().uploadProfilePic(this.files,3)">
                            <label for="pic5">
                                <img style="max-height:100%;max-width:100%;" src="{{editForm.profile_pics[3].url}}" ng-if="editForm.profile_pics && editForm.profile_pics[3]">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row address-box" ng-if="AdvancedOption">
                    <div class="col col-100">
                        <input type="text" class="styled-input" placeholder="Provider Name" ng-model="editForm.name">
                        <input type="text" class="styled-input" placeholder="Street Address" ng-model="editForm.address1">
                        <input type="text" class="styled-input" placeholder="City, State, Zip" ng-model="editForm.address2">
                        <div class="input-phone-number">
                            <i class="icon ion-android-call placeholder-icon"></i>
                            <input type="text" class="styled-input">
                        </div>
                    </div>
                </div>
                <div class="text-center t-btnbt">
                    <p style="margin-bottom: 0;">Advanced Options</p>
                    <small>(optional)</small>
                    <div class="toggle-btn text-center">
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" name="AdvancedOption" ng-model="AdvancedOption" ng-change="onChangeAdvance($event)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <div style="padding:0 10px">
                    <div class="select-imput provider-curl gray-root" ng-class="IsActive ? 'active' : 'inactive'" ng-click="SelectToggle()">
                        <label style="color:#736f6f !important;-webkit-text-fill-color:#736f6f;background: none">Root Curl Pattern</label>
                        <span style="color:#736f6f !important;-webkit-text-fill-color:#736f6f;background: none">Find out what your root Curl Pattern is here)</span>
                        <img src="../img/select-arw-right.png" alt="">
                    </div>
                    <div class="root-curl-box" ng-class="IsActive ? 'active' : 'inactive'">
                        <div class="item-wrap" ng-if="curlCategories" ng-repeat="cat in curlCategories">
                            <div class="black-heading">
                                <span>{{cat.id}}</span>
                                <h2>{{cat.title}}</h2>
                            </div>
                            <div class="row">
                                <div class="col col-33" ng-repeat="pattern in cat.curl_patterns" ng-click="editForm.curlpattern_id = pattern.id">
                                    <div class="card purple-box curl-box {{editForm.curlpattern_id == pattern.id?'selected':''}}">
                                        <div class="mask"></div>
                                        <div class="head-box text-center">
                                            <p>{{pattern.title}}</p>
                                            <small>{{pattern.name}}</small>
                                        </div>
                                        <div class="img-box">
                                            <img src="../img/{{pattern.image}}" alt="">
                                            <span class="icon-img">
                                                <img src="../img/{{pattern.icon}}" alt="">
                                            </span>
                                        </div>
                                        <div class="txt-box">
                                            <ul class="list-style" ng-bind-html="pattern.description">
                                                <li>S Shape</li>
                                                <li>Naturally defined curls</li>
                                                <li>Can Wash n Go</li>
                                            </ul>
                                            <p>
                                                <img src="../img/{{pattern.curl_image}}" alt="hair" style="">
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="" style="background:#efefef;">
                        <div class="provide-service">
                            <ul class="list">
                                <li class="list-item">
                                    <p>Natural Hair</p>
                                    <div class="toggle-btn text-center">
                                        <label class="toggle toggle-assertive">
                                            <input type="checkbox" ng-model="editForm.natural_hair">
                                            <div class="track">
                                                <div class="handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <p>Hair Extensions & Wigs</p>
                                    <div class="toggle-btn text-center">
                                        <label class="toggle toggle-assertive">
                                            <input type="checkbox" ng-model="editForm.hair_extensions">
                                            <div class="track">
                                                <div class="handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <p>Braids & Twists</p>
                                    <div class="toggle-btn text-center">
                                        <label class="toggle toggle-assertive">
                                            <input type="checkbox" ng-model="editForm.braids">
                                            <div class="track">
                                                <div class="handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <p>Cuts & Fades</p>
                                    <div class="toggle-btn text-center">
                                        <label class="toggle toggle-assertive">
                                            <input type="checkbox" ng-model="editForm.cuts">
                                            <div class="track">
                                                <div class="handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <p>Dread Locs & Faux Locs</p>
                                    <div class="toggle-btn text-center">
                                        <label class="toggle toggle-assertive">
                                            <input type="checkbox" ng-model="editForm.dread_locks">
                                            <div class="track">
                                                <div class="handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <p>Hair Products</p>
                                    <div class="toggle-btn text-center">
                                        <label class="toggle toggle-assertive">
                                            <input type="checkbox" ng-model="editForm.hair_products">
                                            <div class="track">
                                                <div class="handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="select-gender">
                <p class="photo-style-text mb-0">Gender</p>
                <p class="photo-style-text mb-0" style="font-size:12px">(Please select one)</p>
                <div class="row">
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn" ng-click="editForm.gender = 'M'">
                                <input type="radio" hidden="" checked="" name="gender">
                                <img src="../img/gray-male.png" class="first-img" alt="male">
                                <img  src="../img/male-active.png" class="second-img" alt="male">
                                <!--                                <i class="icon ion-male"></i>-->
                                <small>Male</small>
                            </label>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn">
                                <input type="radio" hidden="" name="gender" ng-click="editForm.gender = 'F'">
                                <img src="../img/gray-female.png" class="first-img" alt="male">
                                <img  src="../img/female-active.png" class="second-img" alt="male">
                                <!--                                <i class="icon ion-female"></i>-->
                                <small>Female</small>
                            </label>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="card">
                            <label class="r-btn">
                                <input type="radio" name="gender" hidden="" ng-click="signupForm.gender = 'O'">
                                <p>I'll Pass</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-cat">
                <div class="list">
                    <input type="text" ng-model="editForm.dob" readonly ng-click="openDatepicker()" class="styled-input" placeholder="Enter your date of birth">

                </div>
                <div class="list">
                    <ul style="list-style-type: none; width:100%">
                        <li class="style-select" style="position: relative; width:100%;">
                            <a href="" style="color:black; display: block; text-align: left; font-size: 12px; border: none; " ng-click="toggleEthnicity()">{{editForm.ethnicity}}</a>
                            <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                                <ul style="padding:5px; list-style-type: none" ng-If="IsShowEth">
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectEthnicity('Black')">Black</a>
                                    </li>
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectEthnicity('White')">White</a>
                                    </li>
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;" ng-click="selectEthnicity('Hispanic')">Hispanic</a>
                                    </li>
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;" ng-click="selectEthnicity('Latino')">Latino</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list">
                    <ul style="list-style-type: none; width:100%">
                        <li class="style-select" style="position: relative; width:100%;">
                            <a href="" style="color:black; display: block; text-align: left; font-size: 12px; border: none; " ng-click="toggleTexture()">{{editForm.texture}}</a>
                            <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                                <ul style="padding:5px; list-style-type: none" ng-If="IsShowText">
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;"
                                            ng-click="selectTexture('Fine')">Fine</a>
                                    </li>
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;"
                                            ng-click="selectTexture('Medium')">Medium</a>
                                    </li>
                                    <li style="margin-bottom:4px">
                                        <a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;"
                                            ng-click="selectTexture('Thick')">Thick</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="text-center">
                <button type="button" class="btn-grid" ng-click="updateDetails()">Update</button>
            </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">
</ion-view>