<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="post creation">
    <ion-content class="news-option common-screen no-padding">        
        <div class="filter-strip">
            <div class="row">
                <div class="col col-20">
                    <div class="left">
                        <a href="" class="icon-filter g-search"><img src="../img/search-icon.png" alt="search"></a>
                    </div>
                </div>
                <div class="col col-80">
                    <div class="right">
                        <a href="" class="icon-filter" ng-click="goToProviderProfile()"><img src="../img/rf-icon.png" alt="search"></a> 
                        <a href="" class="icon-filter g-filter" ng-click="goToFilter()"><img src="../img/filter-active.png" alt="search"></a>
                        <a href="" class="icon-filter g-location" ng-click="goToFindService()"> <img src="../img/location.png" alt="search"></a>
                        <a href="" class="icon-filter g-menu" ng-click="goToSettings()"><img src="../img/menu-icon.png" alt="search"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->
        <div class="news-section">            
            <div class="news-header post-header ">                
                <div class="right-icon right col col-100 no-padding">
                   <a href="" class="text-image"><span class="text-grid" style="font-size: 13px;">Provider</span> </a>
                   <a href="" ng-click="goToProviderProfilePreferences()"><img src="../img/edit-icon.png" alt="" style="width: 30px;"></a>
                </div>
            </div>
            <div class="main-image-box">
                <img src="../img/provider.png" alt="">
            </div>
            <div class="row following-box-sidebar">
                <div class="col col-25">
                    <div class="image-box">
                        <img src="../img/profile1.png" alt="">
                    </div>
                </div>
                <div class="col col-25">
                    <div class="image-box">
                       <img src="../img/profile2.png" alt="">
                    </div>
                </div>
                <div class="col col-25">
                    <div class="image-box">
                        <img src="../img/profile3.png" alt="">
                    </div>
                </div>
                <div class="col col-25">
                    <div class="text-center">
                        <div class="border-bootom">
                            <span class="text-grid">Followers</span>
                            <p>1,200</p>
                        </div>
                        <div class="b-txt">
                            <span class="text-grid">Following</span>
                            <p>240</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-pro text-center">                
                <h3 class="text-grid" style="font-size: 18px; font-weight: 600;">Good Vibes Hair Creations</h3>
                <div class="conts-div">
                    <ul class="">
                        <li><img src="../img/map-marker.png" alt=""> <span>1211 Esperanza Lane Houston, TX 77007</span></li>
                        <li><img src="../img/phone.png" alt=""> <span>713-555-1212</span></li>
                    </ul>
                </div>
            </div>
            <div class="my-folio pt-5">
                <h3 class="text-white"><img src="../img/camera.png" alt="" style="width: 20px;"> MyFolio</h3>
                <div class="row">
                    <div class="col col-33">
                        <img src="../img/profile2.png" alt="">
                    </div>
                    <div class="col col-33">
                        <img src="../img/profile2.png" alt="">
                    </div>
                    <div class="col col-33">
                        <img src="../img/profile2.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-33">
                        <img src="../img/profile2.png" alt="">
                    </div>
                    <div class="col col-33">
                        <img src="../img/profile2.png" alt="">
                    </div>
                    <div class="col col-33">
                        <img src="../img/profile2.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-33">
                        <img src="../img/profile2.png" alt="">
                    </div>
                    <div class="col col-33">
                        <img src="../img/profile2.png" alt="">
                    </div>
                    <div class="col col-33">
                        <img src="../img/profile2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
       
    </ion-content>
<div class="chat-head" ng-click="goToPreferenceForProvider()">
        <img src="../img/news1.png" alt="">
    </div>
    <div class="tabs tabs-icon-only">
<a class="tab-item" ng-click="goToFeedback()">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToEplore()">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToNewPost()">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ng-click="goToNotDetails()">
  <img src="../img/notifiaction-dot-icon.png" alt="" style="width:25px;">
</a>
<a class="tab-item" ng-click="goToNotification()">
  <img src="../img/message-icon.png" alt="" style="width:25px;">
</a>
        </div>
</ion-view>