<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="settings">
    <ion-content class="setting-page dark-bg no-padding">
        <div class="chat-head">
                <img src="../img/news1.png" alt="">
        </div>
        <div class="filter-strip">
            <div class="row">
                <div class="col col-20">
                    <div class="left">
                        <a href="" class="icon-filter g-filter"><img src="../img/search-icon.png" alt="search"></a>
                    </div>
                </div>
                <div class="col col-80">
                    <div class="right">
                        <a href="" class="icon-filter" ng-click="goToProviderProfile()"><img src="../img/rf-icon.png" alt="search"></a>
                        <a href="" class="icon-filter g-filter" ng-click="goToFilter()"><img src="../img/filter-active.png" alt="search"></a>
                        <a href="" class="icon-filter g-location" ng-click="goToFindService()"><img src="../img/location.png" alt="search"></a>
                        <a href="" class="icon-filter" ng-click="goToSettings()"><img src="../img/menu-icon.png" alt="search"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="setting-s">
            <div  class="top-side-logo row">
                <div class="col col-30">
                    <div class="side-logo">
                        <img src="../img/side-logo.png" alt="">
                    </div>
                </div>
                <div class="t-txt col col-70">
                    <h1>rootsfolio</h1>
                    <h3>Settings</h3>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->
        <div class="filter-category-se">
            <div class="adv-setting">
                <h4 class="text-grid">Discoverable</h4>
                <ul class="list">
                    <li class="list-item">
                        <p>Show me on Rootsfolio</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" checked="" >
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                </ul>
            </div>
            <div class="adv-setting">
                <h4 class="text-grid">Notifications</h4>
                <ul class="list">
                    <li class="list-item">
                        <p>New Follower</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" checked="" >
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Messages</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" checked="" >
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Comments</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Likes</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" checked="">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                </ul>
            </div>
            <div class="adv-setting help">
                <h4 class="text-grid">Help</h4>
                <ul class="list">
                    <li class="list-item">
                        <p>Contact Rootsfolio</p>
                    </li>
                    <li class="list-item">
                        <p>Privacy Policy</p>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
        <div class="tabs tabs-icon-only">
<a class="tab-item" ng-click="goToFeedback()">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToEplore()">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToNewPost()">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ng-click="goToNotDetails()">
  <img src="../img/notifiaction-dot-icon.png" alt="" style="width:25px;">
</a>
<a class="tab-item" ng-click="goToNotification()">
  <img src="../img/message-icon.png" alt="" style="width:25px;">
</a>
        </div>
</ion-view>
