<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="register">
    <ion-content class="register-page splash-screen">
            <div  class="top-side-logo row">
              <div class="col col-30">
                  <div class="side-logo">
                      <img src="../img/side-logo.png" alt="">
                  </div>
              </div>
              <div class="t-txt col col-70">
                  <h1>rootsfolio</h1>
              </div>
            </div>   
        <div class="form-reg">
            <input type="text" class="styled-input" placeholder="Create Username">
            <input type="text" class="styled-input" placeholder="Password">
            <input type="text" class="styled-input" placeholder="Re-Type Password">
            <div class="clear check-box text-right">  
                <input type="checkbox" class="styled-checkbox" checked="" id="signin">
                     <label for="signin">Keep me Signed in</label>
            </div>
             <input type="text" class="styled-input" placeholder="Profile Name">
              <input type="text" class="styled-input" placeholder="Email">
              
              <div class="pic-choose centerd">
                  <p>choose your Icon photo</p>
                  <input type="file"  id="pic1">
                  <label for="pic1"></label>
              </div>
              <div class="row">
                  <div class="col col-50">
                      <div class="pic-choose">
                        <input type="file" id="pic2">
                        <label for="pic2"></label>
                    </div>
                  </div>
             
                  <div class="col col-50">
                      <div class="pic-choose">
                        <input type="file" id="pic3">
                        <label for="pic3"></label>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col col-50">
                      <div class="pic-choose">
                        <input type="file" id="pic4">
                        <label for="pic4"></label>
                    </div>
                  </div>
                  <div class="col col-50">
                      <div class="pic-choose">
                        <input type="file" id="pic5">
                        <label for="pic5"></label>
                    </div>
                  </div>
              </div>
        </div>
        <div class="text-center p-txt">
            <p>Yes, I would like to recieve  promotional communications and discounts.</p>
        </div>
        <div class="toggle-btn text-center">
            <label class="toggle toggle-assertive">
                <input type="checkbox" checked="">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
        </div>
        <div class="select-imput">
            <label>Select  Your Root Curl Pattern</label>
            <select class="r-select">
                <option>Select your root curl pattern</option>
                <option>bac</option>
            </select>
        </div>
        <div class="text-center t-btnbt">
            <p>Advanced Options</p>
            <div class="toggle-btn text-center">            
                <label class="toggle toggle-assertive">
                    <input type="checkbox" checked="">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                  </label>
            </div>
        </div>
        <div class="bottom-back-btn">
<a href="" class="back-btn" ng-click="back()">Back</a>
            
<button type="button" class="next-btn" ng-click="goToNextStep()">Next</button>
        </div>
    </ion-content>
</ion-view>