<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Select Your Root Curl Pattern">
    <ion-content class="root-curl common-screen">        
        <div class="top-btn-ad pt-5">
            <a href="" class="back-btn" ng-click="back()">Back</a> 
        </div>
         <div class="select-imput">
            <label>Select  Your Root Curl Pattern</label>
            <select class="r-select">
                <option>Select your root curl pattern</option>
                <option>bac</option>
            </select>
        </div>
        <div class="item-wrap">
            <div class="black-heading">
                <div class="row">
                    <div class="col col-20">
                        <span>4</span>
                    </div>
                    <div class="col col-80">
                        <div class="text-left">
                            <h2>Kinky Coily Curly</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <div class="card purple-box curl-box selected">
                        <div class="mask"></div>
                        <div class="head-box text-center">
                            <p>4a</p>
                            <small>Sunflower</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img1.png" alt="">
                            <span class="icon-img"><img src="../img/4a.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>S Shape</li>
                                <li>Naturally defined curls</li>
                                <li>Can Wash n Go</li>
                            </ul>
                            <p><img src="../img/hair1.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="card purple-box curl-box ">                        
                        <div class="head-box text-center">
                            <p>4b</p>
                            <small>Rose</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img2.png" alt="">
                            <span class="icon-img"><img src="../img/4b.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Z Shape</li>
                                <li>Fuffy Appearance</li>
                                <li>Shrinks up to 70%</li>
                            </ul>
                            <p><img src="../img/hair2.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="card purple-box curl-box">
                        <div class="head-box text-center">
                            <p>4c</p>
                            <small>Marigold</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img3.png" alt="">
                            <span class="icon-img"><img src="../img/4c.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Tightly coiled</li>
                                <li>No defined curl pattern</li>
                                <li>Shrinks up to 70%</li>
                            </ul>
                            <p><img src="../img/hair3.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-wrap">
            <div class="black-heading">
                <div class="row">
                    <div class="col col-20">
                        <span>3</span>
                    </div>
                    <div class="col col-80">
                        <div class="text-left">
                            <h2>Curly</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <div class="card purple-box curl-box">                        
                        <div class="head-box text-center">
                            <p>3a</p>
                            <small>Daisy</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img4.png" alt="">
                            <span class="icon-img"><img src="../img/3a.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Clear S shape</li>
                                <li>Can range in density</li>
                                <li>Lots of Definition</li>
                            </ul>
                            <p><img src="../img/hair4.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="card purple-box curl-box ">                        
                        <div class="head-box text-center">
                            <p>3b</p>
                            <small>Buttercup</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img5.png" alt="">
                            <span class="icon-img"><img src="../img/3b.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Springy Curls</li>
                                <li>Needs Moisture</li>
                                <li>Voluminous Curls</li>
                            </ul>
                            <p><img src="../img/hair5.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="card purple-box curl-box">
                        <div class="head-box text-center">
                            <p>3c</p>
                            <small>Tulip</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img6.png" alt="">
                            <span class="icon-img"><img src="../img/3c.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Tight Cork Screws</li>
                                <li>Extreme Volume</li>
                                <li>Most Shrinkage</li>
                            </ul>
                            <p><img src="../img/hair6.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-wrap">
            <div class="black-heading">
                <div class="row">
                    <div class="col col-20">
                        <span>2</span>
                    </div>
                    <div class="col col-80">
                        <div class="text-left">
                            <h2>Wavy</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <div class="card purple-box curl-box">                        
                        <div class="head-box text-center">
                            <p>2a</p>
                            <small>Hyacinth</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img7.png" alt="">
                            <span class="icon-img"><img src="../img/2a.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Fine & Thin</li>
                                <li>Loose Touseled look</li>
                                <li>Wavy</li>
                            </ul>
                            <p><img src="../img/hair7.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="card purple-box curl-box ">                        
                        <div class="head-box text-center">
                            <p>2b</p>
                            <small>Gerbera</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img8.png" alt="">
                            <span class="icon-img"><img src="../img/2b.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Straight at the roots</li>
                                <li>S shaped on the end</li>
                                <li>Light frizz at roots</li>
                            </ul>
                            <p><img src="../img/hair8.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="card purple-box curl-box">
                        <div class="head-box text-center">
                            <p>2c</p>
                            <small>Gazania</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img9.png" alt="">
                            <span class="icon-img"><img src="../img/2c.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Defined waves</li>
                                <li> Thick</li>
                                <li>Prone to frizzing</li>
                            </ul>
                            <p><img src="../img/hair9.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-wrap">
            <div class="black-heading">
                <div class="row">
                    <div class="col col-20">
                        <span>1</span>
                    </div>
                    <div class="col col-80">
                        <div class="text-left">
                            <h2>straight</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <div class="card purple-box curl-box">                        
                        <div class="head-box text-center">
                            <p>1a</p>
                            <small>Lotus</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img10.png" alt="">
                            <span class="icon-img"><img src="../img/1a.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Soft and Shiny</li>
                                <li>Thin & wispy</li>
                                <li>Straight</li>
                            </ul>
                            <p><img src="../img/hair10.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="card purple-box curl-box ">                        
                        <div class="head-box text-center">
                            <p>1b</p>
                            <small>Saffron</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img11.png" alt="">
                            <span class="icon-img"><img src="../img/1b.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Medium Volume</li>
                                <li> Straight</li>
                                <li>holds curls</li>
                            </ul>
                            <p><img src="../img/hair11.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="card purple-box curl-box">
                        <div class="head-box text-center">
                            <p>1c</p>
                            <small>Dahlia</small>
                        </div>
                        <div class="img-box">
                            <img src="../img/img12.png" alt="">
                            <span class="icon-img"><img src="../img/1c.png" alt=""></span>
                        </div>
                        <div class="txt-box">
                            <ul class="list-style">
                                <li>Stick Straight</li>
                                <li> Slight Bends</li>
                                <li>Thick</li>
                            </ul>
                            <p><img src="../img/hair12.png" alt="hair" style="max-width: 90%; margin: 0 auto; display: block;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>