<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Saves">
    <ion-content class="explore-page no-padding has-footer">
        <div class="filter-strip">
            <div class="row">
                <div class="col col-40">
                    <div class="left">
                        <a href="" class="icon-filter"><img src="../img/back-arw.png" alt="back-arw"></a>
                        <a href="" class="icon-filter g-search" style="margin-left:30px"><img src="../img/search-icon.png" alt="search"></a>
                    </div>
                </div>
                <div class="col col-60">
                    <div class="right">
                        <a href="" class="icon-filter" ng-click="goToProviderProfile()"><img src="../img/rf-icon.png" alt="search"></a>
                        <a href="" class="icon-filter g-filter" ng-click="goToFilter()"><img src="../img/filter-active.png" alt="search"></a>
                        <a href="" class="icon-filter g-location" ng-click="goToFindService()"><img src="../img/location.png" alt="search"></a>
                        <a href="" class="icon-filter g-menu" ng-click="goToSettings()"><img src="../img/menu-icon.png" alt="search"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->

        <div class="save-box-explore">
            <div class="row responsive-sm">
                <div class="col">
                    <div class="list-div">
                        <ul>
                            <li ng-click="goToNotDetails()"><a class="udln">Notifications</a></li>
                            <li class="active"><a>Saves</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class="col mb-0">
                    <div class="gallery-div">
                        <h4>
                             <img src="img/folder-icon.png" alt="">
                            <span>Folders</span>
                        </h4>
                    </div>
                </div>

                <div class="col mb-0">
                    <div class="gallery-div2">
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="frm-maindiv">
                                        <div class="frm-div text-center">
                                            <img src="img/folder-image1.png" alt="">
                                        </div>
                                        <div class="text-div">
                                            <h6>Photo Shoot <span>+10</span></h6>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                <div class="frm-maindiv">
                                    <div class="frm-div text-center">
                                        <img src="img/folder-image2.png" alt="">
                                    </div>
                                    <div class="text-div">
                                        <h6>Styles I Love <span>+10</span></h6>
                                    </div>
                                </div>
                            </a></li>

                            <li>
                                <a href="#">
                                <div class="frm-maindiv add-folder">
                                    <div class="frm-div text-center">
                                       <img src="img/fjp.png" alt="">
                                    </div>
                                    <div class="text-div">
                                        <h6>New folder</h6>
                                    </div>
                                </div>
                            </a></li>
                        </ul>
                    </div>
                </div>

                <div class="col mb-0">
                    <div class="gallery-div">
                        <h4>
                            <img src="img/c1.png" alt="">
                            <span> Saved Photos</span>
                        </h4>
                    </div>
                </div>

                <div class="col mb-0">
                    <div class="gallery-div3">
                        <ul>
                            <li>
                                <div class="img-maindiv">
                                    <figure>
                                        <div class="img-dv text-center">
                                            <img src="img/im.jpg" alt="">
                                        </div>
                                        <figcaption>
                                            <p>Posted by @Jazmin</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>

                            <li>
                               <div class="img-maindiv">
                                    <figure>
                                        <div class="img-dv text-center">
                                            <img src="img/im3.jpg" alt="">
                                        </div>
                                        <figcaption>
                                            <p>Posted by @Jazmin</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>

                            <li>
                               <div class="img-maindiv">
                                    <figure>
                                        <div class="img-dv text-center">
                                            <img src="img/im1.jpg" alt="">
                                        </div>
                                        <figcaption>
                                            <p>Posted by @Jazmin</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>

                            <li>
                               <div class="img-maindiv">
                                    <figure>
                                        <div class="img-dv text-center">
                                            <img src="img/im2.jpg" alt="">
                                        </div>
                                        <figcaption>
                                            <p>Posted by @Jazmin</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col mb-0">
                    <div class="gallery-div">
                        <h4>
                            <img src="img/vd.png" alt="">
                            <span> Saved Videos</span>
                        </h4>
                    </div>
                </div>

                <div class="col mb-0">
                    <div class="gallery-div4">
                        <ul>
                            <li>
                                <div class="img-maindiv">
                                    <figure>
                                        <div class="img-dv text-center">
                                            <img src="img/im4.jpg" alt="">
                                        </div>
                                        <figcaption>
                                            <p>Posted by @Jazmin</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>

                            <li>
                               <div class="img-maindiv">
                                    <figure>
                                        <div class="img-dv text-center">
                                            <img src="img/im5.jpg" alt="">
                                        </div>
                                        <figcaption>
                                            <p>Posted by @Jazmin</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>

                            <li>
                               <div class="img-maindiv">
                                    <figure>
                                        <div class="img-dv text-center">
                                            <img src="img/im6.jpg" alt="">
                                        </div>
                                        <figcaption>
                                            <p>Posted by @Jazmin</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>

                            <li>
                               <div class="img-maindiv">
                                    <figure>
                                        <div class="img-dv text-center">
                                            <img src="img/im7.jpg" alt="">
                                        </div>
                                        <figcaption>
                                            <p>Posted by @Jazmin</p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <div class="tabs tabs-icon-only">
<a class="tab-item" ng-click="goToFeedback()">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToEplore()">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToNewPost()">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ng-click="goToNotDetails()">
  <img src="../img/notifiaction-dot-icon.png" alt="" style="width:25px;">
</a>
<a class="tab-item" ng-click="goToNotification()">
  <img src="../img/message-icon.png" alt="" style="width:25px;">
</a>
        </div>
</ion-view>
