<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Search result">
    <ion-content class="bottom-bg no-padding mb-5">
        <div class="filter-strip ex">
            <div class="row">
                <div class="col col-20">
                    <div class="left">
                        <a href="" class="icon-filter"><img src="../img/back-arw.png" alt="back-arw"></a>
                    </div>
                </div>
                <div class="col col-60">
                    <div class="text-center plc">
                        <h3>Hotsun</h3>
                    </div>
                </div>
                <div class="col col-20">
                    <div class="right">
                        <a href="" class="icon-filter"><img src="../img/nl.png" alt="" class="ig"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->
        <div class="search-count top-s">
            <p>We found 5 matches for you</p>
        </div>
        <div class="result-wrap">
                <div class="srch-result-head">
                        <div class="row" ng-click="goToSingleResult()">
                            <div class="col col-80">
                                <div class="flex">
                                    <div class="img-box">
                                        <img src="../img/news1.png" alt="">
                                        <span class="icon-img"><img src="../img/1c.png" alt=""></span>
                                    </div>
                                    <div class="head-text">
                                        <span>Houston   |  1 mile (s) away</span>
                                        <h3>Royal Beauty Supply</h3>
                                        <span class="ratings"><img src="../img/rating.png" alt="">Ratings</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-20">
                                <div class="reviews text-center">
                                    <img src="../img/pro-batch.png" alt="" style="width: 24px; margin-top:6px;">
                                    <span>8 Reviews</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="4-img">
                        <div class="row">
                            <div class="col">
                                <img src="../img/4img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <p>Specializing in all Hair and Beauty care needs. Braids, Extensions</p>
                    </div>

        </div>
        <div class="result-wrap">
                <div class="srch-result-head">
                        <div class="row" ng-click="goToSingleResult()">
                            <div class="col col-80">
                                <div class="flex">
                                    <div class="img-box">
                                        <img src="../img/news1.png" alt="">
                                        <span class="icon-img"><img src="../img/1a.png" alt=""></span>
                                    </div>
                                    <div class="head-text">
                                        <span>Houston   |  3.5 mile (s) away</span>
                                        <h3>Posh Hair Studios</h3>
                                        <span class="ratings"><img src="../img/rating.png" alt="">Ratings</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-20">
                                <div class="reviews text-center">
                                    <img src="../img/pro-batch.png" alt="" style="width: 24px; margin-top:6px;">
                                    <span>5 Reviews</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="4-img">
                        <div class="row">
                            <div class="col">
                                <img src="../img/4img2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <p>Specializing in all Hair Extensions, Coloring, Layered Cuts </p>
                    </div>

        </div>
        <div class="result-wrap">
                <div class="srch-result-head">
                        <div class="row">
                            <div class="col col-80">
                                <div class="flex">
                                    <div class="img-box">
                                        <img src="../img/news1.png" alt="">
                                        <span class="icon-img"><img src="../img/2a.png" alt=""></span>
                                    </div>
                                    <div class="head-text">
                                        <span>Houston   |  4 mile (s) away</span>
                                        <h3>Chop house Barber Co.</h3>
                                        <span class="ratings"><img src="../img/rating.png" alt="">Ratings</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-20">
                                <div class="reviews text-center">
                                    <img src="../img/pro-batch.png" alt="" style="width: 24px; margin-top:6px;">
                                    <span>22 Reviews</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="4-img">
                        <div class="row">
                            <div class="col">
                                <img src="../img/4img3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <p>Specializing in all Hair and Beauty care needs. Braids, Extensions</p>
                    </div>

        </div>

    </ion-content>

    <div class="tabs tabs-icon-only white-bg">
<a class="tab-item" ng-click="goToFeedback()">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToEplore()">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToNewPost()">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ng-click="goToNotDetails()">
  <img src="../img/notifiaction-dot-icon.png" alt="" style="width:25px;">
</a>
<a class="tab-item" ng-click="goToNotification()">
  <img src="../img/message-icon.png" alt="" style="width:25px;">
</a>
        </div>
</ion-view>
