<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="find services">
    <ion-content class="find-service-bg no-padding" ng-init="pageTitle = 'Find a Service Provider'">
        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">
        
        </div>
        <!--end of filter-strip-->
       <div class="service-list" ng-init="getCountryList()">
            <div class="list-area"  ng-click="country.IsActive = !country.IsActive" ng-repeat="country in countryList" ng-class="country.IsActive ? 'active' : 'inactive'">
                    <h3 class="title">{{country.name}}</h3>
                    <div class="area-all" ng-if="country.cities">                            
                        
                            <!-- <div class="abs-box col col-33" style="float: left" ui-sref="find-service({city_id : city.id,lat : city.lat,lng : city.lng})" ng-repeat="city in country.cities"> -->
                            <div class="abs-box col col-33" style="float: left" ui-sref="location({city_id : city.id,lat : city.lat,lng : city.lng,cityname : city.name})" ng-repeat="city in country.cities">
                                <img src="{{city_image + city.image}}" alt="">
                                <span>{{city.name}}</span>
                            </div>
                        
                                  
                    </div>
            </div>
         
       </div>

    </ion-content>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">

    </div>
</ion-view>
