<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="settings">
    <ion-content class="setting-page dark-bg no-padding" ng-init="getUserDetails1();getAllBlockAcount();getMyDetails();">
        <div class="filter-strip">
            <div class="row">
                <div class="col col-20">
                    <div class="left">
                        <a href="" class="icon-filter g-search" ><img src="../img/search-icon.png" alt="search"></a>
                    </div>
                </div>
                <div class="col col-80">
                    <div class="right">
                        <a href="" class="icon-filter" ng-click="goToProviderProfile()"><img src="../img/rf-icon.png" alt="search"></a>
                        <a href="" class="icon-filter g-filter" ng-click="goToFilter()"><img src="../img/filter-active.png" alt="search"></a>
                        <a href="" class="icon-filter g-location" ng-click="goToFindService()"><img src="../img/location.png" alt="search"></a>
                        <a href="" class="icon-filter" ng-click="goToSettings()"><img src="../img/menu-icon.png" alt="search"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="setting-s padding20">
            <div  class="top-side-logo row pt-4">
                <div class="col">
                    <div class="side-logo">
                        <img src="../img/side-logo.png" alt="">
                    </div>
                </div>
                <div class="t-txt col">
                    <h1>rootsfolio</h1>
                    <h3>Settings</h3>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->
        <div class="padding20 pt-5">
            <div class="adv-setting">
                <h4 class="text-grid">Discoverable</h4>
                <ul class="list">
                    <li class="list-item">
                        <p>Show me on Rootsfolio</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" ng-model="is_hidden" ng-click="updateUserFields({is_hidden:is_hidden})" >
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                </ul>
            </div>
            <div class="adv-setting">
                <h4 class="text-grid">Notifications</h4>
                <ul class="list">
                    <li class="list-item">
                        <p>New Follower</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" ng-model="follower_noti" ng-click="updateUserFields({follower_noti:follower_noti})" >
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Messages</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" ng-model="message_noti" ng-click="updateUserFields({message_noti:message_noti})" >
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Comments</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" ng-model="comments_noti" ng-click="updateUserFields({comments_noti:comments_noti})">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                    <li class="list-item">
                        <p>Likes</p>
                        <div class="toggle-btn text-center">
                             <label class="toggle toggle-assertive">
                                 <input type="checkbox" ng-model="likes_noti" ng-click="updateUserFields({likes_noti:likes_noti})">
                                 <div class="track">
                                   <div class="handle"></div>
                                 </div>
                               </label>
                         </div>
                    </li>
                </ul>
            </div>
            <div class="adv-setting help">
                    <h4 class="text-grid">Security and Privacy</h4>
                    <ul class="list">
                        <li class="list-item" ng-click="showhide()">
                            <p>Blocked Accounts</p>
                            <div class="toggle-div" ng-show="showhidediv">
                                <div ng-repeat="block in blockList">
                                    <div class="t-left-div">
                                        <div class="image-box">
                                            <img src="{{ userDetails.image_url + block.user[0].profile_image }}" alt="">
                                        </div>

                                        <div class="t-txtdiv">
                                            <h5>{{ block.user[0].name }}</h5>
                                        </div>
                                    </div>

                                    <div class="t-right-div">
                                        <div class="onoffswitch">
                                            <a ng-click = "blockUserrootsetting(block.user_by,block.user_to)" class="button">Unblock</a>
                                            <!-- <input ng-change = "blockUserrootsetting(block.user_by,block.user_to)" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                            <label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <p ng-click="deleteMyAccount()">Delete My Account</p>
                        </li>
                    </ul>
                </div>
            <div class="adv-setting help" ng-controller="RootsCtrl">
                <h4 class="text-grid">Help</h4>
                <ul class="list">
                    <li class="list-item">
                        <p>Contact Rootsfolio</p>
                    </li>
                    <li class="list-item">
                        <p ng-click="back('settings')">Privacy Policy</p>
                    </li>
                    <li class="list-item">
                        <p ng-click="logout()">Logout</p>
                    </li>
                </ul>
            </div>

        </div>
    </ion-content>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">

    </div>
</ion-view>
