<!--
  Generated template for the ChooseAccountTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="choose-account-type" ng-init="initSignupForm();getCurlCategories();getCurrentLocation();">
    <ion-content class="common-screen no-padding member-form-bg" overflow-scroll="true">
        <div style="background:none">
            <form method="post" name="from" ng-submit="submitSignup()" novalidate>
                <div class="free-hight">
                    <div class="padding20" ng-show="!AdvancedOption">
                        <div class="top-side-logo row pt-4">
                            <div class="col">
                                <div class="side-logo">
                                    <img src="../img/side-logo2.png" alt="">
                                </div>
                            </div>
                            <div class="t-txt col">
                                <h1 style="color:#e20cec">rootsfolio</h1>
                            </div>
                        </div>
                        <div class="form-reg">
                            <input type="text" class="styled-input" required ng-model="signupForm.username" name="username" minlength="2" ng-keydown="disableSpace($event)" ng-blur="checkUsername()" placeholder="Create Username">
                            <div class="mbsc-err" ng-show="from.$submitted || from.username.$touched">
                                <span class="mbsc-err-msg" ng-show="from.username.$error.required">Choose a username.</span>
                                <span class="mbsc-err-msg" ng-show="from.username.$error.minlength">At least 2 characters needed</span>
                            </div>
                            <input type="{{showPassword?'text':'password'}}" required ng-model="signupForm.password" name="password" class="styled-input" placeholder="Password">
                            <div class="mbsc-err" ng-show="from.$submitted || from.password.$touched">
                                <span class="mbsc-err-msg" ng-show="from.password.$error.required">Password is required.</span>
                            </div>
                            <input type="{{showPassword?'text':'password'}}" required ng-model="signupForm.confirm_password" name="confirm_password" class="styled-input" placeholder="Re-Type Password">
                            <div class="mbsc-err" ng-show="from.$submitted || from.confirm_password.$touched">
                                <span class="mbsc-err-msg" ng-show="from.confirm_password.$error.required">Please re-type your password.</span>
                            </div>
                            <div class="clear check-box text-right">
                                <div class="checkbox-outer">
                                    <input type="checkbox" class="styled-checkbox" ng-model="showPassword">
                                    <label>Show Password</label>
                                </div>
                            </div>
                            <input type="text" class="styled-input" required ng-model="signupForm.name" name="name" placeholder="{{userType=='P'?'Business or Professional Name':'Profile Name'}}">
                            <div class="mbsc-err" ng-show="from.$submitted || from.name.$touched">
                                <span class="mbsc-err-msg" ng-show="from.name.$error.required">Please type your name.</span>
                            </div>
                            <input type="email" class="styled-input" required ng-model="signupForm.email" name="email" ng-blur="checkEmail()" placeholder="Email">
                            <div class="mbsc-err" ng-show="from.$submitted || from.email.$touched">
                                <span class="mbsc-err-msg" ng-show="from.email.$error.required">Please type your email.</span>
                            </div>
                            <div class="pic-choose centerd">
                                <p>choose your Icon photo</p>
                                <label class="circle-pic" style="{{signupForm.profile_image_url?'background:none':''}} position:relative" ng-click="selectUserProfileMainPic()">
                                    <img class="circle-pic" src="{{signupForm.profile_image_url}}" ng-if="signupForm.profile_image_url">
                                </label>
                            </div>
                            <p class="photo-style-text" style="margin-bottom:0">Select up to 4 Profile photos </p>
                            <div class="row pic-upload-area">
                                <div class="col col-50">
                                    <div class="pic-choose new-pic" ng-click="selectProfilePic('0')">
                                    
                                    <label for="ppic1">
                                        <img style="max-height:100%;max-width:100%;" src="{{signupForm.profile_pics[0].url}}" ng-if="signupForm.profile_pics && signupForm.profile_pics[0]">
                                    </label>
                                </div>
                                </div>

                                <div class="col col-50">
                                    <div class="pic-choose new-pic" ng-click="selectProfilePic('1')"> 
                                        
                                        <label for="pic3">
                                                <!-- <input type="file"  id="pic3" onchange="angular.element(this).scope().uploadProfilePic(this.files,1)"> -->
                                            <img style="max-height:100%;max-width:100%;" src="{{signupForm.profile_pics[1].url}}" ng-if="signupForm.profile_pics && signupForm.profile_pics[1]">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pic-upload-area">
                                <div class="col col-50">
                                    <div class="pic-choose new-pic" ng-click="selectProfilePic('2')">
                                        
                                        <label for="pic4">
                                            <!-- <input type="file" id="pic4"  style="display: none" onchange="angular.element(this).scope().uploadProfilePic(this.files,2)"> -->
                                            <img style="max-height:100%;max-width:100%;" src="{{signupForm.profile_pics[2].url}}" ng-if="signupForm.profile_pics && signupForm.profile_pics[2]">
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-50">
                                    <div class="pic-choose new-pic" ng-click="selectProfilePic('3')">
                                        
                                        <label for="pic5">
                                                <!-- <input type="file" id="pic5"  style="display: none" onchange="angular.element(this).scope().uploadProfilePic(this.files,3)"> -->
                                            <img style="max-height:100%;max-width:100%;" src="{{signupForm.profile_pics[3].url}}" ng-if="signupForm.profile_pics && signupForm.profile_pics[3]">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" ng-if="userType=='M'">
                            <p class="communications-discount-text">Yes, I would like to recieve promotional communications and discounts.</p>
                        </div>
                        <div class="toggle-btn text-center" ng-if="userType=='M'">
                            <label class="toggle toggle-assertive">
                                <input type="checkbox" checked="">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>                       
                        </div>                  
                    </div>
                    <div class="padding20" ng-show="!AdvancedOption">
                            <div class="select-imput select-input-new" ng-class="IsActive ? 'active' : 'inactive'" ng-click="SelectToggle()">
                                <label>Select Your Root Curl Pattern</label>
                                <span>Select your root curl pattern</span>
                                <img src="../img/side-arrow.png" alt="">
                            </div>

                            <div class="root-curl-box" ng-class="IsActive ? 'active' : 'inactive'">
                                    <div class="item-wrap" ng-if="curlCategories" ng-repeat="cat in curlCategories">
                                        <div class="black-heading">
                                            <span>{{cat.id}}</span>
                                            <h2>{{cat.title}}</h2>
                                        </div>
                                        <div class="row">
                                            <div class="col col-33" ng-repeat="pattern in cat.curl_patterns" ng-click="signupForm.curlpattern_id = pattern.id;SelectToggle()">
                                                <div class="card purple-box curl-box {{signupForm.curlpattern_id == pattern.id?'selected':''}}">
                                                    <div class="mask"></div>
                                                    <div class="head-box text-center">
                                                        <p>{{pattern.title}}</p>
                                                        <small>{{pattern.name}}</small>
                                                    </div>
                                                    <div class="img-box">
                                                        <img src="../img/{{pattern.image}}" alt="">
                                                        <span class="icon-img">
                                                            <img src="../img/{{pattern.icon}}" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="txt-box">
                                                        <ul class="list-style" ng-bind-html="pattern.description">
                                                            <li>S Shape</li>
                                                            <li>Naturally defined curls</li>
                                                            <li>Can Wash n Go</li>
                                                        </ul>
                                                        <p>
                                                            <img src="../img/{{pattern.curl_image}}" alt="hair" style="">
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>

                            </div>
                    <div class="text-center padding20 t-btnbt" ng-show="!AdvancedOption">
                        

                        <div class="text-center pro-features-text" ng-if="userType=='P'">
                                <p>Please click ‘Advanced Options’ if you would like to use our <span>Rootsfolio Pro</span> features.</p>
                                <img src="../img/pro-batch.png" alt="">
                        </div>                           

                        <p>Advanced Options</p>
                        <div class="toggle-btn text-center">
                            <label class="toggle toggle-assertive mb-0">
                                <input type="checkbox" checked="false" name="AdvancedOption" ng-model="AdvancedOption" ng-change="onChangeAdvance($event)">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="text-center t-btnbt" ng-if="AdvancedOption">
                        <div ng-if="userType=='M'">
                                <div class="top-side-logo top-side-logo-new row pt-4">
                                        <div class="col">
                                            <div class="side-logo">
                                                <img src="../img/side-logo2.png" alt="">
                                            </div>
                                        </div>
                                        <div class="t-txt col">
                                            <h1 style="color:#e20cec">rootsfolio</h1>
                                        </div>
                                    </div>
                            <div class="form-adv-opt">
                                <div class="padding20-20 deepBg address-box">
                                    <input type="text" class="styled-input" ng-model="signupForm.address1" placeholder="Address">
                                    <input type="text" class="styled-input" ng-model="signupForm.address2" placeholder="City, State, Zip">
                                    <div class="input-phone-number">
                                        <!-- <i class="icon ion-android-call placeholder-icon"></i> -->
                                        <input type="tel" placeholder="Phone Number" ng-model="signupForm.phone" class="styled-input">
                                    </div>
                                    <div class="clear check-box">
                                        <div class="checkbox-outer location-checkbox">
                                            <input type="checkbox" class="styled-checkbox" ng-model="signupGeoLoc" ng-true-value="1" ng-false-value="0">
                                            <label>Turn on Location & Navigation Services</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="padding20-20" style="background:#fff">
                                    <div class="select-gender">
                                        <p class="photo-style-text mb-0">Gender</p>
                                        <p class="photo-style-text mb-0" style="font-size:12px">(Please select one)</p>
                                        <div class="row">
                                            <div class="col col-33">
                                                <div class="card">
                                                    <label class="r-btn" ng-click="signupForm.gender = 'M'">
                                                        <input type="radio" hidden="" checked="" name="gender">
                                                        <img src="../img/male.png" class="first-img" alt="male">
                                                        <img src="../img/male-active.png" class="second-img" alt="male">
                                                        <!--                                <i class="icon ion-male"></i>-->
                                                        <small>Male</small>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col col-33">
                                                <div class="card">
                                                    <label class="r-btn" ng-click="signupForm.gender = 'F'">
                                                        <input type="radio" hidden="" name="gender">
                                                        <img src="../img/female.png" class="first-img" alt="male">
                                                        <img src="../img/female-active.png" class="second-img" alt="male">
                                                        <!--                                <i class="icon ion-female"></i>-->
                                                        <small>Female</small>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col col-33">
                                                <div class="card">
                                                    <label class="r-btn" ng-click="signupForm.gender = 'O'">
                                                        <input type="radio" name="gender" hidden="">
                                                        <p>I'll Pass</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-cat">
                                        <div class="list">
                                                <input type="text" ng-model="signupForm.dob" readonly ng-click="openDatepicker()" class="styled-input" placeholder="Enter your date of birth">
                                                <!-- <input type="date" ng-model="signupForm.dob" class="styled-input" style="min-width: 95%;color: #000000;line-height: 35px;"> -->

                                            <!-- <input type="date" ng-model="signupForm.dob" class="styled-input"> -->
                                            <!-- <select class="style-select">
                                            <option>Birthday</option>
                                            <option>Birthday1</option>
                                            <option>Birthday2</option>
                                        </select> -->
                                        </div>
                                        <div class="list">
                                            <!-- <input type="text" ng-model="signupForm.ethnicity" placeholder="Ethnicity" class="styled-input"> -->
                                            <!-- <select class="style-select" ng-model="signupForm.ethnicity">
                                                <option value=" ">Select Ethnicity</option>
                                                <option value="Black">Black</option>
                                                <option value="White">White</option>
                                                <option value="Hispanic">Hispanic</option>
                                                <option value="Latino">Latino</option>
                                            </select> -->
                                            <ul style="list-style-type: none; width:100%">
                                                <li class="style-select" style="position: relative; width:100%;">
                                                <a href="" style="color:#736f6f; display: block; text-align: left; font-size: 12px; border: none; " ng-click="toggleEthnicity()">{{signupForm.ethnicity}}</a>
                                                <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                                                <ul style="padding:5px; list-style-type: none" ng-If="IsShowEth">
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectEthnicity('Black')">Black</a></li>
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectEthnicity('White')">White</a></li>
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;" ng-click="selectEthnicity('Hispanic')">Hispanic</a></li>
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;" ng-click="selectEthnicity('Latino')">Latino</a></li>
                                                </ul>
                                                </div>
                                                </li>
                                                </ul>
                                        </div>
                                        <div class="list">
                                            <!-- <select class="style-select" ng-model="signupForm.texture">
                                                <option value=" ">Select Texture</option>
                                                <option value="Fine">Fine</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Thick">Thick</option>
                                            </select> -->
                                            <ul style="list-style-type: none; width:100%">
                                                <li class="style-select" style="position: relative; width:100%;">
                                                <a href="" style="color:#736f6f; display: block; text-align: left; font-size: 12px; border: none; " ng-click="toggleTexture()">{{signupForm.texture}}</a>
                                                <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                                                <ul style="padding:5px; list-style-type: none" ng-If="IsShowText">
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectTexture('Fine')">Fine</a></li>
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectTexture('Medium')">Medium</a></li>
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;" ng-click="selectTexture('Thick')">Thick</a></li>
                                                
                                                </ul>
                                                </div>
                                                </li>
                                                </ul>
                                        </div>
                                    </div>
                                    <!-- <div class="text-center">
                                    <button type="button" class="btn-grid" ng-click="goToMemberMainProfile()">update</button>
                                </div> -->
                                </div>
                            </div>

                        </div>
                        <div ng-if="userType=='P'">
                            <div class="top-side-logo row pt-4 top-side-logo-new">
                                <div class="col">
                                    <div class="side-logo">
                                        <img src="../img/side-logo2.png" alt="">
                                    </div>
                                </div>
                                <div class="t-txt col">
                                    <h1 style="color:#e20cec">rootsfolio</h1>
                                </div>
                            </div>
                            <div class="bottom-back-btn new-back-bttn padding20 bottom-back-btn-new">
                                <a class="back-btn" style="color:#fff" ng-click="Forcetofalse(false)">Back</a>
                            </div>
                            <div class="form-adv-opt">
                                <div class="padding20-20 deepBg address-box">                                    
                                    <input type="text" class="styled-input" maxlength="150" placeholder="About | Bio" ng-model="signupForm.bio">
                                    <input type="text" class="styled-input" placeholder="Street Address" ng-model="signupForm.address1">
                                    <input type="text" class="styled-input" placeholder="City, State, Zip" ng-model="signupForm.address2">
                                    <div class="input-phone-number">
                                        <!-- <i class="icon ion-android-call placeholder-icon"></i> -->
                                        <input type="tel" placeholder="Phone Number" class="styled-input" ng-model="signupForm.phone">
                                    </div>
                                    <div class="clear check-box">
                                        <div class="checkbox-outer location-checkbox">
                                            <input type="checkbox" class="styled-checkbox" ng-model="signupGeoLoc" ng-true-value="1" ng-false-value="0">
                                            <label>Turn on Location & Navigation Services</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="padding20-20" style="background:#efefef">
                                    <p class="photo-style-text" style="font-size:12px;color:#130316;text-align:left">Select up to 4 Pro Photos for your gallery</p>
                                    <div class="row for-gallery">
                                        <div class="col col-50">
                                            <div class="pic-choose" ng-click="selectGalleryPic('0')">
                                              
                                                <label for="pic2">
                                                    <img style="max-height:100%;max-width:100%;" src="{{signupForm.gallery[0].url}}" ng-if="signupForm.gallery && signupForm.gallery[0]">
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col col-50">
                                            <div class="pic-choose" ng-click="selectGalleryPic('1')">
                                               
                                                <label for="pic3">
                                                    <img style="max-height:100%;max-width:100%;" src="{{signupForm.gallery[1].url}}" ng-if="signupForm.gallery && signupForm.gallery[1]">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row for-gallery">
                                        <div class="col col-50">
                                            <div class="pic-choose" ng-click="selectGalleryPic('3')">
                                                <label for="pic4">
                                                    <img style="max-height:100%;max-width:100%;" src="{{signupForm.gallery[3].url}}" ng-if="signupForm.gallery && signupForm.gallery[3]">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col col-50">
                                            <div class="pic-choose" ng-click="selectGalleryPic('4')">
                                                
                                                <label for="pic5">
                                                    <img style="max-height:100%;max-width:100%;" src="{{signupForm.gallery[4].url}}" ng-if="signupForm.gallery && signupForm.gallery[4]">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="padding20-20" style="background:#efefef">
                                    <div class="provide-service">
                                        <h4 class="text-grid" style="margin-bottom: 3px;">Services Provided</h4>
                                        <p style="font-size: 12px;">Please select all the services you provide</p>
                                        <ul class="list">
                                            <li class="list-item">
                                                <p>Natural Hair</p>
                                                <div class="toggle-btn text-center">
                                                    <label class="toggle toggle-assertive">
                                                        <input type="checkbox" ng-model="signupForm.natural_hair">
                                                        <div class="track">
                                                            <div class="handle"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <p>Hair Extensions & Wigs</p>
                                                <div class="toggle-btn text-center">
                                                    <label class="toggle toggle-assertive">
                                                        <input type="checkbox" ng-model="signupForm.hair_extensions">
                                                        <div class="track">
                                                            <div class="handle"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <p>Braids & Twists</p>
                                                <div class="toggle-btn text-center">
                                                    <label class="toggle toggle-assertive">
                                                        <input type="checkbox" ng-model="signupForm.braids">
                                                        <div class="track">
                                                            <div class="handle"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <p>Cuts & Fades</p>
                                                <div class="toggle-btn text-center">
                                                    <label class="toggle toggle-assertive">
                                                        <input type="checkbox" ng-model="signupForm.cuts">
                                                        <div class="track">
                                                            <div class="handle"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <p>Dread Locs & Faux Locs</p>
                                                <div class="toggle-btn text-center">
                                                    <label class="toggle toggle-assertive">
                                                        <input type="checkbox" ng-model="signupForm.dread_locks">
                                                        <div class="track">
                                                            <div class="handle"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <p>Hair Products</p>
                                                <div class="toggle-btn text-center">
                                                    <label class="toggle toggle-assertive">
                                                        <input type="checkbox" ng-model="signupForm.hair_products">
                                                        <div class="track">
                                                            <div class="handle"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="padding20-20" style="background:#130316">
                                    <div class="select-gender">
                                        <p class="photo-style-text mb-0">Gender</p>
                                        <p class="photo-style-text mb-0" style="font-size:12px">(Please select one)</p>
                                        <div class="row">
                                            <div class="col col-33">
                                                <div class="card">
                                                    <label class="r-btn" ng-click="signupForm.gender = 'M'">
                                                        <input type="radio" hidden="" checked="" name="gender">
                                                        <img src="../img/male.png" class="first-img" alt="male">
                                                        <img src="../img/male-active.png" class="second-img" alt="male">
                                                        <!--                                <i class="icon ion-male"></i>-->
                                                        <small>Male</small>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col col-33">
                                                <div class="card">
                                                    <label class="r-btn">
                                                        <input type="radio" hidden="" name="gender" ng-click="signupForm.gender = 'F'">
                                                        <img src="../img/female.png" class="first-img" alt="male">
                                                        <img src="../img/female-active.png" class="second-img" alt="male">
                                                        <!--                                <i class="icon ion-female"></i>-->
                                                        <small>Female</small>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col col-33">
                                                <div class="card">
                                                    <label class="r-btn" ng-click="signupForm.gender = 'O'">
                                                        <input type="radio" name="gender" hidden="">
                                                        <p>I'll Pass</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-cat">
                                            <!--  -->
                                        <div class="list">
                                                <input type="text" ng-model="signupForm.dob" readonly ng-click="openDatepicker()" class="styled-input"placeholder="Enter your date of birth" >
                                                <!-- <input type="date" ng-model="signupForm.dob" class="styled-input" style="min-width: 95%;color: #000000;line-height: 35px;"> -->
                                        </div>
                                        <div class="list">
                                            <!-- <select class="style-select" ng-model="signupForm.ethnicity">
                                                <option value=" ">Select Ethnicity</option>
                                                <option value="Black">Black</option>
                                                <option value="White">White</option>
                                                <option value="Hispanic">Hispanic</option>
                                                <option value="Latino">Latino</option>
                                            </select> -->
                                            <ul style="list-style-type: none; width:100%">
                                                <li class="style-select" style="position: relative; width:100%;">
                                                <a href="" style="color:#736f6f; display: block; text-align: left; font-size: 12px; border: none; " ng-click="toggleEthnicity()">{{signupForm.ethnicity}}</a>
                                                <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                                                <ul style="padding:5px; list-style-type: none" ng-If="IsShowEth">
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectEthnicity('Black')">Black</a></li>
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectEthnicity('White')">White</a></li>
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;" ng-click="selectEthnicity('Hispanic')">Hispanic</a></li>
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;" ng-click="selectEthnicity('Latino')">Latino</a></li>
                                                </ul>
                                                </div>
                                                </li>
                                                </ul>
                                        </div>
                                        <div class="list">
                                            <ul style="list-style-type: none; width:100%">
                                                <li class="style-select" style="position: relative; width:100%;">
                                                <a href="" style="color:#736f6f; display: block; text-align: left; font-size: 12px; border: none; " ng-click="toggleTexture()">{{signupForm.texture}}</a>
                                                <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                                                <ul style="padding:5px; list-style-type: none" ng-If="IsShowText && userType=='P'">
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectTexture('Fine')">Fine</a></li>
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" ng-click="selectTexture('Medium')">Medium</a></li>
                                                <li style="margin-bottom:4px"><a href="" style="padding: 2px; display: block; text-align: left;font-size: 16px;color: black;" ng-click="selectTexture('Thick')">Thick</a></li>
                                                
                                                </ul>
                                                </div>
                                                </li>
                                                </ul>
                                        </div>
                                    </div>
                                    <!-- <div class="text-center">
                                    <button type="button" class="btn-grid">update</button>
                                </div> -->
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="bottom-back-btn padding20" ng-if="userType=='M'">
                        <a ui-sref="choose-account" class="back-btn" style="color:#0a0a0a">Back</a>
                        <button class="next-btn">Next</button>
                    </div>
                    <div class="bottom-back-btn padding20" ng-if="userType=='P'">
                            <a ui-sref="choose-account" class="back-btn" style="color:#0a0a0a">Back</a>
                            <button class="next-btn">{{AdvancedOption?'Update':'Next'}}</button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>