<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Search result">
    <ion-content class="common-screen no-padding has-footer">
        <div class="filter-strip" style="background:#1f0220;">
            <div class="row">
                <div class="col col-80">
                    <div class="left">
                        <a href="" class="icon-filter"><img src="../img/back-arw.png" alt="back-arw"></a>
                    </div>
                </div>

                <div class="col col-20">
                    <div style="float: right;">
                        <a href="" class="icon-filter"><img src="../img/nl.png" alt="" class="ig"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of filter-strip-->
        <div class="result-wrap-black" style="padding-bottom:0">
                <div class="srch-result-head">
                        <div class="row">
                            <div class="col col-80">
                                <div class="flex">
                                    <div class="img-box">
                                        <img src="../img/news1.png" alt="">
                                        <span class="icon-img"><img src="../img/1c.png" alt=""></span>
                                    </div>
                                    <div class="head-text">
                                        <span>Houston   |  1 mile (s) away</span>
                                        <h3>Royal Beauty Supply</h3>
                                        <span class="ratings"><img src="../img/rating.png" alt="">Ratings</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-20">
                                <div class="reviews text-center">
                                    <img src="../img/pro-batch.png" alt="" style="width: 20px; margin-top:6px;">
                                    <span>8 Reviews</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="conts-div full">
                            <ul class="">
                                <li><img src="../img/map-marker.png" alt=""> <span>1211 Esperanza Lane Houston, TX 77007</span></li>
                                <li><img src="../img/phone.png" alt=""> <span>713-555-1212</span></li>
                            </ul>
                    </div>
                    <div class="gallery-div3 four-image">
                            <ul>
                                <li>
                                    <div class="img-maindiv">
                                        <figure>
                                            <div class="img-dv text-center">
                                                <img src="img/im.jpg" alt="">
                                            </div>

                                        </figure>
                                    </div>
                                </li>

                                <li>
                                   <div class="img-maindiv">
                                        <figure>
                                            <div class="img-dv text-center">
                                                <img src="img/im3.jpg" alt="">
                                            </div>

                                        </figure>
                                    </div>
                                </li>

                                <li>
                                   <div class="img-maindiv">
                                        <figure>
                                            <div class="img-dv text-center">
                                                <img src="img/im1.jpg" alt="">
                                            </div>

                                        </figure>
                                    </div>
                                </li>
                                <li>
                                   <div class="img-maindiv">
                                        <figure>
                                            <div class="img-dv text-center">
                                                <img src="img/im2.jpg" alt="">
                                            </div>

                                        </figure>
                                    </div>
                                </li>
                            </ul>
                        </div>

            <div class="tabs-striped tabs-top ">
                <div class="tabs" style="top:0 !important">
                    <a class="tab-item " href="" ng-click="goToSingleResult()">
                        About
                    </a>
                    <a class="tab-item" href="" ng-click="goToSinglePhotos()">
                        Photos
                    </a>
                    <a class="tab-item active" href="" ng-click="goToSingleReviews()">
                        Reviews
                    </a>
                </div>
            </div>
        </div>
        <div class="bottom-review">

            <div class="postreview">
                <a href="" class="dark-fllow-btn " ng-click="!showform">post Review</a>  
                <div class="d-flex-div" ng-show="showform">
                    <div class="starrate">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>                        
                        <span></span>
                        <span></span>
                    </div>
                    <div class="styled-input reply-div">
                            <textarea  rows="3"  placeholder="Leave A Review" class=""></textarea>
                            <a style="align-self: flex-end; font-size: 16px;" type="submit" class="reply-btn text-grid">Post</a>
                        </div>

                </div>
            </div>
            <div class="row mb-3">
                    <div class="col col-20">
                      <div class="f-box">
                            <img src="../img/eliza.png" alt="">
                      </div>
                      <span>eliza</span>
                    </div>
                    <div class="col col-80">
                            <span class="ratings"><img src="../img/rating.png" alt=""> <span>07.07.18</span></span>
                            <a href="" class="dark-fllow-btn abs-btn">Follow</a>
                            <p>
                                 Very clean store! Everything is very organized and easy to find. The staff is helpful and nice and the items are not overpriced. Even though it is out of my way, I still love to patronize this store because they carry a wide variety of products!
                            </p>
                            <a href="" class="link">More..</a>
                    </div>
                </div>
                <div class="row mb-3">
                        <div class="col col-20">
                          <div class="f-box">
                                <img src="../img/kelly.png" alt="">
                          </div>
                          <span>Kelly</span>
                        </div>
                        <div class="col col-80">
                                <span class="ratings"><img src="../img/rating.png" alt=""> <span>07.07.18</span></span>
                                <a href="" class="dark-fllow-btn abs-btn">Follow</a>
                                <p>Royal Beauty Supply is my favorite beauty supply store. The store is very organized and you can find a great variety of hair, hair products and other supply needs. There is always great specials on bundled hair. If you love wigs they have a huge selection of those too.
                                  </p>
                                <a href="" class="link">More..</a>
                        </div>
                    </div>
                    <div class="row mb-3">
                            <div class="col col-20">
                              <div class="f-box">
                                    <img src="../img/beruna.png" alt="">
                              </div>
                              <span>breauna</span>
                            </div>
                            <div class="col col-80">
                                    <span class="ratings"><img src="../img/rating.png" alt=""> <span>07.07.18</span></span>
                                    <a href="" class="dark-fllow-btn abs-btn">Follow</a>
                                    <p>Nice beauty supply everyone is helpful plenty of parking and good customer service. I love the fact that even when they don't have it on the floor they're willing to check in the back just for the item.
                                    </p>
                                    <a href="" class="link">More..</a>
                            </div>
                        </div>
        </div>
    </ion-content>

    <div class="tabs tabs-icon-only white-bg">
<a class="tab-item" ng-click="goToFeedback()">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToEplore()">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToNewPost()">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ng-click="goToNotDetails()">
  <img src="../img/notifiaction-dot-icon.png" alt="" style="width:25px;">
</a>
<a class="tab-item" ng-click="goToNotification()">
  <img src="../img/message-icon.png" alt="" style="width:25px;">
</a>
        </div>
</ion-view>
