<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Search result" ng-init="getPostListImage();initreviewFrom();">
    <ion-content class="bottom-bg no-padding mb-5" overflow-scroll="true">
        <div class="filter-strip" style="background:#1f0220;">
            <div class="row">
                <div class="col col-80">
                    <div class="left">
                        <a ui-sref="location" class="icon-filter"><img src="../img/back-arw.png" alt="back-arw"></a>
                    </div>
                </div>

                <div class="col col-20">
                    <!-- <div style="float: right;">
                        <a href="" class="icon-filter"><img src="../img/nl.png" alt="" class="ig"></a>
                    </div> -->
                    <div class="right">
                        <a ui-sref="member-profile-member-view({userId:loginUserDetails.id})" class="icon-filter">
                            <img ng-src="{{loginUserDetails.image_url + loginUserDetails.profile_image}}" ng-if="loginUserDetails.profile_image" class="ig r-div">
                            <img ng-src="../img/default_user.jpeg" ng-if="!loginUserDetails.profile_image" class="ig r-div">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{photos}}
        <!--end of filter-strip-->
        
        <div class="result-wrap-black" style="padding-bottom:0" ng-init="getUserDetails()">
                <div class="srch-result-head">
                        <div class="row">
                            <div class="col col-80">
                                <div class="flex">
                                    <div class="img-box">
                                        <img src="../img/news1.png" alt="" ng-if="!userDetails.profile_image">
                                        <img src="{{userImageUrl + userDetails.profile_image}}" alt="" ng-if="userDetails.profile_image">
                                        <span class="icon-img"><img src="../img/1c.png" alt=""></span>
                                    </div>
                                    <div class="head-text">
                                        <span>{{ (city != '') ? city + ' | ' : ' ' }} {{ distance }} mile (s) away</span>
                                        <h3>{{userDetails.name}}</h3>
                                        <span class="ratings">
                                                <div class="starrate small">
                                                        <span ng-class="{active:userDetails.ratings>=1}"></span>
                                                        <span ng-class="{active:userDetails.ratings>=2}"></span>
                                                        <span ng-class="{active:userDetails.ratings>=3}"></span>                        
                                                        <span ng-class="{active:userDetails.ratings>=4}"></span>
                                                        <span ng-class="{active:userDetails.ratings>=5}"></span>
                                                    </div>
                                            <!-- <img src="../img/rating.png" alt="">Ratings -->
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-20">
                                <div class="reviews text-center">
                                    <img src="../img/pro-batch.png" alt="" style="width: 20px; margin-top:6px;">
                                    <span>{{ userDetails.followers_count }} Followers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="conts-div full">
                            <ul class="">
                                <li ng-show="userDetails.address1 || userDetails.address2"><img src="../img/map-marker.png" alt=""> <span>{{userDetails.address1 + " " + userDetails.address2}}</span></li>
                                <li ng-if="userDetails.phone"><img src="../img/phone.png" alt=""> <span>{{userDetails.phone}}</span></li>
                            </ul>
                    </div>
                    <div class="gallery-div3 four-image">
                            <ul>
                                <li ng-repeat="photo in userDetails.user_photos" ng-if="$index < 4">
                                    <div class="img-maindiv">
                                        <figure>
                                            <div class="img-dv text-center">
                                                <img src="{{userImageUrl + photo.name}}" alt="">
                                            </div>
                                        </figure>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        
                     <div class="tabs-striped tabs-top ">
                        <div class="tabs" style="top:0 !important">
                            <!-- <a class="tab-item active" href="" ng-click="goToSingleResult()">
                                About
                            </a>
                            <a class="tab-item" href="" ng-click="goToSinglePhotos()">
                                Photos
                            </a>
                            <a class="tab-item" href="" ng-click="goToSingleReviews()">
                                Reviews
                            </a> -->
                            <a class="tab-item {{ (selection == 'bio') ? 'active' : ''}}" href="" ng-click="changetab('bio')">
                                About
                            </a>
                            <a class="tab-item {{ (selection == 'pics') ? 'active' : ''}}" href="" ng-click="changetab('pics')">
                                Photos
                            </a>
                            <a class="tab-item {{ (selection == 'review') ? 'active' : ''}}" href="" ng-click="changetab('review')">
                                Reviews
                            </a>
                        </div>
                    </div> 
                    
        </div>
        <!--end of result wrap-->
        <div class="tab-content-wrap">
            <!--About Section Start-->
            <div class="tab-reasult srch-result-head" ng-if="selection == 'bio'">
                <h3 class="text-center">About {{ userDetails.name }}</h3>
                <div class="text-padding" ng-bind-html="userDetails.bio">
                </div>
            </div>
            <!--About Section End-->
            <!----Buttom Pics Start--->
            <div class="bottom-pics btn-pics" ng-if="selection == 'pics'">
                <div class="row">
                    <div class="col img-box" ng-repeat="gal in userDetails.gallery" ng-if="$index < 4">
                        <img src="{{ userImageUrl + gal.name }}" alt=""  ng-click="showPopup(userImageUrl + gal.name)">
                    </div>
                </div>
            </div>
            <!----Buttom Pics End--->
            <!----Review Section Start--->
            <div class="bottom-review" ng-if="selection == 'review'">
                    <form method="post" ng-submit="saveReview()">
                        <div class="postreview">
                            <a href="" class="dark-fllow-btn " ng-click="showform = !showform">Post Review</a>  
                            <div class="d-flex-div" ng-show="showform">
                                <div class="starrate">
                                    <span class="{{ (reviewcountval1) ? 'active' : '' }}" ng-click="reviewcount('1')"></span>
                                    <span class="{{ (reviewcountval2) ? 'active' : '' }}" ng-click="reviewcount('2')"></span>
                                    <span class="{{ (reviewcountval3) ? 'active' : '' }}" ng-click="reviewcount('3')"></span>                        
                                    <span class="{{ (reviewcountval4) ? 'active' : '' }}" ng-click="reviewcount('4')"></span>
                                    <span class="{{ (reviewcountval5) ? 'active' : '' }}" ng-click="reviewcount('5')"></span>
                                </div>
                                <div class="styled-input reply-div">
                                    <textarea  rows="3"  placeholder="Leave A Review" class="" ng-model="review.comment"></textarea>
                                    <a style="align-self: flex-end; font-size: 16px;" type="submit" class="reply-btn text-grid" ng-click="saveReview(review)">Post</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row mb-3" ng-repeat="review in userDetails.reviews">
                        <div class="col col-20">
                            <div class="f-box">
                                <img src="{{ userImageUrl + review.user.profile_image }}" alt="">
                            </div>
                            <span>{{ review.user.username }}</span>
                        </div>
                        <div class="col col-80">
                            <div class="rate-box" ng-if="review.rating == 0">
                                <div class="starrate">
                                    <span class=""></span>
                                    <span class=""></span>
                                    <span class=""></span>                        
                                    <span class=""></span>
                                    <span class=""></span>
                                </div>
                                <span>{{ review.c_date | date:'dd.MM.yyyy' }}</span>
                            </div>
                            <div class="rate-box" ng-if="review.rating == 1">
                                <div class="starrate">
                                    <span class="active"></span>
                                    <span class=""></span>
                                    <span class=""></span>                        
                                    <span class=""></span>
                                    <span class=""></span>
                                </div>
                                <span>{{ review.c_date | date:'dd.MM.yyyy' }}</span>
                            </div>
                            <div class="rate-box" ng-if="review.rating == 2">
                                <div class="starrate">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class=""></span>                        
                                    <span class=""></span>
                                    <span class=""></span>
                                </div>
                                <span>{{ review.c_date | date:'dd.MM.yyyy' }}</span>
                            </div>
                            <div class="rate-box" ng-if="review.rating == 3">
                                <div class="starrate">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>                        
                                    <span class=""></span>
                                    <span class=""></span>
                                </div>
                                <span>{{ review.c_date | date:'dd.MM.yyyy' }}</span>
                            </div>
                            <div class="rate-box" ng-if="review.rating == 4">
                                <div class="starrate">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>                        
                                    <span class="active"></span>
                                    <span class=""></span>
                                </div>
                                <span>{{ review.c_date | date:'dd.MM.yyyy' }}</span>
                            </div>
                            <div class="rate-box" ng-if="review.rating == 5">
                                <div class="starrate">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>                        
                                    <span class="active"></span>
                                    <span class="active"></span>
                                </div>
                                <span>{{ review.c_date | date:'dd.MM.yyyy' }}</span>
                            </div>
                                <!-- <span class="ratings"><img src="../img/rating.png" alt="">  -->
                                    
                                <!-- <a href="" class="dark-fllow-btn abs-btn">Follow</a> -->
                                
                                <a ng-if="userDetailsnew.id != review.user_id" ng-click="followUser(review.user_id)" class="dark-fllow-btn abs-btn">{{ review.isfollow ? 'Unfollow' : 'Follow' }}</a>
                                <p>
                                    {{ review.comment }}
                                </p>
                        </div>
                    </div>
                    <!-- <div class="row mb-3">
                        <div class="col col-20">
                            <div class="f-box">
                                <img src="../img/kelly.png" alt="">
                            </div>
                            <span>Kelly</span>
                        </div>
                        <div class="col col-80">
                                <span class="ratings"><img src="../img/rating.png" alt=""> <span>07.07.18</span></span>
                                <a href="" class="dark-fllow-btn abs-btn">Follow</a>
                                <p>Royal Beauty Supply is my favorite beauty supply store. The store is very organized and you can find a great variety of hair, hair products and other supply needs. There is always great specials on bundled hair. If you love wigs they have a huge selection of those too.
                                    </p>
                                <a href="" class="link">More..</a>
                        </div>
                    </div> -->
                    <!-- <div class="row mb-3">
                        <div class="col col-20">
                            <div class="f-box">
                                <img src="../img/beruna.png" alt="">
                            </div>
                            <span>breauna</span>
                        </div>
                        <div class="col col-80">
                                <span class="ratings"><img src="../img/rating.png" alt=""> <span>07.07.18</span></span>
                                <a href="" class="dark-fllow-btn abs-btn">Follow</a>
                                <p>Nice beauty supply everyone is helpful plenty of parking and good customer service. I love the fact that even when they don't have it on the floor they're willing to check in the back just for the item.
                                </p>
                                <a href="" class="link">More..</a>
                        </div>
                    </div> -->
            </div>
            <!----Review Section End--->
        </div>
    </ion-content>
    <div class="tabs tabs-icon-only" ng-controller="RootsCtrl" ng-include="'templates/template-parts/footer.html'" ng-controller="RootsCtrl">

    </div>
</ion-view>
<style>
    .popup-head{
    display: none;
    }
    .popup-body {
        padding: 0;
        overflow:hidden;
        position: relative;
    }
    a.closemodal {
        position: absolute;
        width: 18px;
        right: 5px;
        height: 18px;
        top: 5px;
        display: block;
        background: #fff;
        border-radius: 100px;
        overflow: hidden;
    }
    a.closemodal img{
        max-width: 8px;
        height: auto;
        display: block;
        margin: 5px auto;
    }
    .popup-container .popup{
        width: 98%;
        max-width: 320px;
        height: 320px;
    }
    .bottom-modal{
        height: 320px;
    }
    .bottom-modal img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .bottom-pics .img-box{
        width: 50%;
        height: 160px;
        border-radius: 0;
        margin: 0 1px;
        padding: 0;
    } 
    .bottom-pics .img-box img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    .btn-pics .img-box{
        width: 49%;
        height: 160px;
        border-radius: 0;
        margin: 0 1px;
        padding: 0 0 3px;
    }       
    .btn-pics .row {
        display: inline-block;
    } 
    .btn-pics .row .col.img-box{
        float: left;
    }       
</style>
