<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="Search result" ng-init="getPostListImage()">
        <ion-content class="bottom-bg no-padding mb-5">
            <div class="filter-strip" style="background:#1f0220;">
                <div class="row">
                    <div class="col col-80">
                        <div class="left">
                            <a ui-sref="location" class="icon-filter"><img src="../img/back-arw.png" alt="back-arw"></a>
                        </div>
                    </div>
    
                    <div class="col col-20">
                        <div style="float: right;">
                            <a href="" class="icon-filter"><img src="../img/nl.png" alt="" class="ig"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of filter-strip-->
            <div class="result-wrap-black" style="padding-bottom:0" ng-init="getUserDetails()">
                    <div class="srch-result-head">
                            <div class="row">
                                <div class="col col-80">
                                    <div class="flex">
                                        <div class="img-box">
                                            <img src="../img/news1.png" alt="" ng-if="!userDetails.profile_image">
                                            <img src="{{userImageUrl + userDetails.profile_image}}" alt="" ng-if="userDetails.profile_image">
                                            <span class="icon-img"><img src="../img/1c.png" alt=""></span>
                                        </div>
                                        <div class="head-text">
                                            <span>Houston  |  1 mile (s) away</span>
                                            <h3>{{userDetails.name}}</h3>
                                            <span class="ratings"><img src="../img/rating.png" alt="">Ratings</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-20">
                                    <div class="reviews text-center">
                                        <img src="../img/pro-batch.png" alt="" style="width: 20px; margin-top:6px;">
                                        <span>8 Reviews</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="conts-div full">
                                <ul class="">
                                    <li ng-show="userDetails.address1 || userDetails.address2"><img src="../img/map-marker.png" alt=""> <span>{{userDetails.address1 + " " + userDetails.address2}}</span></li>
                                    <li ng-if="userDetails.phone"><img src="../img/phone.png" alt=""> <span>{{userDetails.phone}}</span></li>
                                </ul>
                        </div>
                        <div class="gallery-div3 four-image">
                                <ul>
                                    <li ng-repeat="photo in userDetails.user_photos">
                                        <div class="img-maindiv">
                                            <figure>
                                                <div class="img-dv text-center">
                                                    <img src="{{userImageUrl + photo.name}}" alt="">
                                                </div>
    
                                            </figure>
                                        </div>
                                    </li>
                                </ul>
                            </div>
            <div class="tabs-striped tabs-top ">
                <div class="tabs" style="top:0 !important">
                    <a class="tab-item " href="" ng-click="goToSingleResult()">
                        About
                    </a>
                    <a class="tab-item active"  href="" ng-click="goToSinglePhotos()">
                        Photos
                    </a>
                    <a class="tab-item" href="" ng-click="goToSingleReviews()">
                        Reviews
                    </a>
                </div>
            </div>
        </div>
        <div class="bottom-pics">
            
                    <div class="col img-box" style="float:left;" ng-repeat="photo in photos">
                            <img src="{{photourl + photo.name}}" alt="">
                    </div>
        
        </div>

    </ion-content>

    <div class="tabs tabs-icon-only white-bg">
<a class="tab-item" ng-click="goToFeedback()">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToEplore()">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ng-click="goToNewPost()">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ng-click="goToNotDetails()">
  <img src="../img/notifiaction-dot-icon.png" alt="" style="width:25px;">
</a>
<a class="tab-item" ng-click="goToNotification()">
  <img src="../img/message-icon.png" alt="" style="width:25px;">
</a>
        </div>
</ion-view>
