<!--
  Generated template for the PrivacyPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view view-title="create post" ng-init="imageArray=[]">
    <ion-content class="create-page white-bg no-padding has-footer">
        <div class="filter-strip" ng-include="'templates/template-parts/header.html'">
            
        </div>
        <!--end of filter-strip-->
       <div class="row btn-dwn" style="padding-bottom:20px">
            <div class="col left">
                <a href="" class="btn-gray">Cancel</a>

            </div>
            <div class="col right">
                <a href="" ng-click="savePostFiles()" class="btn-grid">Next</a>
            </div>
       </div>
       <div class="row">
           <div class="col">
                <ion-slide-box class="edit-slide create-post-slider">
                    <ion-slide ng-if="imageArray.length>0" ng-repeat="image in imageArray">
                        <div class="image-box">
                            <img src="{{image.result?image.result:image}}" alt="">
                        </div>
                    </ion-slide>
                    <ion-slide ng-if="imageArray.length==0">
                        <div class="image-box">
                            <img src="../img/edit-slide.png" alt="">
                        </div>
                    </ion-slide>
                   

                </ion-slide-box>
           </div>
       </div>
       
    </ion-content>
    <div class="tabs tabs-icon-only" ng-include="'templates/template-parts/footer.html'">

        </div>
</ion-view>
