<a class="tab-item" ui-sref="listings">
  <img src="../img/my-feed-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ui-sref="explore">
  <img src="../img/explore-icon.png" alt="" style="height:20px;">
</a>
<a class="tab-item" ui-sref="create-post">
  <img src="../img/plus-icon.png" alt="" style="width:50px;">
</a>
<a class="tab-item" ui-sref="notifications">
  <img src="../img/crown-gray.png" ng-if="newNotification" alt="" style="width:25px;">
  <img src="../img/likes-icon.png" ng-if="!newNotification" alt="" style="width:25px;">
</a>
<a class="tab-item" ui-sref="notifications-list">
  <img ng-if="!newInboxMsg" src="../img/message.png" alt="" style="width:25px;">  
  <img ng-if="newInboxMsg" src="../img/message-icon.png" alt="" style="width:25px;">
</a>
<div ng-if="showbelowuserinfooff" class="chat-head" ng-init="reassignUser()" ui-sref="member-profile-member-view({userId:loginUserDetails.id})" >
  <img ng-src="{{loginUserDetails.image_url + loginUserDetails.profile_image}}" alt="" ng-if="loginUserDetails.profile_image">
  <img src="../img/default_user.jpeg" alt="" ng-if="!loginUserDetails.profile_image">
</div>