<div class="row" ng-init="getUserListRoot()"> 
    <div class="col col-20" ng-if="!(locationpath == '/find-service/' || locationpath =='/service-area')">
        <div class="left">
            <!-- <a href="" class="icon-filter g-search" ng-click="searchbox = !searchbox"> -->
            <a href="" class="icon-filter g-search" ng-click="searchboxhideshow(!serchhide)">
                <img src="../img/search-icon.png" alt="search">
            </a>
        </div>
    </div>

    <div class="col col-20" ng-if="(locationpath == '/find-service/' || locationpath =='/service-area')">
        <div class="left" ng-init="reassignUser()">
            <a ui-sref="member-profile-member-view({userId:loginUserDetails.id})" class="icon-filter">
                <img ng-src="{{loginUserDetails.image_url + loginUserDetails.profile_image}}" ng-if="loginUserDetails.profile_image" class="ig r-div">
                <img ng-src="../img/default_user.jpeg" ng-if="!loginUserDetails.profile_image" class="ig r-div">
            </a>
        </div>
    </div>
    <!-- <div class="searchtop" ng-show="searchbox"> -->
    <div class="searchtop" ng-if="serchhide">
        <div class="search-inner">
            <!-- <input type="search" placeholder="Keywords"> -->
            <input type="text" ion-autocomplete autocomplete="off" 
            max-selected-items="1" 
            items-method="getAutocompleteUser(query)"
            item-value-key="id"
            item-view-value-key="name"
            ng-model="cc"
            items-clicked-method="setSelectedUser(callback)" placeholder="Search Users" >
        </div>
    </div>
    <div class="col">
        <h4 class="filter-text">{{pageTitle}}</h4>
    </div>
    <div class="col {{ !(locationpath == '/find-service/' || locationpath =='/service-area') ? 'col-50' : 'col-20'}}">
        <div class="right">
            <a ng-if="!(locationpath == '/find-service/' || locationpath =='/service-area')" class="icon-filter" ng-click="goToProviderProfile()"><img src="../img/rf-icon.png" alt="search"></a>
            <a ng-if="!(locationpath == '/find-service/' || locationpath =='/service-area')" class="icon-filter g-filter" ui-sref="filter"><img src="../img/filter-icon.png" alt="search"></a>
            <a ng-if="!(locationpath == '/find-service/' || locationpath =='/service-area') && loginUserDetails.user_type=='M'" class="icon-filter g-location" ui-sref="find-service"><img src="../img/location.png" alt="search"></a>
            <a ng-if="(locationpath == '/find-service/' || locationpath =='/service-area')" class="icon-filter" ui-sref="find-service"><img src="../img/finder.png" alt="search"></a>
            <a ng-if="!(locationpath == '/find-service/' || locationpath =='/service-area')" href="" class="icon-filter g-menu" ui-sref="settings"><img src="../img/menu-icon.png" alt="search"></a>
        </div>
    </div>
</div>