<div >
    <div class="right">
        <a href="Javascript:void(0);" ng-click="SelectToggle2(post)"  class="close-menu"><img src="../img/cross.png" alt="search" style="height: 14px;"></a>
    </div>
    <ul class="list side-list margin-list">
        <li ng-click="postNotiroot(post)"><img src="../img/bell.png" alt=""><a href="">Turn Post Notifications {{ post.blockonof ? 'Off ': 'On' }}</a></li>
        <li ng-click="goToSavesPostPage()"><img src="../img/save.png" alt=""><a href="">Save Post</a></li>
        <li ng-if="userDetails.id != post.user_id" ng-click="followUserroot(post)"><img src="../img/user.png" alt=""><a href="">{{ post.followonof ? 'Unfollow ': 'Follow ' }}{{ post.user.name }}</a></li>
        <!-- <a ng-click="followUser()" class="dark-fllow-btn">{{userDetDataroot.my_follow && userDetDataroot.my_follow.length>0?'Unfollow':'Follow'}}</a> -->
        <li ng-if="userDetails.id != post.user_id" ng-click="goToChatDetailsroot(userDetails.id,post.user_id)"><img src="../img/pencil.png" alt=""><a href="">Send Private Message</a></li>
        <li ng-if="userDetails.id != post.user_id" ng-click="blockUserroot(post)"><img src="../img/block.png" alt=""><a href="" class="text-theme">{{ post.blockonof ? 'Unblock ': 'Block ' }} This Person</a></li>
    </ul>
    <div class="text-center list-btn">
        <a href="" class="btn-grid">RF | Expert Corner</a>
        <a href="" class="filter-outline-btn"><img src="../img/leaf.png" alt=""> Root Curl Pattern FAQ </a>
    </div>
</div>