<div >
    <div class="right">
        <a href="" ng-click="SelectToggle(post)" class="close-menu"><img src="../img/cross.png" alt="search" style="height: 14px;"></a>
    </div>
    <ul class="list side-list">
        <li><img src="../img/link.png" alt=""><a href="">Copy Link to post</a></li>
        <!-- <li ng-click="window.plugins.socialsharing.shareViaSMS('', '', '', 'rootsfolio://listings-details/'+post.id)"><img src="../img/chat.png" alt=""><a href="">Send via Text Message</a></li>
        <li ng-click="window.plugins.socialsharing.shareViaEmail('', '', '', 'rootsfolio://listings-details/'+post.id)"><img src="../img/mail.png" alt=""><a href="">Send via Email</a></li> -->
        <li ng-click="sendsocialShare(post)"><img src="../img/social-share.png" alt=""><a href="">Social Share</a> <a href="" class="share-btn">Share</a></li>
        <!-- <li ng-click="sendsocialShare()"><img src="../img/social-share.png" alt="" ng-click="startSocialShare()"><a href="">Social Share</a> <a href="" class="share-btn">Share</a></li> -->
    </ul>
</div>