
  <div class="custom-canvas-area {{randdiv}}">
      <div class="hz-modal-image text-center">
        <ion-spinner ng-if="!hideSpinner"></ion-spinner>
      </div>  
      
      <div class="main-div" on-touch="mouseoverWideDiv()" on-release="mouseleaveWideDiv()">
        <ul class="image-tabs">
          <li ng-click="currentTab='adjust'">
            <img src="../../img/icon/list-active.png" class="{{currentTab=='adjust'?'block-display':'no-display'}}" >
            <img src="../../img/icon/list.png" class="{{currentTab!='adjust'?'block-display':'no-display'}}" >
          </li>
          <li ng-click="currentTab='filter'">
            <img src="../../img/icon/grid.png" class="{{currentTab!='filter'?'block-display':'no-display'}}" >
            <img src="../../img/icon/grid-active.png" class="{{currentTab=='filter'?'block-display':'no-display'}}" >
          </li>
        </ul>

        <div class="dark-bg slider-main no-display {{currentTab=='adjust'?'block-display':'no-display'}}" >
                <div class="item range range-calm {{selectedTab == 'brightness'?'show-slide':''}}" >
                  <span class="range-number">-100</span>
                  <input type="range" ng-model="brightness" id="brightness" name="range" min="-10" max="10">
                  <span class="range-number">+100</span>
                </div>
        
                <div class="item range range-calm {{selectedTab == 'contrast'?'show-slide':''}}" >
                  <span class="range-number">-100</span>
                  <input type="range" ng-model="contrast" id="contrast" name="range" min="-10" max="10">
                  <span class="range-number">+100</span>
                </div>
        
                <div class="item range range-calm {{selectedTab == 'saturation'?'show-slide':''}}">
                  <span class="range-number">-100</span>
                  <input type="range" ng-model="saturation" id="saturation" name="range" min="-10" max="10">
                  <span class="range-number">+100</span>
                </div>
        
                <div class="item range range-calm {{selectedTab == 'vibrance'?'show-slide':''}}">
                  <span class="range-number">-100</span>
                  <input type="range" ng-model="vibrance" id="vibrance" name="range" min="-100" max="100">
                  <span class="range-number">+100</span>
                </div>
                <div class="item range range-calm {{selectedTab == 'sharpen'?'show-slide':''}}">
                    <span class="range-number">0</span>
                    <input type="range" ng-model="sharpen" id="sharpen" name="range" min="0" max="30">
                    <span class="range-number">+100</span>
                </div>

                <div class="item range range-calm {{selectedTab == 'fade'?'show-slide':''}}">
                  <span class="range-number">-100</span>
                  <input type="range" ng-model="fade" id="sepia" name="range" min="-10" max="10">
                  <span class="range-number">+100</span>
                </div>
        
                <div class="icon-wrap">
                    <div class="s-icon {{selectedTab == 'brightness'?'active':''}}" ng-click="selectedTab = 'brightness'">
                        <i class="icon ion-volume-low"></i>
                        <label>Brightness</label>
                    </div>
                    <div class="s-icon {{selectedTab == 'contrast'?'active':''}}" ng-click="selectedTab = 'contrast'">
                        <i class="icon ion-volume-low"></i>
                        <label>Contrast</label>
                    </div>
                    <div class="s-icon {{selectedTab == 'saturation'?'active':''}}" ng-click="selectedTab = 'saturation'">
                        <i class="icon ion-volume-low"></i>
                        <label>Smooth</label>
                    </div>
                    <div class="s-icon {{selectedTab == 'vibrance'?'active':''}}" ng-click="selectedTab = 'vibrance'">
                        <i class="icon ion-volume-low"></i>
                        <label>Vibrance</label>
                    </div>

                    <div class="s-icon {{selectedTab == 'sharpen'?'active':''}}" ng-click="selectedTab = 'sharpen'">
                            <i class="icon ion-volume-low"></i>                          
                           <label>Sharpen</label>
                    </div>
                    
                    <div class="s-icon {{selectedTab == 'fade'?'active':''}}" ng-click="selectedTab = 'fade'">
                        <i class="icon ion-volume-low"></i>
                        <label>Fade</label>
                    </div>
                </div>
        </div>

        <div class="dark-bg {{currentTab=='filter'?'block-display':'no-display'}}" >
        <ion-scroll direction="x" style="overflow: scroll;white-space: nowrap;">
          <div class="small-thum-imagsection">
            <div style="width:50px; margin:1px 5px" ng-click="applyImageParameters('normal')"> 
                <div style="width:100%; height:54px;" class="filter-div" id="normal">
                  
                </div>
                <p style="text-align:center">Normal</p>
              </div>
            <div style="width:50px; margin:1px 5px" ng-click="applyImageParameters('clarity')"> 
              <div style="width:100%; height:54px;" class="filter-div" id="clarity">
                
              </div>
              <p style="text-align:center">Clarendon</p>
            </div>

            <div style="width:50px; margin:1px 5px" ng-click="applyImageParameters('hazyDays')">
                <div style="width:100%; height:54px;" class="filter-div"  id="hazyDays">
                  
                </div>
                <p style="text-align:center">Gingham</p>
            </div>

           
            <div style="width:50px; margin:1px 5px" ng-click="applyImageParameters('vintage')">
                <div style="width:100%; height:54px;" class="filter-div" id="vintage">
                  
                </div>
                <p style="text-align:center;">Moon</p>
            </div>

            <div style="width:50px; margin:1px 5px" ng-click="applyImageParameters('sunrise')">
                <div style="width:100%; height:54px;" class="filter-div" id="sunrise">
                </div>
                <p style="text-align:center">Lark</p>
            </div>

            <div style="width:50px; margin:1px 5px" ng-click="applyImageParameters('glowingSun')">
                <div style="width:100%; height:54px;" class="filter-div" id="glowingSun">
                </div>
                <p style="text-align:center">Slumber</p>
            </div>

            <div style="width:50px; margin:1px 5px" ng-click="applyImageParameters('jarques')">
                <div style="width:100%; height:54px;" class="filter-div" id="jarques">
                </div>
                <p style="text-align:center">Crema</p>
            </div>

            <div style="width:50px; margin:1px 5px" ng-click="applyImageParameters('pinhole')">
                <div style="width:100%; height:54px;" class="filter-div" id="pinhole">
                </div>
                <p style="text-align:center">Pinhole</p>
            </div>

            <div style="width:50px; margin:1px 5px" ng-click="applyImageParameters('grungy')">
                <div style="width:100%; height:54px;" class="filter-div" id="grungy">
                </div>
                <p style="text-align:center">Grungy</p>
            </div>
          </div>
        </ion-scroll>
        </div>
      </div>
      <style>
          .small-thum-imagsection p {
              font-size: 12px;
          }
          .slider-main .item, .no-display{
              display: none;
          }
          .slider-main .item.show-slide {
              display: flex !important;
          }
          .block-display{
            display: block;
          }
          
      </style>