
<div class="overlay" ng-if="visible">
    <div class="headerbuttons">
        <span class="hdbutton" ng-click="hitcancelmethod()">Cancel</span>
        <span class="album-selector">
                <!-- <ul style="list-style-type: none; width:100%">
                        <li class="style-select" style="position: relative; width:100%;background-color:#fff;line-height:25px;">
                        <a href="" style="color:#736f6f; display: block; text-align: left; font-size: 12px; border: none; " 
                        ng-click="toggleAlbum()">{{selectedAlbum?selectedAlbum.title:'Albums'}}</a>
                        <div style="position: absolute; top:40x; left:0; width:100%; z-index: 1; background:rgba(255,255,255,1); border-radius:4px">
                        <ul style="padding:5px; list-style-type: none" ng-if="showAlbums">
                            <li style="margin-bottom:4px">
                                <a href="" style="padding: 2px; display: block; text-align: left; font-size: 16px;color: black;" 
                                ng-click="selectAlbum(album)" ng-repeat="album in allAlbums">{{album.title}}</a>
                            </li>
                            
                        </ul>
                        </div>
                        </li>
                </ul> -->
                <select ng-model="selectedAlbum" class="album-select" ng-change="changeAlbum()">
                        <option value=''>All Albums</option>
                        <option value="{{album.id}}" ng-repeat="album in allAlbums">{{album.title}}</option>
                    </select>
        </span>
        <span class="hdbutton" ng-click="preparesave()">Save</span>
    </div>
    <div class="main-wrap">
        <div class="top-wrap">
            <div class="cropbox" >

            </div>
        </div>
        <div class="bottom-wrap">
                <ion-scroll class="scroll">
                <ul class="">
                    <li ng-repeat="image in library" on-long-press="onLongPress(image)" ng-click="startCropper(image)" class="{{activeCrop && activeCrop.id==image.id?'activated':''}}" >
                        <img src="{{image.image}}" class="{{selectedImages && selectedImages[image.id]?'selectedimg':''}}"  width="80" wight="80" ng-init="$index==0?startCropper(image):''">
                        <div class="multi-select {{selectedImages && selectedImages[image.id]?'active':''}}" ng-show="multiselectEnabled" >
                                <div class="circle"></div>
                        </div>                            
                    </li>
                    <!-- <li>
                        <img src="../../img/photu1.png" class="{{selectedImages && selectedImages['a']?'selectedimg':''}}" on-long-press="onLongPress({id:'a',image:'../../img/photu1.png'})" ng-click="startCropper({id:'a',image:'../../img/photu1.png'})">
                        <div class="multi-select {{selectedImages && selectedImages['a']?'active':''}}" ng-show="multiselectEnabled" ng-click="startCropper({id:'a',image:'../../img/photu1.png'})">
                            <div class="circle"></div>
                        </div>
                    </li>
                    <li>
                        <img src="../../img/photu2.png" class="{{selectedImages && selectedImages['b']?'selectedimg':''}}" on-long-press="onLongPress({id:'b',image:'../../img/photu1.png'})" ng-click="startCropper({id:'b',image:'../../img/photu2.png'})">
                        <div class="multi-select {{selectedImages && selectedImages['b']?'active':''}}" ng-show="multiselectEnabled" ng-click="startCropper({id:'b',image:'../../img/photu2.png'})">
                                <div class="circle"></div>
                            </div>
                    </li> -->
                    
                                
                                    <li style="width:100%; height:10px"></li>
                    
                </ul>
                
            </ion-scroll>
        </div>
    </div>
    <!-- <div class="cropcontainer">
        
    </div> -->
    <!-- <ion-scroll direction="y" class="imagebox">
        
    
</ion-scroll> -->

<style>
    .tabs.tabs-icon-only{display: none;}
    .has-footer {bottom: 0px;}
    .scroll{height:calc(100vh - 100vw);}
    .main-wrap{
        display: flex; flex-wrap: wrap; width:100%; height:100%;
    }
    .main-wrap .top-wrap{
        width:100%; height:100vw;
    }
    .main-wrap .bottom-wrap{
        width:100%; flex:1 1 auto;
    }
    .main-wrap .bottom-wrap ul{
        display: flex; flex-wrap: wrap; width:100%;
    }
    .main-wrap .bottom-wrap ul li{
        width:24%; margin: 2px 0.5%; height:76px; position: relative;
    }
    .main-wrap .bottom-wrap ul li.activated::before{
        width:100%; height:100%; content:''; position: absolute; background: rgba(255,255,255,0.6); z-index: 1;
    }
    .main-wrap .bottom-wrap ul li img{
        width:100%; height:100%; object-fit:cover;
    }
    .multi-select{width:100%; height: 100%; position: absolute;z-index: 1; left:0; top:0}
    /* .multi-select.active{background: rgba(255,255,255,0.6);} */
    .multi-select.active .circle{background: blue}
    .multi-select .circle{width:14px; height: 14px; border-radius: 100%; border:2px solid blue; float: right; margin-top:3px; margin-right:3px}
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s;
    }
    .overlay .imagebox{
        height : 48%;
        width: 100%;
        bottom: 0;
        position: fixed;
        
    }
    .overlay .imagebox li{
        width: 100px;
        float: left;
    }
    .overlay .imagebox li img{
        width: 100%;
        padding: 2px;
    }
    .cropcontainer{
        border: 1px solid red;
        width: 100%;
        height: 48%;
    }
    .headerbuttons{
        width:100%;
        
    }
    
    .headerbuttons{display: flex; justify-content: space-between;}
    .hdbutton {
        display:block;
        padding: 5px 10px;
        color:#111

    }
    .album-select { 
        width:60%;        
    }
    .album-selector{
        width: 100%;
        text-align:center;
        padding: 5px 0;
    }
</style>
</div>