<div class="row btn-dwn" style="padding-bottom:20px" ng-init="getPostDetails()">
  <div class="col left">
    <a class="btn-grid" ng-click="cancelmethod()">Cancel</a>
  </div>
  <div class="col right">
    <a ng-click="savechanges()" class="btn-grid">Save</a>
  </div>
</div>
<div class="custom-canvas-area">
  <canvas id="canvas-id" height="250"></canvas>
  <ul class="image-tabs">
    <li ng-click="showFirstTab()" ng-if="IsShowFirstTab">
      <img src="../../img/icon/list-active.png">

    </li>
    <li ng-click="showFirstTab()" ng-if="!IsShowFirstTab">
      <img src="../../img/adjust-inactive.png">

    </li>
    <li ng-click="showSecondTab()" ng-if="!IsShowSecondTab">
      <img src="../../img/icon/grid.png">

    </li>
    <li ng-click="showSecondTab()" ng-if="IsShowSecondTab">
      <img src="../../img/filters-active.png">

    </li>
  </ul>
  <div class="dark-bg" ng-show="IsShowFirstTab">
    <div class="item range range-calm" ng-show="selectedTab == 'brightness'">
      <span class="range-number">-100</span>
      <input type="range" ng-model="brightness" ng-change="changeBrightness()" name="range" min="-100" max="100">
      <span class="range-number">+100</span>
    </div>

    <div class="item range range-calm" ng-show="selectedTab == 'contrast'">
      <span class="range-number">-100</span>
      <input type="range" ng-model="contrast" ng-change="changeContrast()" name="range" min="-100" max="100">
      <span class="range-number">+100</span>
    </div>

    <div class="item range range-calm" ng-show="selectedTab == 'smooth'">
      <span class="range-number">-100</span>
      <input type="range" ng-model="smooth" ng-change="changeSmooth()" name="range" min="-100" max="100">
      <span class="range-number">+100</span>
    </div>

    <div class="item range range-calm" ng-show="selectedTab == 'vibrance'">
      <span class="range-number">-100</span>
      <input type="range" ng-model="vibrance" ng-change="changeVibrance()" name="range" min="-100" max="100">
      <span class="range-number">+100</span>
    </div>

    <div class="item range range-calm" ng-show="selectedTab == 'fade'">
      <span class="range-number">-100</span>
      <input type="range" ng-model="fade" ng-change="changeFade()" name="range" min="-100" max="100">
      <span class="range-number">+100</span>
    </div>

    <div class="icon-wrap">
      <div class="s-icon {{selectedTab == 'brightness'?'active':''}}" ng-click="selectedTab = 'brightness'">
        <i class="icon ion-volume-low"></i>
        <label>Brightness</label>
      </div>
      <div class="s-icon {{selectedTab == 'contrast'?'active':''}}" ng-click="selectedTab = 'contrast'">
        <i class="icon ion-volume-low"></i>
        <label>Contrast</label>
      </div>
      <div class="s-icon {{selectedTab == 'smooth'?'active':''}}" ng-click="selectedTab = 'smooth'">
        <i class="icon ion-volume-low"></i>
        <label>Smooth</label>
      </div>
      <div class="s-icon {{selectedTab == 'vibrance'?'active':''}}" ng-click="selectedTab = 'vibrance'">
        <i class="icon ion-volume-low"></i>
        <label>Vibrance</label>
      </div>

      <div class="s-icon {{selectedTab == 'fade'?'active':''}}" ng-click="selectedTab = 'fade'">
        <i class="icon ion-volume-low"></i>
        <label>Fade</label>
      </div>
    </div>
  </div>
  <div class="dark-bg" ng-if="IsShowSecondTab">
    <div style="display:flex; justify-content:center;padding:10px">
      <div style="width:24%; margin:1px 0.5%">
        <div style="width:100%; height:66px;" ng-if="src">
          <img ng-src="{{src}}" style="width:100%; height:100%; object-fit:cover" />
        </div>
        <p style="text-align:center">Vintage</p>
      </div>
      <div style="width:24%; margin:1px 0.5%">
          <div style="width:100%; height:66px;" ng-if="src">
            <img ng-src="{{src}}" style="width:100%; height:100%; object-fit:cover" />
          </div>
          <p style="text-align:center">Lomo</p>
        </div>
        <div style="width:24%; margin:1px 0.5%">
            <div style="width:100%; height:66px;" ng-if="src">
              <img ng-src="{{src}}" style="width:100%; height:100%; object-fit:cover" />
            </div>
            <p style="text-align:center">Clarity</p>
          </div>
          <div style="width:24%; margin:1px 0.5%">
              <div style="width:100%; height:66px;" ng-if="src">
                <img ng-src="{{src}}" style="width:100%; height:100%; object-fit:cover" />
              </div>
              <p style="text-align:center">Sin City</p>
            </div>
            <div style="width:24%; margin:1px 0.5%">
                <div style="width:100%; height:66px;" ng-if="src">
                  <img ng-src="{{src}}" style="width:100%; height:100%; object-fit:cover" />
                </div>
                <p style="text-align:center">Sunrise</p>
              </div>
    </div>
  </div>
</div>
</div>