.ion-autocomplete-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
    margin: auto;
    background-color: #0f0e0e;
}
.ion-autocomplete-container .bar-header {
    background-color: #0f0e0e;
}
.ion-autocomplete-container .item {
    background-color: #0f0e0e;
    color: #fff;
    border-color: #750679;    
}
.ion-autocomplete-container .button {
    color: #fff !important;
}
.ion-autocomplete-container .item-input-wrapper
{
    background: #1d1d1d
}
input.ion-autocomplete[readonly] {
    background-color: transparent;
    cursor: text;
}

.ion-autocomplete-loading-icon {
    padding-left: 10px;
}

.ion-autocomplete-open {
    display: block;
}

.ion-autocomplete-close {
    display: none;
}
