
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700');
body{
    font-family: 'Lato', sans-serif;
    color: #ccc;

}
p,span{
    font-size: 14px;
}
/* .form-reg p, span {
  color: #000 !important;
} */
.flex-tag span{
  color: #000 !important;
}
a{
    color: #db76e0;
    text-decoration: none;
}
.splash-screen.scroll-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-content{
    display: flex;
    align-items:flex-start;
    justify-content: center;
}
.scroll{
    width: 100%;
    min-height: 100%;
}
.common-screen{
    background: #130316;
    padding: 10px 10px;
    height:auto !important;
}
.image-background{
    background: url(../img/splash.jpg) no-repeat center;
    background-size: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ebebeb;
}
.splash-screen{
    background: url(../img/splash2.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-position: center;
    height: auto !important;
}
.slide-wrap.image-background{
     background: url(../img/slide-bg2.jpg) no-repeat center;
     background-size: cover !important;
     padding: 0 20px;
     display: flex;
     flex-wrap: wrap;
}
.slide-wrap{
    padding-bottom: 50px !important;
}
.padding20{
    padding: 0 20px;
}

.terms-condition{font-size:11px;line-height: 15px;margin:40px auto 20px;display: block}
.logo-center{
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    width:100%;
}
.logo-center img{
    max-width: 120px;
    display: block;
    margin: 0 auto;
}
.align-self-bottom{
    position:absolute;
    bottom:0;
    /* align-self: flex-end; */
    width:100%;
    padding:0 19%;
    height: 60%;
}
.sign-separator button{
    width: 100%;
    color: #e1dddd;
    display: block;
    padding: 0px 10px;
    line-height: 36px;
    border-radius: 5px;
    font-size:12px;
    margin: 0 auto;
    max-width: 250px;
}
.sign-separator button img{display: inline;vertical-align: middle;height:18px}

.purple-btn{
    background: #330135 !important;
    border: 1px solid #330135;
}
.outline-sing{
    background: #020002 !important;
    border: 2px solid #c309d2;
    margin-top: 20px !important;
}
.clear{
    clear: both;
    overflow: hidden;
}
.privacy-page{
    background: #1f0220;
    color: #fff;
    padding: 10px 5px;
}
.top-head{
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.side-logo{
    width: 80px;
}
.side-logo img {
    max-width: 100%;
    display: block;
}
.top-side-logo .col{
    flex: auto !important;
    display: block;
    padding: 5px;
    width: auto !important;
    align-self: flex-start
}
.top-side-logo p{font-size:11px}
.align-self-bottom-option{
    align-self: bottom;
    align-self: baseline;
    width: 225px;
    margin: 0 auto;
}
.t-txt{
    padding-top: 10px;
}
.t-txt h1{
    font-size: 35px;
    color: #ec80f1;
    font-weight: 300;
    margin-top: 15px;
}
.t-txt h2{
    font-size: 21px;
    font-weight: 300;
    color: #c5bac6;
}
.back-btn{
    background: url(../img/back-arw.png)no-repeat left 2px;
    background-size: 14px;
    display: flex;
    width: 100%;
    padding-left: 30px;
    font-size: 12px;
    color: #c9c7c7;
    line-height: 30px;
}
.cms-area{
    padding-top: 40px;
}
.cms-area p{
    margin-top: 0;
    line-height: 22px;
    font-weight: 400;
    color: #c5bac6;
    margin-bottom: 10px;
    position: relative;
    font-size: 11px;
    line-height: 14px;
}
.cms-area p.bullet{
    text-indent: 8px
}
.cms-area p.bullet:before{
    content: '.';
    font-size: 18px;
    color: #c5bac6;
    position: absolute;
    left: -8px;
    top: -4px;
    line-height: 10px;
}
.cms-area h3{
    font-weight: 300;
    color: #c5bac6;
    font-size: 24px;
    margin-bottom: 15px;
    display: block;
}
.no-bfr:before,
.cms-area .mb-0:before{
    display: none;
}
 .cms-area .mb-0,
 .cms-area .no-bfr{
     text-indent: 0px;
 }
.cms-area h4{
    font-weight: 500;
    color: #c5bac6;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px solid #725e73;
    display: table;
}
.cms-area ul{
    padding-left: 0;
    list-style-type: none;
}
.cms-area strong{
    font-weight: 700;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}
.cms-area .mb-0{
    margin-bottom: 0 !important;
}
.back-btn.bottom-back {
    max-width: 62px;
    margin: 60px auto 10px;
}
.purple-btn{
    color: #fff;
    padding: 3px 10px;
    border-radius: 6px;
    font-weight: 500;
    margin-bottom: 15px;
}
.sign-separator {
    width: 100%;
    margin-top:30px
}
.sign-separator input {
    width: 100%;
    height: 36px;
    padding: 0 10px;
    color: #e1dddd;
    font-size: 12px;
    margin: 0;
}
.input-holder{
    position: relative;
    margin-bottom: 15px
}
.input-holder span{
    position: absolute;
    right: 10px;
    top: 9px;
    color: #6f5b70;
    font-size: 11px;}
.sign-separator .round-btn{
    position: absolute;
    right: -44px;
    top: 2px;
    background: #330135 !important;
    color: #fff;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    border: 0;
    font-size: 11px;
    padding: 0;
}
button.loginWithbutton{
    background: #330135 !important;
    color: #e1dddd;
    padding: 0px 10px 0 15px!important;
    line-height: 36px;
    border-radius: 5px;
    font-size: 10px;
    margin: 0;
    width: auto;
    float: inherit;
    display: block;
    position: relative;
    border: 0;
    width: 134px;
    text-align: left;
}
.right-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
button.loginWithbutton img {
    display: inline;
    vertical-align: middle;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 6px;
}
.location-checkbox label{
    font-size: 12px !important;
    -webkit-text-fill-color: #bab7b7 !important;
    font-weight: 300 !important;
    letter-spacing: 0;
    margin-bottom: 0 !important;
}
.check-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
}
.check-box label{
    margin-left: 0;
    color: #565456;
    font-size: 10px;
    font-weight: 500;
    font-family: 'lato', sans-serif;

}
.check-box .checkbox-icon{
    width: 26px;
    height: 26px;
    background: #565456;
    border: 1px solid #565456;
}
.check-box .checkbox-checked .checkbox-inner{
    top: 3px;
    width: 8px;
    height: 14px;
    left: 7px;
}
.text-center{
    text-align: center;
}
.forgot-password{
    font-size: 10px;
    font-weight: 600;
    font-family: 'Lato';
    padding: 10px;
    background: linear-gradient(to right, #eb18fd 0%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
}
.text-center label{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lato';
    padding: 10px;
    background: linear-gradient(to right, #eb18fd 0%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    display: block;
}
.styled-checkbox {
    position: absolute;
    opacity: 0;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  .styled-checkbox + label:before {
    content: '';
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: #565456;
  }
  .styled-checkbox:checked + label:before {
    background: #565456;
  }
  .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 8px;
    background: #fff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .sign-btn p{
    font-size: 15px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.full-width{
    width: 100% !important;
}
.btn-sign-up{
    margin-top: 30px;
    margin-bottom: 20px;
}
input.styled-input{
    width: 100%;
    height: 42px;
    padding: 3px 15px;
    color: #736f6f;
    background: #330135 !important;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 42px;
}
.top-side-logo{
    margin-bottom: 20px;
}
.check-box.text-right{
    justify-content: flex-end;
    margin-bottom: 40px;
}
.check-box.text-right .styled-checkbox + label:before{
    background: #330135;
}
.check-box.text-right label{
    font-size: 12px;
}

.pic-choose label{
    display: block;
    height: 100%;
    min-height: 125px;
    background: url(../img/pics.png) no-repeat center #e5e1e1;
    background-size:50%;
    width: 100%;
    border-radius: 9px;
}
.pic-choose label img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.pic-choose{
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}
.new-pic{
    height: 138px;
}
.pic-choose input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.pic-choose.centerd{
    /* text-align: center;
    padding: 25px 0;
    max-width: 65%;
    margin: 0 auto; */

    text-align: center;
    padding: 25px 0;
    max-width: 65%;
    /* margin: 0 auto; */
    margin: -20px auto 0;
    height: 190px;
    overflow: hidden;    
}
.pic-choose.centerd p{
    font-size: 14px;
    color: #736f6f;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
.pic-choose.centerd label{
    /* width: 80px; */
    width: 90px;
    margin: 10px auto;
    /* min-height: 80px; */
}
.p-txt{
    margin: 25px auto;
    max-width: 80%;
}
.toggle-btn.text-center {
    max-width: 80px;
    margin: 10px auto;
}
.toggle .handle{
    background: url(../img/toogle-btn.png) no-repeat 0px -3px;
    background-size: 104%;
    width: 55px;
    height: 28px;
    top: 6px;
    left: 17px;
}
.toggle .track{
    border: 0 !important;
    height: 25px;
     box-shadow:inset 0px 0px 9px rgba(0,0,0,.5);
     -webkit-box-shadow:inset 0px 0px 9px rgba(0,0,0,.5);
     -moz-box-shadow:inset 0px 0px 9px rgba(0,0,0,.5);
}
.toggle.toggle-assertive input:checked + .track{
    background: #d225cc !important;
}
.toggle input:checked + .track .handle {
    -webkit-transform: translate3d(30px, 2px, 0);
    transform: translate3d(30px, 2px, 0);
    background-color: #fff;
}
.register-page.scroll-content
{
    align-items: flex-start;
    padding: 15px 10px;
}
.privacy-page.scroll-content{
    padding: 0 20px;
}
.select-imput{
    padding: 10px 15px;
    border-radius: 9px;
    background: #231a23 ;
    background-size: 28px;
    margin-bottom: 15px;
    position: relative;
}
.select-imput label{
    font-size: 13px;
     background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    line-height: 14px;
    margin-top:5px;
}
.select-imput span{
    font-size: 11px;
}
.select-imput img{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 14px;
    transform: rotate(0deg);
    transition: ease all .5s;
}
.select-imput.active img{
    transform: rotate(90deg);
}
.root-curl-box{
    display: none;
    transition: ease all .5s;
}
.root-curl-box.active{
    display: block
}
.r-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0px;
    color: #b6b6b6;
    font-size: 12px;
    display: block;
    width: 100%;
}
.t-btnbt{
    font-size: 20px;
    text-transform: capitalize;
    color: #736f6f;
    font-weight: 500;
}
.bottom-back-btn{
    margin-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.bottom-back-btn .back-btn{
    padding-left: 30px;
}
.next-btn{
    border: 0;
    width: 100px;
    color: #fff;
    line-height: 26px;
    max-height:30px;
    border-radius: 6px;
    background: #eb18fd; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    background: -webkit-linear-gradient(-45deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%);
    background: linear-gradient(135deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%);
}
.btn-grid{
    border: 0;
    width: 100px;
    color: #fff;
    line-height: 26px;
    max-height: 30px;
    border-radius: 6px;
    background: #eb18fd; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    background: -webkit-linear-gradient(-45deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%);
    background: linear-gradient(135deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%);
    text-align: center;
    display: inline-block;
}
.text-grid{
    font-size: 16px;
     background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}
.top-btn-ad{
    padding:5px 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top-btn-ad .text-grid{
    width: auto;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
}
.styled-input{
    width: 100%;
    height: 45px;
    padding: 0px 15px;
    color: #fff;
    background: #330135 !important;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    margin: 0;
}
.list-inset .item.item-input input{
    color: #fff;
    padding-right: 0px;
    padding-top: 8px;
}
.styled-input .item.item-input{
    background: transparent !important;
    border: 0;
    padding: 0;
    color: #fff;
}
.placeholder-icon:first-child{
    margin-top: 8px;
}

.select-gender{
    margin-top: 0;
    margin-bottom: 25px;
    text-align: left;
}
.select-gender h4{
    color: #736f6f;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 0;
    padding-left: 10px;
}
.select-gender p{
    color: #736f6f;
    font-size: 15px;
    padding-left: 10px;
}
.select-gender .card{
    margin: 0 auto;
    height: 90px;
    width: 90px;
    background: #330236;
    color: #ebebeb;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 6px;
    max-width: 100%;
}
.select-gender .card i{
    font-size: 4rem;
    display: block;
    margin: 0;
    line-height: 1;
}
.select-gender .card small{
    display: block;
    font-size: 12px;
    line-height: 25px;
    /* color: #edebeb; */
    color: #736f6f
}
.select-gender .card p{
    margin: 0;
    color: #f5e8e8;
    font-size: 13px;
}
.select-gender .card label{
    margin: 0;
    /* -webkit-text-fill-color: #fff; */
    -webkit-text-fill-color:#736f6f;
    font-weight: 400;
    font-size: 12px;
}
.select-cat {
    margin-bottom: 40px;
}
.select-cat .styled-input::placeholder{
    color: #736f6f;
}
.select-cat .styled-input::-webkit-input-placeholder{
    color: #736f6f;
}


.r-btn img{
    max-height: 45px;
    width: auto;
    margin: auto;
    margin-top: 10px;
}
.r-btn input + .first-img{
   display: block;
}
.r-btn input ~ .second-img{
   display: none;
}
.r-btn input:checked + .first-img{
   display: none;
}
.r-btn input:checked ~ .second-img{
    display: block;
}
.r-btn input:checked + p{
     background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.r-btn input:checked + i{
    color:#e223fd;
}
.style-select{
    line-height: 36px;
    background: url(../img/select-arw.png) no-repeat 95% center #330236;
    background-size: 20px;
    border: 0;
    border-radius: 6px;
    padding: 0 15px;
    /* color: #d5d5d5; */
    color: #736f6f;
    width: 100%;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 12px;
}
.pt-5{
    padding-top: 40px !important;
}
.top-side-logo .col-30{
    max-width: 130px;
}
.top-side-logo h1{
    margin-bottom: 0;
}
.slide-wrap{
    height: 100vh;
    padding-bottom: 54px;
    color: #ccc;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
.new-sw {
    height: 100vh !important;
}
.top-padd{
    padding-top: 18% !important;
}
.left{
    display: flex;
    justify-content: flex-start;
}
.right{
    display: flex;
    justify-content: flex-end;
}
.select-round{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: block;
    background: url(../img/border-circle.png) no-repeat center;
    overflow: hidden;
    border: 0px solid #d801f1;
    background-size: cover;
/*        border-image: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
    border-image-slice: 1;*/
}
.select-round small{
    display: block;
    font-size: 12px;
}
.select-round input:checked + small{
    background: rgba(145, 0, 145, 0.44);
    display: block;
    width: 100%;
    height: 100%;
}
.slide-wrap .text-center p{
    font-size: 13px;
    margin: 0 auto;
    color: #e4e1e1;
    font-weight: bold;
    line-height: 15px;
}
.slide-wrap .row{
    padding-top: 0;
    padding-bottom: 0;
}
.slider-pager .slider-pager-page{
    color: #6f646f;
    font-size: 8px;
    width: 8px;
}
.slider-pager .slider-pager-page.active{
    color: #ec00fd;
}
.slide-wrap .bottom-back-btn{
     padding: 0 10px;
     width: 100%;
     bottom: 6px;
     position: fixed;
     left: 0;
     z-index: 999;
}
.slider-pager {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    width: 30%;
    height: 15px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.black-heading{
    background: #231a23;
    line-height: 60px;
    display: block;
    position: relative;
    padding: 6px;
}
.black-heading span{
    display: block;
    color: #d225cc;
    font-size: 25px;
    margin: 0 0 0 10px;
    font-weight: 600;
    line-height: 1;
    position: absolute;
}
.black-heading h2{
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    color: #736f6f;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 3px;
    text-align: center;
}
.item-wrap .row{
    padding-top: 0;
    padding-bottom: 0;
}
.purple-box{
    background: #410244 !important;
    border-radius: 7px;
    padding: 8px 2%;
    height: 100% !important;
}
.purple-box .txt-box p{
    margin: 0;
}
.purple-box .txt-box p img{
    max-width: 80%;
    margin:5px auto 0;
    display: block
}
.curl-box{
    display: block;
    margin: 0;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    height: auto;
}
.head-box p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    color: #f9f9f9;
    text-transform: uppercase;
}
.head-box small{
    display: block;
    font-weight: 400;
    color: #ccc5c5;
    font-size: 11px;
}
img{
    max-width: 100%;
}
.img-box{
    margin: 5px auto;
    position: relative;
    width:80px;
}
.img-box img{
    width:80px;
    height:80px;
    border-radius:5px;
    object-fit: cover
}
.img-box span img{
    width: 20px;
    height: auto;
    border-radius: 0;
}

.icon-img{
    position: absolute;
    bottom: -4px;
    right: -5px;
    display: block;
    max-width: 25px;
    z-index: 9;
}
ul.list-style {
    list-style-type: none;
    padding:0 5px;
}
.list-style li{
    font-size: 8px;
    line-height: 12px;
    position: relative;
    padding-left: 5px;
}
.list-style li:before{
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    top: 5px;
    left: 0;
}
.root-curl-box .row{
    padding: 0 !important;
    justify-content: space-between;
    margin:15px 0;
}
.root-curl-box .row .col-33{
    padding: 0;
    flex: 0 0 32%;
}
.curl-box .mask{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/checkmark.png) no-repeat center rgba(0,0,0,0.55);
    background-size: 55px;
    z-index: 1;
}
.curl-box.selected .mask{
    display:block;
}
.curl-box.selected .head-box p{
     background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 999;
}
.curl-box.selected .head-box small{
     position: relative;
    z-index: 999;
    color: #d601dd;
}
.text-right{
    text-align: right;
}
.slide-wrap .t-txt h3{
    color: #b4b0b4;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
    padding-left: 48px;
}
.slide-2 p{
    color: #e4e1e1;
}
.pt-4{
    padding-top: 20px !important;
}
.no-padding{
    padding: 0 !important;
}
.abs-li{
    position: relative;
    height: 290px;
    max-width: 290px;
    margin: 0 auto;
    margin-top: 20px;
}
.abs-li li{
    overflow: hidden;
    position: absolute;
    height: 100px;
    width: 100px;
}
.abs-li li:nth-child(1){
    left: 49px;
    top: 6px;
}
.abs-li li:nth-child(2){
    left: 156px;
    top: 22px;
}
.abs-li li:nth-child(3){
    left: 4px;
    top: 106px;
}
.abs-li li:nth-child(4){
    left: 84px;
    top: 183px;
}
.abs-li li:nth-child(5){
    left: 177px;
    top: 127px;
}
.abs-li li:nth-child(4) .circle img{
    height: 45px;
}
.abs-li .circle{
    border-radius: 50%;
    border: 2px solid #f2f8f6;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 10px;
}
.abs-li .circle img{
    max-height: 45px;
    margin: 8px auto 0px;
    display: block;
    width: auto;
}
.abs-li .circle small{
    font-size: 10px;
    color: #e4e1e1;
}
.abs-li .circle.selected{
    background: #eb18fd;
    background: -moz-linear-gradient(-45deg,#553e84 0%,#693089 51%,#83138c 100%);
    background: -webkit-linear-gradient(-45deg,#553e84 0%,#693089 51%,#83138c 100%);
    background: linear-gradient(135deg, #553e84 0%,#693089 51%,#83138c 100%);
}
.pro-text{
    margin-bottom: 30px;
}
.slide-wrap .pro-text p{
    font-size: 18px;
/*        color: #330135;*/
    color:#e4e1e1;
    font-weight: 400;
    margin-bottom: 15px;
}
.pro-text p a{
    background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.free-hight{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
 h3.logo-txt{
    color: #b4b0b4;
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
    padding-left: 59px;
}
.text-image{
    width: 100%;
    display: block;
    background: url(../img/pro-batch.png) no-repeat left center;
    background-size: 22px;
    max-width: 159px;
    padding-left: 50px;
    line-height: 28px;
    color: #fff;
    font-size: 17px;
}
.pic-uploader {
    margin: 40px -10px 0px;
    padding: 0 5px 40px;
    background: #efefef;
}
.pic-uploader p{
    padding-left: 10px;
    color: #130316;
}
.select-imput.squre-select{
    border-radius: 0;
    margin: 0 -10px;
    padding: 25px 15px;
}
.list-item{
    width: 100%;
    overflow: hidden;
    padding-right: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom:1px solid rgba(235, 24, 253, 0.19);
}
.list-item:last-child{
    border: none;
    margin-bottom: 0;
}
.list-item p{
    float: left;
    width: auto;
    margin: 0;
    font-size: 14px;
    line-height: 39px;
    font-weight: 400;
    color: #615f5f;
}
.list-item .toggle-btn{
    float: right;
    margin: 0 0;
    max-width: 90px;
}
.list-item .toggle-btn label{
    margin: 0;
}
.list-item .toggle-btn .toggle .handle{
    left: 4px;
    top: 9px;
    height: 22px;
    background-position: 0px -3px;
    background-size: 103%;
    width: 41px;
}
.list-item .toggle-btn .toggle .track{
    width: 53px;
    height: 20px;
}
.list-item .toggle input:checked + .track .handle {
    -webkit-transform: translate3d(30px, 0px, 0);
    transform: translate3d(30px, 0px, 0);
    background-color: #fff;
}
.provide-service {
    padding-top: 0;
}
.provide-service .list{
    margin-top: 25px;
}
.filter-strip{
    background: #0f0e0e;
    padding:5px 10px;
    margin: 0px 0px 0;
}
.filter-strip .row{
    padding: 0;
    align-items: center;
}
.icon-filter {
    /* max-height: 30px;
    display: block;
    margin-right: 0px;
    width: auto;
    line-height: 3; */
    display: inline-block;
    margin-right: 0px;
    width: auto;
    padding: 0 10px 0 10px;
    line-height: normal;
}
.icon-filter img{
    width: auto;
    height:24px;
}
.icon-filter img.ig{
    position: relative;
    top: 4px;
}
.filter-strip .right .icon-filter{
    padding: 0 0;
    margin: 0 5px;
}
.filter-strip .right .icon-filter:last-child{
    margin-right: 0;
}
.news-option.common-screen.scroll-content{
    align-items: initial;
    background: #1f0220;
}
.tabs.tabs-icon-only {
    background: #fff;
    position: fixed;
}
.tab-item{
    line-height: 4.2;
}
.news-section {
    margin-bottom: 60px;
    min-height: 0;
    overflow: hidden;
}
.news-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
}
.header-profile {
    width: 80%;
    display: flex;
}
.news-header .img-box{
    width: 75px;
    margin: 0 15px 0 0;
}
.news-header h3{
    margin: 0;
    color: #ffffff;
    text-transform: capitalize;
}
.news-header p{
    margin-bottom: 0;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
}
.news-header small{
    color: #797979;
    font-size: 13px;
    display: block;
}
.right-icon img{
    width: 37px;
}
.feed-icon{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    padding-left: 40%;
}
.feed-icon img{
    width: 26px;
}
.feed-icon a{
    display: inline-block;
    text-align: center;
}
.likes span{
    display: inline-block;
    font-size: 12px;
    color: #fff !important;
    margin-left: 10px;
    position: relative;
    top: -4px;
    letter-spacing: 1px;
}
.news-slide .slider-pager{
    left: 10px;
    right: auto;
    bottom: -25px;
    width: auto;
}
.news-slide{
   overflow:visible;
}
.news-slide:after{
     display: table;
     content: '';
     clear: both;
}
.content-feed{
    padding: 10px 10px;
}
.content-feed span{
    display: block;
    /* font-size: 16px; */
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;
}
.content-feed p{
    color: #fff;
    font-weight: 300;
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 15px;
    display: block;
    margin: 5px 0;
}
.content-feed .text-grid{
    font-size: 12px;
}
.reply-div{
    display: flex;
    padding-bottom: 0;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.reply-div input{
    width: 80%;
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 12px;
    height: 36px;
}
.reply-div button{
    border: 0;
    font-weight: 600;
}
.see-all{
    background: url(../img/select-arw.png)no-repeat 91% 7px;
    display: inline-block;
    padding-right: 40px;
    color: #706e6e;
    margin: 10px auto;
    font-size: 12px;
    background-size: 20px;
}
.hide-all{
    background: url(../img/select-arw-down.png)no-repeat 91% 7px;
    display: inline-block;
    padding-right: 40px;
    color: #706e6e;
    margin: 10px auto;
    font-size: 12px;
    background-size: 20px;
}
.video-box{
    position: relative;
    overflow: hidden;
}
.video-box img{
    border-radius: 6px;
}
.video-icon{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 30px;
    background: url(../img/video-icon.png) no-repeat center;
    background-size: contain;
}
.chat-head{
    position: fixed;
    z-index: 99;
    width: 50px;
    height: 50px;
    right: 0px;
    border-radius: 100%;
    border: 2px solid #583058;
    box-shadow: -3px 0px 26px 6px rgba(192, 56, 238, 0.39);
    overflow: hidden;
    bottom: 40px;

}
.chat-head img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.filter-strip h4{
    margin: 0 auto;
    color: #fff;
    white-space: nowrap;
}
.filter-strip .cross{
    position: relative;
    top: 0;
    height: 28px !important;
}
.filter-category {
    padding: 15px 15px;
}
.filter-category h2{
    font-weight: 100;
    color: #fff;
    padding-left: 15px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 18px;
}
.filter-box{
    background: #160517;
    padding: 30px 15px;
    margin-bottom: 40px;
    border-radius: 9px;
}
.filter-box .row{
    padding: 0;
    justify-content: space-between;
}
.filter-box .row .col{
    padding: 0;
    width: 32% !important;
    flex: 0 1 auto;
    margin:5px 0;
}
.f-box{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    /* box-sizing: border-box; */
    /* border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box; */
    /* background-image: linear-gradient(#160517, #160517), linear-gradient(to right, #9d77fa 0%, #eb18fd 100%); */
    background: #eb18fd;   
    background: linear-gradient(135deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%);
    padding: 10px;
}
.f-box p{
    color: #fff;
    margin:0;font-weight: 400;
    font-size:12px;
    line-height:16px;
}
.f-box.active{
     background-image: linear-gradient(#740570, #740570), linear-gradient(to right, #938c92 0%, #fff 100%);
}
.filter-box .btn-grid{
    display: block;
    width: 115px;
    max-height: 34px;
    margin: 30px auto 10px;
}
.filter-box .list-item p{
    color: #fff;
    letter-spacing: 1px;
    font-size: 13px;
}
.filter-box .list-item{
    border-bottom: 1px solid #760e7f;
}
a.filter-outline-btn {
    display: block;
    margin-bottom: 60px;
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(#1f0220, #1f0220), linear-gradient(to right, #9d77fa 0%, #eb18fd 100%);
    max-width: 270px;
    line-height: 60px;
    border-radius: 6px;
    margin: 10px auto 60px;
    font-size: 16px;
    color: #fff;
}
.filter-outline-btn img{
    margin-right: 10px;
    position: relative;
    top: 6px;
    width: 27px;
}
.single-news{
    margin-bottom: 150px;
}
.absloute-menu{
    background: rgba(18, 6, 18, 0.95);
    padding: 8px 15px 35px;
    position: absolute;
    z-index: 999;
    width: 270px;
    left: 0;
    top: 100px;  
    min-height: 150px;
    border-radius: 9px;
    display: none;
    transition: ease all 1s;
}
.absloute-menu.active{
    display: block;
}

.side-list li{
    display: flex;
    padding: 8px 8px;
    align-items: center;
    border-bottom: 1px solid #690d70;
}
.side-list li:last-child{
    border-bottom:0
}
.side-list li img{
        width: 20px;
}
.side-list li a{
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: normal;
    letter-spacing: 1px;
}
.share-btn{
    line-height: 28px;
    width: auto;
    display: inline-block;
    border: 1.5px solid #b01caa;
    color: #fff;
    padding: 0 15px;
    border-radius: 9px;
}
.margin-list{
    margin-top: 30px;
    margin-bottom: 50px !important;
}
.text-theme{
    color: #d519dc !important;
}
.list-btn .btn-grid{
    display: block;
    width: 100%;
    max-width: 270px;
    line-height: 46px;
    max-height: 60px;
}
.list-btn .filter-outline-btn{
     line-height: 46px;
     margin-bottom: 30px;
}
.social-share-main{
    background: #efefef;
}
.social-share-page{
    padding:15px;
}
.share-image{
    border-radius: 9px;
    margin-bottom: 15px;
    overflow: hidden;
}
.share-image img{
     border-radius: 9px;
}
.social-share-page .card-box p{
    color: #231a23;
    margin-bottom: 8px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 15px;
}
.social-share-page .card-box{
    margin: 0 0 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background: #fff;
}
.social-share-page .card-box.social-box{
    background: #1f0220;
}
.card-box span{
    color: #49494c;
    font-size: 11px;
}
.link-bth{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-box ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-box ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    border-right: 1px solid #c5c4c4;
}
.social-box ul li:last-child{
    border-right:0
}
.social-box ul li:last-child a{
    border: 0;
}
.social-box ul li a{
    display: block;
    padding:0 10px
}
.social-box ul li img{
    max-height: 26px;
}
.dark-text{
    color: #0e0e0e;
}
.social-share-btn{
    background: #6b186e;
    max-width: 280px;
    display: block;
    margin: 30px auto 60px;
    color: #fdfcfc;
    line-height: 32px;
    text-align: center;
    border-radius: 7px;
}
.filter-strip .back-btn{
    line-height: 26px;
    color: #888888;
    background-size: 12px;
    margin-top: 5px;
}
.share-icon{
    background: url(../img/social-share-active.png)no-repeat left 0px;
    background-size: 22px;
    display: flex;
    width: 100%;
    padding-left: 39px;
    font-size: 16px;
    color: #fff;
    line-height: 38px;
}
.dark-bg{
    background: #0a0a0a !important;
    min-height:130px;
}
.theme-background{
    background: #1f0220 !important;
}
.explore-page{
    background: #111111;
}
.image-box-explore {
    padding: 25px 5px 60px;
}
.image-box-explore .update-img-div{
    padding: 0;
    height: 100%;
}
.image-box-explore h4{
    color: #f9f7f7;
    margin: 0;
    padding-left: 15px;
    font-weight: 400;
    font-size: 14px;
}
.image-box-explore .video-icon{
    position: absolute;
    right: 5px;
    bottom: 9px;
    width: 19px;
    height: 20px;
    background: url(../img/video-icon.png) no-repeat center;
    background-size: contain;
}

.down-arrow{
    width: 27px;
    height: 23px;
    background: url(../img/down-arrow.png) no-repeat center;
    background-size: contain;
    margin: 15px auto 25px;
    display: block;
}
.round-div{
    border-radius: 6px;
    overflow: hidden;
}
.round-div img{
    border-radius: 6px;
}

.new-style {
    width: 100%;
    object-fit: cover;
    height: 170px;
}
.post-header{
    padding:8px 15px;
}
.post-header .right span{
    margin-right: 10px;
    font-size: 13px;
    line-height: 30px;
}
.dark-fllow-btn{
    font-size: 12px;
    padding: 0px 8px;
    display: inline-block;
    color: #e0dfdf;
    background: #2b282b;
     border: 1px solid #eb18fd; 
    border-radius: 6px;
}
.border-bootom{
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.border-bootom p{
    margin-bottom: 0;
}
.phonix{
    padding: 20px 10px
}
.phonix h3{
    font-size: 20px !important;
}
.phonix p{
    display: block;
    width:60%;
    margin: 0 auto;
    letter-spacing: 1px;
}

.phonix .text-grid{
    font-size: 24px;
}
.text-white{
    color: #fff;
}
.my-folio{
    margin-bottom: 60px;
}
.my-folio h3{
    padding-left: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
.my-folio img{
    float:left;
    margin-right: 10px;
}
.news-section{
    position: relative;
}
/* .setting-s .top-side-logo{
    margin: 35px 0 60px;
} */
.top-side-logo  h3 {
    color: #b4b0b4;
    text-transform: capitalize;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    padding-left: 59px;
}
.filter-category-se {
    padding: 15px 15px;
}
.adv-setting .list-item{
    border-bottom: 1px solid rgba(235, 24, 253, 0.40);
    margin-bottom: 20px;
}
.adv-setting{
    margin-bottom: 50px;
}
.adv-setting .list-item p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    color: #fdf5f5;
    letter-spacing: 1px;
}
.adv-setting h4{
     border-bottom: 1px solid rgba(235, 24, 253, 0.40);
     padding-bottom: 15px;
}
.adv-setting.help p{
    width: 100%;
    background: url(../img/side-arrow.png) no-repeat 100% center;
    background-size: 8px;
}
.adv-setting.help .toggle-div{
    /* padding: 10px 10px;
    background-color: rgb(29, 28, 28);
    width: 100%;
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    border-radius: 5px; */
    padding: 10px 10px;
    background-color: rgb(29, 28, 28);
    width: 100%;
    /* height: 26vh; */
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    border-radius: 5px;
    z-index: 999999;
}
.toggle-div div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.toggle-div .t-left-div{}
.t-left-div .t-txtdiv{
    width: 140px;
}
.t-left-div .t-txtdiv h5{
    padding-left: 5px;
    font-size: 12px;
    color: #888686;
    font-weight: 500;
    word-break: break-word;
}
.t-left-div .image-box{
    width: 60%;
    height: 50px;
    overflow: hidden;
}
.t-left-div .image-box img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 5px;
}
.toggle-div .t-right-div{}

.onoffswitch {
    position: relative; width: 94px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    /* border: 2px solid #b352d5;*/ border-radius: 20px;
    position: relative;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Unblock";
    background-color: #eb18fd;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}
.onoffswitch-inner:after {
    content: "Block";
    background-color: #f9f9f9;
    color: #999999;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.onoffswitch-switch {
    display: block; width: 19px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 58px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}





















.t-left-div .t-txtdiv,
.t-left-div .image-box{
    display: inline-block;
    vertical-align: middle;
}


.white-bg{
    background: #efefef !important;
}
.new-pro{
    padding: 10px;
    /* margin-bottom: 160px; */
    margin-bottom: 90px;
}
.new-pro .select-cat{
    padding: 10px 5px;
}
.new-pro .t-btnbt{
    font-size: inherit;
}
.new-pro .styled-input,
.new-pro .style-select{
    background-color: #330135 !important;
    color: #777;
    line-height: 42px;
}
.new-pro .select-gender .card{
     background-color: #330236 !important;
    color: #777;
}
.new-pro .select-gender .card small{
    color: #736f6f;
}
.new-pro .select-gender .card p{
    color: #736f6f;
}
.new-pro .select-imput p{
    color: #736f6f;
    font-size: 16px;
    margin-bottom: 0;
}
.new-pro .select-imput{
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 30px;
}
.new-pro .r-select{
    font-size: 13px;
}
.new-pro .select-gender {
    margin-top: 0;
    margin-bottom: 25px;
    /* border-top: 1px solid #3b3b3b; */
    padding-top: 30px;
}
.provide-service.border-top{
    border-top: 1px solid #3b3b3b;
    padding-top: 30px;
    padding-left: 5px;
    margin-bottom: 25px;
}
.provide-service.border-top h4{
    margin-bottom: 0;
    color: #736f6f;
    font-weight: 400;
}
.provide-service.border-top p{
    color: #736f6f;
}
.provide-service.border-top .list-item p{
     color: #615f5f;
     font-weight: 500;
}
.filter-strip.ex .right img{
    height: auto;
    /* width: 100%; */
    object-fit: cover;
    max-width: 100%;    
}
.filter-strip.ex .right a{
    padding: 0 5px;
}
.mib-image .text-grid{
    font-size: 14px;
}
.mib-image p{
    font-size: 13px;
}
.news-section .text-image {
    max-width: 91px;
    padding-left: 31px;
}
.contact-pro {
    margin-top: 25px;
}
.conts-div {
    width: 100%;
    margin: 10px auto;
}
.conts-div ul li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: flex-start;
}
.conts-div.centerr ul li{
    justify-content: center;
}
.conts-div ul li span{
    font-size: 10px;
    text-align: left;
    line-height: 14px;
}
.conts-div ul li img{
    width: 15px;
    margin-right: 15px;
}

/*======================
        Saves CSS
========================*/
.list-div ul{
    display: flex;
    justify-content: space-around;
}
.list-div ul li{
    color: #959292;
}
.list-div ul li.active{
    border-bottom:2px solid #eb18fd;
}
.list-div ul li a{
    color: #959292;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}
.gallery-div{
    padding-left: 0;
}
.gallery-div h4{
    color: #f4f3f3;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0 0;
}
.gallery-div h4 img{
    width:30px
}
.gallery-div h4 .ion-folder{
    color: #4d4a4d;
    font-size: 39px;
    padding-right: 10px;
}
.gallery-div h4 span{
    padding-left: 12px;
    padding-top: 4px;
    font-weight: 400;
    font-size: 12px;
}
.gallery-div2{
    border-bottom: 1px solid #3b043d;
    /* padding-bottom: 20px; */
}
.gallery-div2 ul{
    display: flex;
    justify-content: flex-start;
}
.gallery-div2 ul li{
    margin: 0 10px 0 0;
    width: 93px;
}
.text-div h6{
    color: #ffffff;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
}
.text-div h6 span{
    outline: 1px solid #ffffff;
    padding: 2px;
}
.frm-div{
    background: url(../img/frm.png)no-repeat top center scroll;
    width: 100%;
    height: 81px;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}
.frm-div img{
    width: 80px;
    margin: 17px auto 0;
    height: 59px;
    border-radius: 4px;
    object-fit: cover;
}
.frm-div .ion-plus{}
.gallery-div2 ul li:last-child .frm-div{
    display: flex;
    align-items: center;
    padding-top: 8px;
}
.gallery-div2 ul li:last-child img{
    width: 34px;
    height: 34px;
    padding: 0;
    margin: 0 auto;
}
.mb-0{
    margin-bottom: 0 !important;
}

.gallery-div3{
    border-bottom: 1px solid #3b043d;
}
.gallery-div3 ul{
    display: flex;
    justify-content: space-evenly;
}
.gallery-div3 ul li{
    margin: 0 2.5px;
    max-width: 90px;
}
.gallery-div3 ul li figure{
    overflow: hidden;
}
.gallery-div3 ul li figure figcaption{
    padding: 0 10px;
}

.gallery-div3 ul li .img-maindiv{
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.img-maindiv .img-dv{
    /* height: calc(100% - 17px); */
    overflow: hidden;
    height: 90px;
    max-height: 81px;
    width: 100%;
    border-radius: 5px;
}
.img-maindiv .img-dv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-maindiv figcaption{
    background-color: #000000;
    position: relative;
    top: -8px;
}
.img-maindiv figcaption p{
    font-size: calc(100% - 3px);
    padding: 5px 0;
    text-align: center;
    line-height: normal;
}
.gallery-div4{
    margin-bottom: 25px;
}
.gallery-div4 ul{
    display: flex;
    justify-content: space-evenly;
}
.gallery-div4 ul li{
    margin: 0 2.5px;
}
.gallery-div4 ul li .img-maindiv{
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
/* .img-maindiv .img-dv{
    height: calc(100% - 17px);
    overflow: hidden;
} */
.img-maindiv figcaption{
    background-color: #000000;
    position: relative;
    top: -8px;
}
.img-maindiv figcaption p{
    font-size: 8px;
    padding: 5px 0;
    text-align: center;
    line-height: normal;
}




/*===========================
        Notifi-box CSS
=============================*/
.hightlight-div{
    background-color: rgba(255,255,255,0.4);
}
/* .msg-count{
    background-color: red;
    line-height: 33px;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.notifi-box{
    /* padding: 0 20px; */
    padding: 0 10px;
}
.notifi-box .row{
    padding:0;
}
.notifi-box h4{
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
    color: #f4f3f3;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    top: 15px;
    text-align: center;
}
.notifi-box .left-txtdiv{
    flex-flow: column;
    align-items: baseline;
}

.notifi-box .left-txtdiv h3{
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    margin: 0;
    font-weight: 400;
}
.notifi-box .left-txtdiv h6{
    font-size: 11px;
    color: #fff;
    font-weight: 400;
}
.notifi-box .left-box{
    /* padding: 18px 0; */
    padding: 43px 0 23px;
    overflow: visible;
    margin: 0;
}
.notifi-box .common-bdr{
    margin: 0;
    padding: 0 10px;
}
.left-box{
    position: relative;
}
.left-box .imag-box{
    width: 50px;
    height: 50px;
    border-radius: 7px;
    padding: 1px;
    position: relative;
    float: left;
    /* background: #9e76fa;
    background: -moz-linear-gradient(top, #9e76fa 1%, #e91bfd 100%);
    background: -webkit-linear-gradient(top, #9e76fa 1%,#e91bfd 100%);
    background: linear-gradient(to bottom, #9e76fa 1%,#e91bfd 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e76fa', endColorstr='#e91bfd',GradientType=0 );
}
.left-box .imag-box img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-box .fl{
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 20px;
}
.left-txtdiv{
    padding-left: 15px;
    display: flex;
    align-items: center;
}
.left-txtdiv h6{
    font-size: 13px;
    color: #aba6a6;
    line-height: 16px;
    margin:0;
}
.left-txtdiv h6 span{
    background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: 11px;
}
.left-txtdiv h6 small {
    line-height: 12px;
    display: block;
}
.right-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-box h6{
    color: #9e9d9d;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 24%;
    overflow: hidden;
    font-size: 9px !important;    
}
.right-box  .img{
    width: 35%;
}
.left-box,
.right-box{
    margin: 9px 0;
}


/*============================
    Notifications-list css
==============================*/
.right .ig{
    /* width: 59%; */
    float: right;
}
.nright-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.nright-box h6{
    color: #9e9d9d;
}
.common-bdr{
    border-bottom: 1px solid #4b0551;
    margin: 17px 0;
}

/*============================
        Message-box css
==============================*/
.m-right{
    display: flex;
    justify-content: flex-start;
}
.m-left-box{
    position: relative;
}
.message-box{

}
.message-header{
    background: #070707;
    background: -moz-linear-gradient(-45deg, #070707 0%, #200222 100%);
    background: -webkit-linear-gradient(-45deg, #070707 0%,#200222 100%);
    background: linear-gradient(135deg, #070707 0%,#200222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070707', endColorstr='#200222',GradientType=1 );
    padding: 10px 15px;
}
.m-left-box .imag-box{
    width: 46px;
    height: 46px;
    border-radius: 5px;
    padding: 3px;
    position: relative;
    float: left;
    background: transparent;
}
.message-header .imag-box img{
    border-radius: 6px;
    width:100%;
    height:100%;
    object-fit:cover;
}
.message-header .m-left-box .fl{
    width:20px;
    left: auto;
    top: auto;
    right:-5px;
    bottom:-5px;
}
.message-header .m-left-box{
    position: absolute;
}
.message-header h5{
    margin: 0;
}
.message-header .m-text-div h3{
    display: block;
    margin: 0;
    color:#fff;
    text-align: center;
    font-size:18px;
    font-weight:400;
    margin-bottom: 5px;
    margin-top:3px;
}
.m-left-box .fl{
    position: absolute;
    left: 39px;
    top: 41px;
}
.m-text-div{}
.m-text-div h5{
    color: #ffffff;
    font-weight: 300;
    font-size: 11px;
    margin-top: 5px;
}
.message-body{
    /*height: 480px;
    overflow: hidden;
    overflow-x:hidden;
    overflow-y:auto;*/
}
.message-body h6{
    background-color: #222122;
    padding: 5px 0;
    font-weight: 300;
    font-size: 11px;
}
.div-c{
    display: flex;
}
.message-ldiv{
    display: flex;
    position: relative;
    padding-top: 10px;
}
.message-rdiv{
    margin-left: 20px;
    width:auto;
    position: relative;
    max-width: 80%;
}
.message-rdiv h5{
    color: #f4f3f3;
    font-weight: 300;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    display: flex;
}
.message-rdiv span{
    font-size: 10px;
    display: block;
    text-align: center;
    width: 100%;
    font-weight:300;
}

.message-right-sec{
    display: flex;
    justify-content: flex-end;
}
.rr-div{
    text-align: center;
    min-width:70%;
    background-color: #330135;
    position: relative;
    padding: 10px;
    border-radius:6px;
}
.rr-div h5{
    color:  #ffffff;
    font-weight: 300;
    font-size: 11px;
    margin: 0;
}
.rr-div span{
    position: absolute;
    top: -27px;
    font-size: 10px;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 300;
}
.ch-img {
    width: 60%;
}
.bottom-part{

}
.bottom-part .item{
    border-color: transparent;
    background-color: #212121;
    border-width: 0;
    border-style: none;
    padding: 0;
    border-radius: 3px;
}
.bottom-part .item-input-wrapper{
     background-color: #212121;
}
.bottom-part .button{
   color: #eb18fd;
    display: block;
    font-size: 14px;
    background: transparent;
}
.icons-div{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    margin-bottom: 10px;
}
.icons-div img{
    width: 22px;
    margin: 30px 8px 0 8px;
}
.icons-div img:nth-child(2){
    width: 30px;
    margin: 0px 5px 0 5px;
}
.mb-5{
    margin-bottom: 3rem;
}
.item-input-inset .item-input-wrapper input {
    color: #ffffff;
}
.message-footer{}
.f-div{
    position: relative;
}
.mu{
    position: absolute;
    margin: -409px auto 0;
    width: 91%;
}
.all-imgdiv{
    background-color: #330135;
    padding: 7px;
    border-radius: 2px;
    max-width: 70%;
    float: right;
    margin-top: 10px;
}
.ii-div{
    text-align: center;
    width: 54%;
}
.ii-div h5{
    background-color: #330135;
    padding: 10px;
    color:  #ffffff;
    font-weight: 300;
    font-size: 13px;
}
.n-h{
    background-color: transparent !important;
    color: #ffffff;
}

.message-camera{
    height: 480px;
    overflow: hidden;
    overflow-x:hidden;
    overflow-y:auto;
    background-color: #100202;
    max-height: 100%;
}
.mc-top{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
}
.ml{}
.ml img{
    width: 18px;
    height: 18px;
    margin: 5px;
}
.mr{}
.mr img{
    width: 23px;
    height: 23px;
    display: inline-block;
    margin: 2px 8px;
}
.mc-bottom{
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.message-load{
    background-color: #171517;
    padding: 20px 0;
}
.message-load h6{
    color: white;
    font-size: 16px;
}
.top-icon-area{
    margin:10px 0;
}
.top-icon-area .col.col-33{
    border-right: 1px solid #eb18fd;
}
.top-icon-area .col.col-33:last-child{
    border-right: 0;
}
.top-icon-area .icon-box img{
    height: 30px;
    margin: 8px auto;
    display: block;
}
.icon-box span{
    color: #736f6f;
    font-size: 12px;
    display: block;
    text-align: center;
}
.image-box{
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    padding: 4px;
}
.image-box img{
    /* border-radius: 6px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-gray{
    border: 0;
    min-width: 100px;
    color: #fff;
    line-height: 26px;
    max-height: 30px;
    border-radius:6px;
    background: #7f8183;
    text-align: center;
}
.slider::before{
    content: '';
    display: table;
    clear: both;
}
.thumbnail .image-box{
    width: 80px;
}
.white-bg .styled-input input{
    color: #888 !important;
}

.find-service{
    background: url(../img/find-bg.png) no-repeat top center;
    background-size: 100% 96%;
}
.select-find{
    text-align: center;
}
.main-select{
    display: block;
    padding: 0 15px;
    margin: 20px auto;
    text-align: center;
    border-radius: 6px;
    position: relative;
}
.main-select i{
    margin-left: 15px;
}
.main-select>a{
    width: 100%;
    color: #e1dddd;
    display: block;
    padding: 0px 10px;
    line-height: 36px;
    border-radius: 5px;
    font-size: 12px;
    margin: 0 auto;
    max-width: 250px;
}
.dark-select{
background: #171517;
border: 2px solid #bb1eb5;
}
.light-select{
    background: #bb1eb5;
    border: 1px solid #bb1eb5;
}
.find-service-bg{
    background:#1f0220;
}
.sub-select{
    position: absolute;
    left: -3px;
    right: 0;
    top: 45px;
    height: auto;
    z-index: 9999;
    width: 103%;
    display: none;
}
.sub-select.active{
    display: block;
    max-height: 246px;
    padding-bottom: 50px;
    overflow-y: scroll;
    -ms-overflow-style: auto;
    height: 202px;
}
.sub-select li{
    line-height: 42px;
    text-align: left;
    background: #840984;
    border: 1px solid #840984;
    padding: 10px 10px;
    color: #fff;
    clear: both;
    overflow: hidden;
}
.sub-select li:nth-child(even){
    background: #232022;
}
.sub-select li a{
    color: #fff;
    font-size: 13px;
    margin: 0;
    width: 100%;
    clear: both;
    display: block;
    position: relative;
    overflow: hidden;
    font-weight: 300;
    line-height: 28px;
}
.sub-select li a span{
    font-size: 14px;
    font-weight: 300;
    /* float: left; */
    
}
.sub-select li a small{
    padding-left: 35px;
    padding-right:15px;
    color: #f2f2f2;
}
.sub-select li a img{
    top: 50%;
    float: left;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    width: 26px;
    height: 30px;
    object-fit: contain;
    margin: 0 auto;
    opacity: 0.4;
}
a.find-btn.btn-grid {
    max-height: 150px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 50px;
}
.rf-btn{
    border: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 36px;
    border-radius: 6px;
    margin: 0 19%;
    height: auto;
    width: 100%;
    align-self: baseline;
    background: #020002 !important;
    border: 2px solid #c309d2;
}
.service-list {
    padding: 25px 10px 50px;
}
.list-area{
    background: #170518;
    padding: 10px 15px;
    text-align:left;
    border-radius: 8px;
    margin-bottom: 10px;
}
h3.title{
    font-size: 15px;
    color: #a5a4a5;
    font-weight: 400;
    margin: 0;
    background: url(../img/down-left.png) no-repeat 98% center;
    background-size: 10px;
    font-family: 'lato',sans-serif;
}
h3.title.active{
    background: url(../img/down-list.png) no-repeat 98% center;
    background-size: 15px;
}
.abs-box{
    height: 64px;
    position: relative;
    background: #161415;
}
.abs-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}
.abs-box.active span{
    background: rgba(112, 16, 112, 0.84);
    font-weight: 400;
}
.abs-box span{
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 64px;
    background: rgba(0,0,0,0.45);
}
.plc h3{
    font-size: 14px;
    color: #c0b2bf;
    background: #1d1d1d;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    padding: 2px 5px;
    position: relative;
    top: 0px;
    height: auto;
    line-height: 25px;
}
.search-count-holder{
    position: fixed;
    bottom: 49px;
    left: 0;
    width: 100%;
    max-height: 82vh;
    display: flex;
    width:100%;
    flex-wrap:wrap;
}
.search-count{
    margin: 0 auto;
    z-index: 99;
    text-align: center;
    line-height: 36px;
    background: url(../img/darw.png) no-repeat 90% center #750679;
    padding-right: 0;
    background-size: 15px;
    left: 0;
    width:100%;
}

.search-count p{
    font-size: 12px;
    margin: 0
}
.flex{
    display: flex;
}
.srch-result-head .img-box{
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin-right: 15px;
    margin-left: 0;
    margin-top: 0;
}
.srch-result-head .img-box img{
    height: 100%;
}
.srch-result-head .icon-img{
    width: 20px;
    right: 0;
    bottom: -6px;
    height: auto;
}
.srch-result-head h3{
    color: #fff;
    font-size: 15px;
    margin-top: 0;
    font-weight: 400;
    margin: 0;
}
.head-text{
    color: #fff;
}
.ratings img{
    margin-right: 8px;
    width: 36px;
}
.reviews img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.reviews span{
    font-size: 10px;
}
.bottom-bg {
    padding: 40px 5px;
    background: #1f0220;
}
.search-count.top-s {
    position: static;
    margin-bottom: 20px;
    background: url(../img/arw-dwn.png) no-repeat 90% center  #750679;
    background-size: 15px;
}
.result-wrap {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
    margin-right: 5px;
    margin-left: 5px;
}
.result-wrap:last-child{
    border: none;
}
.result-wrap-black {
    background: #171517;
    padding: 25px 5px;

}
.conts-div.full {
    max-width: 100%;
    padding-left: 30px;
}
.tabs-top.tabs-striped {
    padding-bottom: 0;
    position: relative;
    height: 51px;
    top: 0;
}
.tabs-top > .tabs, .tabs.tabs-top {
    top: 0px;
    border-bottom-width: 0;
    background: transparent;
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
    margin-top: 1px;
    border-width: 0px 0px 1px 0px !important;
    border-style: solid;
    color: #e721df;
    border-color: #e721df;
}
.tabs-top.tabs-striped .tab-item{
    color: #fff;
}
.bottom-bg.text-justify{
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}
.bottom-bg.text-justify h3{
    color: #fff;
    text-align: center;
}
.bottom-review .f-box{
    padding: 0;
    overflow: hidden;
    height: 52px;
    width: 52px;
    margin: 0 auto;
}
.bottom-review {
    padding: 25px 0;
}
.bottom-review p{
    font-size:12px;
    line-height: 16px
}
.bottom-review a{font-size:12px;}

.bottom-review .ratings{
    margin-bottom: 10px;
    display: inline-block;
}
a.dark-fllow-btn.abs-btn {
    position: absolute;
    right: 15px;
    top: 9px;
}
.mb-3{
    margin-bottom: 20px;
}
.bottom-review .col-20 span{
    text-align: center;
    display: block;
    margin-top: 5px;
    font-size: 12px;
    text-transform: capitalize;

}
.bottom-review .ratings span{
    font-size:12px;
}
a.link{
    color: #eb18fd;
}
.member-form-bg{
    background-color: #fff !important;
    background: url(../img/form-bg.png) no-repeat center;
    background-size: cover;
}
.photo-style-text{
    font-size: 14px;
    color: #736f6f;
    font-weight: bold;
    margin-left:5px;
    margin-top: 6px;
}
.communications-discount-text{
    font-size: 10px !important;
    color: #0c0c0c !important;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px !important;
}
.deepBg{
    background-color:#130316;
}
.padding20-20{
    padding:30px 20px !important
}
.input-phone-number{
    position: relative;
}
.input-phone-number i.icon{
    position: absolute;
    left: 15px;
    /* color: #818181; */
    color: transparent;
    font-size: 16px;
    top: 3px;
}
.address-box input.styled-input{
    margin: 15px 0;
    height: 42px;
    background:#330135 !important;
}
.pro-features-text p{
    display: block;
    text-align: left;
    color: #330135;
    max-width: 90%;
    margin: 0 auto;
    line-height: 18px;
}
.pro-features-text span{
    color:#f508ff;
    font-weight: bold;
}
.pro-features-text img{
    width:30px;
    margin:15px auto;
    display: block
}
.pro-features-text{
    margin:15px auto;
}
.for-gallery .pic-choose{
    margin:5px 0
}
.for-gallery .pic-choose label{
    background: #410244;
    margin-bottom:0;
    height: 180px;
}
.for-gallery{
    padding: 0
}
.provider-curl{
    border-radius:0;
    margin-bottom: 0;
}
.provider-curl img{
    top: 37px;
}
.provider-toggle{
    display: none;
    transition: ease all .5s;
}
.provider-toggle.active{
    display: block
}

.main-image-box{
    width:100%;
    /* height:40vh; */
    overflow: hidden;
}
.main-image-box img{
    width:100%;
    height:320px;
    max-height: 350px;
    object-fit: cover;
}
.following-box-sidebar{
    padding:0px 5px;
}
.following-box-sidebar .image-box{
    border-radius:0;
    padding: 0px 0;
    margin: 0 -2px;
}
.following-box-sidebar .image-box img{
    border-radius:0;
    width: 100%;
     height: 80px; 
    object-fit: cover;
}
.following-box-sidebar .text-white{
    font-size: 10px;
    line-height: 14px;
    color: #f2f2f2;
}
.cover-fit{
    object-fit: cover !important;
}
.following-box-sidebar p{
    font-size: 12px;
    font-weight: 400;
}
.description-box{
    margin-top:20px !important
}
.description-box textarea{
    height: 50px;
    line-height: 30px !important;
    padding: 10px 15px;
}

.gray-root{
    margin-bottom: 0 !important;
    border-bottom: 1px solid #3b3b3b;
    padding: 20px 0;

}

.feedback-header{
    padding: 10px;
}
.feedback-header .header-profile{
    width:100%;
}
.feedback-header .header-profile .img-box{
    width:auto
}
.feedback-header .header-profile .img-box img{
    width: 50px;
    height: 50px;
}
.feedback-header .header-profile .img-box span img{
    width:18px;height:auto
}
.feedback-header h3{
    font-size: 18px;
    font-weight: normal;
}
.feedback-header p,.feedback-header small{
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
}
.feedback-header small{
    color:#797979;
}
.news-slide .slider-pager .slider-pager-page{
    margin: 0px .50px;
}
.reply-btn{width:20%;line-height: 36px;text-align: right}

.comment-box{
    padding: 10px;
}
.reply-box-holder{
    padding: 10px 5px;
    border-bottom:1px solid #71007b;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
}
.reply-box-holder-last{
    border-bottom:none !important;
}
.reply-box-holder .right-reply{
    position: relative;
    /* padding-left:20px; */
    /* padding: 0 18px; */
    flex: 1;
}
.reply-box-holder .right-reply .like{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    top:0;
}
.reply-box-holder .right-reply .like img{
    width: 18px;
    height: auto;
    margin-left: 8px;

}
.reply-box-holder .left-box .imag-box {
    width: 45px;
    height: 45px;
}
.reply-box-holder .left-box{
    margin: 0;
    padding-top: 0px;
    margin-right:3px;
    width: 74.2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    max-height: fit-content;
}
.reply-box-holder .left-box span {
    /* font-size: 10px;
    display: block;
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
    width: 100%;
    font-weight: 400; */

    font-size: 10px;
    display: block;
    text-align: left;
    line-height: normal;
    overflow: hidden;
    width: 100%;
    font-weight: 400;
    padding-top: 5px;

}
.reply-box-holder .right-reply span{
    font-size: 10px;
    letter-spacing: 1px;
}
.reply-box-holder .right-reply p{
    color: #c5bac6;
    margin-bottom: 10px;
    position: relative;
    font-size: 12px;
    line-height: 14px;
}
.absloute-menu .list-btn a{
    font-size:11px;
    line-height:40px;
}
.filter-text{
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    letter-spacing: 1px;
}
.leaf-button{
    font-size: 14px !important;
    line-height: 48px !important;
    max-width: 218px !important;
}
.leaf-button img{
    width: 22px;
    top: 3px;
}
.share-header{
    display: flex;
}
/* .create-post-slider{
    padding-bottom: 25px;
} */
.create-post-slider .slider-pager{
    bottom: 5px;
}
.message-body-new{
    padding: 0 15px;
    /* margin-top:30px; */
    position: absolute;
    padding-top: 40px;   
}
.message-body-new .col{
    padding: 0;
}
.message-body-new .imag-box.text-center img{
    border-radius:6px;
    height: 100% !important;
    width: 100% !important;
}

.message-body-new .m-left-box .fl {
    width: 20px;
    left: auto;
    top: auto;
    right: -5px;
    bottom: -5px;
}
.message-body-new .col{
    /* margin:20px 0;2292 */
}
.message-body-new .ch-img {
    width: 200px;
    position: relative;
}
.message-body-new .ch-img img{
    border-radius:8px;
}
.message-body-new .ch-img h6{
    background: #000000;
    color:#b6b6b6;
    font-size:10px;
    padding-top: 7px;
    display: block
}

.chat-footer{
    position: fixed;
    z-index:99999;
    bottom:50px;left:0;
    width:100%;
    background: #171517;
    padding: 0 15px 10px 15px;

}
.chat-footer input,.chat-footer .button{
    font-size:12px;
}
.notifications{padding:0 10px}
.notifications .left-box .imag-box{width:40px;height:40px}
.notifications .right-box .img{width:34px;height:34px;}
.notifications .left-box,.notifications .right-box{padding: 0;margin:0}
.notifications .like-image{width:18px;margin:0 5px}
.notifications h6{font-size:8px}
.notifications .right-box{justify-content: flex-end}
.notifications .left-txtdiv h6 span{max-width:135px; margin-top: 5px; font-size:10px;width:100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block}
.notifications .row{ /*padding:15px 0;*/ }
.gallery-div2 .text-div h6{font-size:10px;}
.gallery-div2 .text-div h6 span{
    outline: 1px solid #4d4a4d;
    padding: 2px 3px;
    font-size: 9px;
    margin-left: 5px;
    display: inline-block;
}

.find-service-flex{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
}
.find-service-flex .filter-strip {
    width: 100%;
    align-self: flex-start;
}
.find-service-flex
.align-self-center{
    width: 100%;
    height: auto;
    padding: 0 15%;
    align-self: flex-start;
    
}
.find-buttn{
    border: 0;
    width: 36px;
    height: 36px;
    color: #fff;
    line-height: 34px;
    background: #eb18fd;
    background: -moz-linear-gradient(-45deg, #9d77fa 0%, #bf4dfb 51%, #eb18fd 100%);
    background: -webkit-linear-gradient(-45deg, #9d77fa 0%,#bf4dfb 51%,#eb18fd 100%);
    background: linear-gradient(135deg, #9d77fa 0%,#bf4dfb 51%,#eb18fd 100%);
    text-align: center;
    display: block;
    font-size: 10px;
    border-radius: 100%;
    margin: 0 auto;
}
.area-all{
    display: none;
}
.list-area.active .area-all{
    display: block;
}
.area-all{
    padding: 15px 0
}
.area-all .row{
    padding: 0;
    margin-bottom:15px;
    justify-content: space-between
}
.area-all .row .col{
    padding: 0;
    width: 31%;
    flex: 0 0 31%;
}
.area-all .row:last-child{
    margin-bottom:0;
}
.search-count-holder .bottom-bg{
    display: none
}
.search-count-holder.active .bottom-bg{
    display: block;
    height: 76vh;
    overflow: scroll;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 30px;
}
.search-count-holder.active .search-count{
    background: url(../img/darw-down.png) no-repeat 90% center #750679;
    background-size: 15px;
}
.srch-result-head .img-box{
    border-radius: 0;
    height: 52px;
    width: 52px;
    margin-right: 15px;
    margin-left: 0;
    margin-top: 0;
}
.srch-result-head .img-box img{
    width:100%;height:100%;border-radius:100%;
}
.srch-result-head .head-text span{
    font-size:10px;font-weight:300;
}

.des-text-search,.des-text-search p{margin:0;font-size: 10px;}

.bottom-holder{
    padding: 10px 0;
    border-bottom:1px solid #483249;
}
.four-image{
    border-bottom:0;
    margin-top:10px;padding: 0 10px;margin-bottom:5px;
}
.four-image ul li .img-maindiv {
    height: 80px;
    border-radius:5px
}

.tab-reasult{
    padding: 15px
}
.text-padding{
    padding: 20px;
}
.text-padding h3{
    font-size: 18px;
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.text-padding p{
    font-size: 10px;
    display: block;
    text-align: left;
    color: #fff;
    font-weight: 300;
    line-height: 18px;
}
.add-folder img{
    margin-top:12
}

.checkbox-outer{position: relative;}
.checkbox-outer input[type="checkbox"]{
    position: absolute;
    left:0;
    z-index: 999;
    width:100%;
}
.map-text{
    font-size: 14px !important;
    color: #c0b2bf !important;
    background: #1d1d1d;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    padding: 0px 15px !important;
    position: relative;
    top: 0px;
    height: auto;
    line-height: 25px;
    width:100%;
    text-align: center;
}

.toggle-btn{
    max-width: 90px;
}
.toggle-btn label{
    margin: 0;
}
.toggle-btn .toggle .handle{
    left: 4px;
    top: 9px;
    height: 22px;
    background-position: 0px -3px;
    background-size: 103%;
    width: 41px;
}
.toggle-btn .toggle .track{
    width: 53px;
    height: 20px;
}
.toggle input:checked + .track .handle {
    -webkit-transform: translate3d(30px, 0px, 0);
    transform: translate3d(30px, 0px, 0);
    background-color: #fff;
}
.g-search,.g-filter,.g-location,.g-menu,.g-notification,.g-share,.g-like,.g-camera,.social-box ul li img{
    filter: grayscale(100%) invert(50%) brightness(100%);
}
.g-notification.active,.g-share.active,.social-box ul li img.active{
    filter: grayscale(0) invert(0) brightness(100%);
}
.find-service-flex .filter-strip .g-location{
    filter: grayscale(0) invert(0) brightness(100%);
}
.filter-new-box{
    padding: 0 15px;
}
.filter-new-box input[type="text"]{
    color: #eb18fd;
}
.mt-150{
    margin-top:150px;
}
.mt-250{
    margin-top:250px;
}
.social-area{
    width: auto;
    height: 40px;
}
.social-area ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    width:100%;
}
.social-area ul li{
    padding: 0;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    list-style-type: none;
    border-radius: 100%;
    line-height: 40px;
}
.social-area ul li img{
    width: 24px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.icon-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;;
    justify-content: space-between;
    padding: 10px 5px;
}
.dark-bg .item{
    background: transparent !important;
    border: 0 !important;
}
.s-icon{
    text-align: center;
}
.s-icon i{
    font-size: 35px;
    color: #fff;
    margin-bottom: 5px;
}
.s-icon label{
    display: block;
    font-size: 13px;
    color: #bbb5b5;
}

.pic-upload-area label{
    height: 125px;
    text-align: center;
}

.pic-upload-area label img{
    width: 100%;
    /* height: 125px; */
    object-fit: cover;
    background: #fff;
    border-radius: 9px;
    height: 100%;
    max-width: 100%;
}

.top-choose-pic label{
    height: 80px;
    text-align: center;
}

.top-choose-pic label img{
    width: 100%;
    /* height: 80px; */
    /* object-fit: contain; */
    object-fit: cover;
    height: 100%;
    background: #fff;
    border-radius: 9px;
}


.upload-image-box.crop-box{
    height: calc(100vw - 20px);
    width: calc(100vw - 20px);
}
.upload-image-box.crop-box img{
    height: 100%;
}
.upload-image-box{
    height: 250px;
    width: 100%;
}

.upload-image-box img{
    height: 250px;
    width: 100%;
    /* / object-fit: contain; / */
    object-fit: cover;
}
.post-image-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    flex: 1;
    position: absolute;
}
.new-post-image-page{
    justify-content: flex-start;
}
.image-editor-part{
    width: 100%;
    height: calc(100% - 60px);
}
.new-image-editor-part{
    height: calc(100% - 120px);
}
.custom-canvas-area{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-top: 95px; */
}
.hz-modal-image.text-center {
    width: 100%;
    margin: 5px auto 0;
    max-width: 300px;
    border-radius: 5px;
    overflow: hidden;
}
.main-div{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


.custom-canvas-area .canvas-container{
    margin: auto;
}

.custom-canvas-area .icon-wrap .s-icon:nth-child(1) .ion-volume-low:before{
    background: url(../img/icon/1.png);
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
}

.custom-canvas-area .icon-wrap .s-icon.active:nth-child(1) .ion-volume-low:before{
    background: url(../img/icon/1-active.png);
    content: "";
    background-size: cover;
}

.custom-canvas-area .icon-wrap .s-icon:nth-child(2) .ion-volume-low:before{
    background: url(../img/icon/2.png);
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
}

.custom-canvas-area .icon-wrap .s-icon.active:nth-child(2) .ion-volume-low:before{
    background: url(../img/icon/2-active.png);
    content: "";
    background-size: cover;
}

.custom-canvas-area .icon-wrap .s-icon:nth-child(3) .ion-volume-low:before{
    background: url(../img/icon/3.png);
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
}

.custom-canvas-area .icon-wrap .s-icon.active:nth-child(3) .ion-volume-low:before{
    background: url(../img/icon/3-active.png);
    content: "";
    background-size: cover;
}

.custom-canvas-area .icon-wrap .s-icon:nth-child(4) .ion-volume-low:before{
    background: url(../img/icon/4.png);
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
}

.custom-canvas-area .icon-wrap .s-icon.active:nth-child(4) .ion-volume-low:before{
    background: url(../img/icon/4-active.png);
    content: "";
    background-size: cover;
}

.custom-canvas-area .icon-wrap .s-icon:nth-child(5) .ion-volume-low:before{
    background: url(../img/sharpen-white.png);
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
}

.custom-canvas-area .icon-wrap .s-icon.active:nth-child(5) .ion-volume-low:before{
    background: url(../img/sharpen-grid.png);
    content: "";
    background-size: cover;
}
.custom-canvas-area .icon-wrap .s-icon:nth-child(6) .ion-volume-low:before{
    background: url(../img/icon/6.png);
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
}

.custom-canvas-area .icon-wrap .s-icon.active:nth-child(6) .ion-volume-low:before{
    background: url(../img/icon/6-active.png);
    content: "";
    background-size: cover;
}

.range-number{
    color: #fff;
}

.image-tabs{
    text-align: center;
}

.image-tabs li{
    display: inline-block;
    padding: 0 40px;
    position: relative;;
}

.image-tabs{
    margin-bottom: 4px
}

.image-tabs li:after{
    content: "";
    border-right: 1px solid #555;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
}

.image-tabs li:last-child:after{
    display: none;
}
.image-tabs li img{
    width: 30px;
}

.image-tabs li p{
    color: #555;
    margin-bottom: 0;
}

.ig.round-div {
    width: 34px !important;
    /* border-radius: 100% !important; */
    height: 34px !important;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(#160517, #160517), linear-gradient(to right, #9d77fa 0%, #eb18fd 100%);
}

.range input{
    background-size: 100% 0.2vh !important;
}

.small-thum-imagsection{
    display: flex;
    flex: 0 0 auto;
    justify-content:flex-start;
    padding: 10px 10px;
    width: auto;
    white-space: nowrap;
}
.small-thum-imagsection div {
    margin: 0 5px;
}
.small-thum-imagsection2{
    display: flex;
    flex: 0 0 auto;
    justify-content:flex-start;
    width: auto;
    white-space: nowrap;
}
.small-thum-imagsection3{
    display: flex;
    flex: 0 0 auto;
    justify-content:flex-start;
    width: auto;
    white-space: nowrap;
}
.small-thum-imagsection3 ul li:nth-child(1) {
    width: 47vmax;
}

.time_ago_span{
    color: #c5bac6 !important;
    width: 64px;
    letter-spacing: normal;
    line-height: 10px;
    padding-top: 5px;
}
.postDatetimeAgo{
  font-size: 11px !important;
}
tags-input {
  display: block;
  width: 100%;3
}
.flex-tag {
  display: flex;
  background: #320436;
    border-radius: 5px;
    padding: 2px 5px;
    margin-bottom: 10px;
    align-items: center;
}
tags-input .tags{
  background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}

{
    overflow: hidden;
    width: 112px;
}
.folio-img-div img{
    object-fit: cover;
    height: 112px;
}
.r-div{
    width: 29px !important;
    overflow: hidden;
    border-radius: 5px;
    height: 29px !important;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(#160517, #160517), linear-gradient(to right, #9d77fa 0%, #eb18fd 100%);
}
.h-img{
    height: 100%;
    object-fit: fill;
    border-radius: 6px;
}
.n-message-box{
    padding-top: 11px;
}
label.circle-pic, img.circle-pic {
    width: 122px !important;
    height: 120px !important;
    min-height: 1px;
    border-radius: 50%;
    background-size: 80%;
}

.spinner svg {
    width: 28px;
    height: 28px;
    stroke: #db76e0;
    fill: #db76e0;
    margin-right: 9px;
}
.searchtop {
    position: absolute;
    left: 20%;
    z-index: 999;
    width: auto;
    right: 25px;    
    top: 9px;
}
.search-inner input{
    width: 90%;
    margin: 0;
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
    max-width: 250px;
    background: #330135;
    color: #eb18fd;
    font-size: 13px;
}
input[type="text"]{
    max-height: 42px;
}

.post-image-content .slider{
    position: absolute;
    width: 100%;
    top: 95px;
    left: 0;
    height: 85vh;
    padding-bottom: 0;
}

.post-image-content{
    z-index: 9;
}

.album-container {
    overflow: hidden;
    background: #300236;
    color: #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.album-header {
    display: flex;
    padding: 15px 5px 10px;
    max-width: 90%;
    margin: 0 auto 25px;
    border-bottom: .5px solid #d02bff;
    align-items: center;
}
.album-header p{
    font-size: 12px;
    font-weight: 500;
    color: #777;    
    margin-bottom: 0;
    position: absolute;
    left: 50%;
}
.album-header select{
    color: #f2f2f2;
    font-size: 15px;
    background: url(../img/down-list.png)no-repeat 98% 6px;
    border: 0;
    background-size: 16px;
    width: 100%;
}
.album-body {
    padding: 0 15px;
}
.album-images {
    overflow: hidden;
    padding-left: 5px;
}

.album-images ul li{
    /* display:block;
    border: 1px solid #e4e1e1;
    position: relative;
    width: 95px; 
    width: 25%;
    height: 95px;
    margin-left: -1px;
    float:left;
    margin-bottom: -1px;
    overflow: hidden; */
    display: block;
    position: relative;
    width: 25%;
    margin-left: -1px;
    float: left;
    margin-bottom: -1px;
    overflow: hidden;
    height: 95px;
    padding: 1px 1px;      
}
.album-images ul li img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}



.multi-select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/checkmark.png) no-repeat center;
    background-size: 40px;
}
.left-nav-arrow {
    position: absolute;
    top: 39%;
    left: 0px;
    width: 20px;
    height: 25px;
    background:url(../img/down-left.png) no-repeat center left;
    transform: rotate(180deg);
    z-index: 999;
}
.right-nav-arrow {
    position: absolute;
    top: 39%;
    right: 5px;
    left: auto;
    width: 20px;
    height: 25px;
    background:url(../img/down-left.png) no-repeat center right;
    z-index: 999;
}
.btn-dark {
    border: 0;
    width: 100px;
    color: #fff;
    line-height: 26px;
    max-height: 30px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    background: #888;
}
.mbsc-err-msg {
    color: #d8332a;
}
.mbsc-err{
    margin-bottom: 6px;
    margin-top: -4px !important;
}
.abs-btnt{
    position: absolute;
    height: 45px;
    top: 48px;
}
.slide-swipe{
    padding-top: 60px;
    height: 92vh;
}
.swiper-pagination{
    display: none !important;
}

.folio-image{
    flex-wrap: wrap;
}
.postreview {
    position: relative;
    padding: 0px 15px 15px;
}
.d-flex-div{
    overflow: hidden;
    margin: 15px 0px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* border: 1px solid #e721df; */
    padding: 10px 10px;
}

.starrate{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}
.starrate span{
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background: #bab7b7;
    margin: 1px;
}
.starrate span.active{
    background: #eb18fd;
    background: -moz-linear-gradient(-45deg, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    background: -webkit-linear-gradient(-45deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%);
    background: linear-gradient(135deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%);
}
.reply-div textarea{
    width: 80%;
    background: transparent;
    color: #fff;
    padding-top: 10px;
}
.overflow-scroll > .scroll{
    height: auto;
}


.tab-content-wrap {
    overflow: hidden;
}
.rate-box span{
    font-size: 10px;
}
.rate-box .starrate span{
    width: 8px;
    height: 8px;
}
.rate-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.rate-box .starrate {
    width: 66px;
}
.col{
    position: relative;
}
.select-input-new{
    text-align: left;
}
.select-input-new label{
    padding: 0;
    margin-bottom: 0;
}
.top-side-logo-new{
    background: #110317;
    margin: 0;
    padding: 10px 20px 0;
}
.top-side-logo-new h1{
    text-transform: initial;
}
.bottom-back-btn-new{
    background: #100318;
    padding-top: 15px;
    margin: 0;
}
.new-back-bttn{
    padding-bottom: 15px;
}

.new-gallery{}
.new-gallery ul{
    justify-content: flex-start;
}
.new-gallery .img-dv{
    max-width: 95px;
}
.p-0{
    padding: 0;
}
.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}
.btn-pics{}
.pane{
    background-color: #0b0111;
}
.head-text .ratings .starrate.small {
    margin-top: 0;
}
.head-text .ratings .starrate.small span{
    width: 7px;
    height: 7px;
    background: #b474fc;
    margin-top: 0.12rem;
}