
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700');
body{
    font-family: 'Lato', sans-serif;
    color: #ccc;
    
}
p,span{
    font-size: 14px;
}
a{
    color: #db76e0;
    text-decoration: none;
}
.splash-screen.scroll-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-content{
    display: flex;
    align-items:flex-start;
    justify-content: center;
}
.scroll{
    width: 100%;
    min-height: 100%;
}
.common-screen{
    background: #130316;
    padding: 10px 10px;
}
.image-background{
    background: url(../img/splash.jpg) no-repeat center;
    background-size: 100%;   
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ebebeb;
}
.splash-screen{
    background: url(../img/splash2.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-position: center;
}
.slide-wrap.image-background{
     background: url(../img/slide-bg2.jpg) no-repeat center;
     background-size: cover !important;
     padding: 0 20px;
     display: flex;
     flex-wrap: wrap;
}
.slide-wrap{
    padding-bottom: 50px !important;
}
.padding20{
    padding: 0 20px;
}
.terms-condition{font-size:11px;line-height: 15px;margin:40px auto 20px;display: block}
.logo-center{
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    width:100%;
}
.logo-center img{
    max-width: 120px;
    display: block;
    margin: 0 auto;
}
.align-self-bottom{
    align-self: flex-end;
    width:100%;
    padding:0 19%;
    height: 336px;
}
.sign-separator button{
    width: 100%;
    color: #e1dddd;
    display: block;
    padding: 0px 10px;       
    line-height: 36px;         
    border-radius: 5px; 
    font-size:12px;
    margin: 0 auto; 
    max-width: 250px;
}
.purple-btn{
    background: #330135 !important;
    border: 1px solid #330135;
}
.outline-sing{
    background: #020002 !important;
    border: 2px solid #c309d2;
    margin-top:15px !important;
}
.clear{
    clear: both;
    overflow: hidden;
}
.privacy-page{
    background: #1f0220;
    color: #fff;
    padding: 10px 5px;
}
.top-head{
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.side-logo{
    width: 80px;
}
.side-logo img {
    max-width: 100%;
    display: block;
}
.top-side-logo .col{
    flex: auto !important;
    display: block;
    padding: 5px;
    width: auto !important;
    align-self: flex-start
}
.top-side-logo p{font-size:11px}
.align-self-bottom-option{
    align-self: bottom;
    align-self: baseline;
    width: 100%;
}
.t-txt{
    padding-top: 10px;     
}
.t-txt h1{
    font-size: 35px;
    color: #ec80f1;
    font-weight: 300;
    margin-top: 15px;
}
.t-txt h2{
    font-size: 21px;
    font-weight: 300;
    color: #c5bac6;
}
.back-btn{
    background: url(../img/back-arw.png)no-repeat left 2px;
    background-size: 17px;
    display: flex;
    width: 100%;
    padding-left: 30px;
    font-size: 14px;
    color: #fff;
    line-height: 38px;
}
.cms-area{
    padding-top: 40px;
}
.cms-area p{
    margin-top: 0;
    line-height: 22px;
    font-weight: 400;
    color: #c5bac6;
    margin-bottom: 10px;
    position: relative; 
    text-indent: 15px;
}
.cms-area p:before{
   content: '.';
    font-size: 3rem;
    color: #c5bac6;
    position: absolute;
    left: -15px;
    top: -11px;
    line-height: 10px;
}
.cms-area h3{
    font-weight: 300;
    color: #c5bac6;
    font-size: 26px;
}
.no-bfr:before,
.cms-area .mb-0:before{
    display: none;
}
 .cms-area .mb-0,
 .cms-area .no-bfr{
     text-indent: 0px;
 }
.cms-area h4{
    font-weight: 300;
    color: #c5bac6;
    font-size: 18px;
    text-decoration: underline;
}
.cms-area ul{
    padding-left: 0;
    list-style-type: none;
}
.cms-area strong{
    display: block;
    font-weight: 700;
    font-size: 16px;
}
.cms-area .mb-0{
    margin-bottom: 0 !important;
}
.back-btn.bottom-back {
    max-width: 120px;
    margin: 60px auto 10px;
}
.purple-btn{
    color: #fff;
    padding: 3px 10px;
    border-radius: 6px;
    font-weight: 500;
    margin-bottom: 15px;
}
.sign-separator {
    width: 100%;
    margin-top:30px
}
.sign-separator input {
    width: 100%;
    height: 36px;
    padding: 0 10px;
    color: #e1dddd;
    font-size: 12px;
    margin: 0;
}
.input-holder{
    position: relative;
    margin-bottom: 15px
}
.input-holder span{
    position: absolute;
    right: 10px;
    top: 9px;
    color: #6f5b70;
    font-size: 11px;}
.sign-separator .round-btn{
    position: absolute;
    right: -44px;
    top: 2px;
    background: #330135 !important;
    color: #fff;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    border: 0;
    font-size: 11px;
    padding: 0;
}
.check-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    margin-bottom: 0;
}
.check-box label{
    margin-left: 0;
    color: #565456;
    font-size: 10px;
    font-weight: 500;
    font-family: 'lato', sans-serif;

}
.check-box .checkbox-icon{
    width: 26px;
    height: 26px;
    background: #565456;
    border: 1px solid #565456;
}
.check-box .checkbox-checked .checkbox-inner{
    top: 3px;    
    width: 8px;
    height: 14px;
    left: 7px;
}
.text-center{
    text-align: center;
}
.forgot-password{
    font-size: 10px;
    font-weight: 600;
    font-family: 'Lato';
    padding: 10px;
    background: linear-gradient(to right, #eb18fd 0%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
}
.text-center label{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lato';
    padding: 10px;
    background: linear-gradient(to right, #eb18fd 0%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    display: block;
}
.styled-checkbox {
    position: absolute;
    opacity: 0;        
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  .styled-checkbox + label:before {
    content: '';
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: #565456;
  }           
  .styled-checkbox:checked + label:before {
    background: #565456;
  }     
  .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 8px;
    background: #fff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .sign-btn p{
    font-size: 15px;
    color: #fff;       
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.full-width{
    width: 100% !important;
}
.btn-sign-up{
    margin-top: 30px;
    margin-bottom: 20px;
}
input.styled-input{
    width: 100%;
    height: 36px;
    padding: 3px 15px;
    color: #fff;
    background: #330135 !important;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
}
.top-side-logo{
    margin-bottom: 20px;
}
.check-box.text-right{
    justify-content: flex-end;
    margin-bottom: 40px;
}
.check-box.text-right .styled-checkbox + label:before{
    background: #330135;
}
.check-box.text-right label{
    font-size: 12px;
}

.pic-choose label{
    display: block;
    height: 100%;
    min-height: 125px;
    background: url(../img/pics.png) no-repeat center #e5e1e1;
    background-size:50%;
    width: 100%;
    border-radius: 9px;
}
.pic-choose{
    position: relative;
}
.pic-choose input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.pic-choose.centerd{
    text-align: center;
    padding: 25px 0;
    max-width: 65%;
    margin: 0 auto;
}
.pic-choose.centerd p{
    font-size: 14px;
    color: #736f6f;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
.pic-choose.centerd label{
    width: 80px;
    margin: 10px auto;
    min-height: 80px;
}
.p-txt{
    margin: 25px auto;
    max-width: 80%;
}
.toggle-btn.text-center {
    max-width: 80px;
    margin: 10px auto;
}
.toggle .handle{
    background: url(../img/toogle-btn.png) no-repeat 0px -3px;
    background-size: 104%;
    width: 55px;
    height: 28px;
    top: 6px;
    left: 17px;
}
.toggle .track{    
    border: 0 !important;
    height: 25px;
     box-shadow:inset 0px 0px 9px rgba(0,0,0,.5);
     -webkit-box-shadow:inset 0px 0px 9px rgba(0,0,0,.5);
     -moz-box-shadow:inset 0px 0px 9px rgba(0,0,0,.5);
}
.toggle.toggle-assertive input:checked + .track{
    background: #d225cc !important;
}
.toggle input:checked + .track .handle {
    -webkit-transform: translate3d(30px, 2px, 0);
    transform: translate3d(30px, 2px, 0);
    background-color: #fff;
}
.register-page.scroll-content,
.privacy-page.scroll-content{
    align-items: flex-start;
    padding: 15px 10px;
}
.select-imput{        
    padding: 10px 15px;
    border-radius: 9px;
    background: url(../img/select-bg.png) no-repeat 95% center #231a23 ;
    background-size: 28px;
    margin-bottom: 40px;
}
.select-imput label{
    font-size: 12px;
     background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}
.r-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0px;
    color: #b6b6b6;
    font-size: 12px;        
    display: block;
    width: 100%;        
}
.t-btnbt{
    font-size: 20px;
    text-transform: capitalize;
    color: #736f6f;
    font-weight: 500;
}
.bottom-back-btn{
    margin-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.bottom-back-btn .back-btn{
    padding-left: 30px;
}
.next-btn{
    border: 0;
    width: 100px;        
    color: #fff;
    line-height: 26px;
    max-height:30px;
    border-radius: 6px;
    background: #eb18fd; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%); 
    background: -webkit-linear-gradient(-45deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%); 
    background: linear-gradient(135deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%);
}
.btn-grid{
    border: 0;
    width: 100px;
    color: #fff;
    line-height: 26px;
    max-height: 30px;
    border-radius: 6px;
    background: #eb18fd; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%); 
    background: -webkit-linear-gradient(-45deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%); 
    background: linear-gradient(135deg, #eb18fd 0%,#bf4dfb 51%,#9d77fa 100%);
    text-align: center;
    display: inline-block;
}
.text-grid{
    font-size: 16px;
     background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}
.top-btn-ad{
    padding:5px 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top-btn-ad .text-grid{
    width: auto;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
}
.styled-input{
    width: 100%;
    height: 45px;
    padding: 0px 15px;
    color: #fff;
    background: #330135 !important;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    margin: 0;
}
.list-inset .item.item-input input{
    color: #fff;
    padding-right: 0px;
    padding-top: 8px;
}
.styled-input .item.item-input{
    background: transparent !important;
    border: 0;
    padding: 0;
    color: #fff;
}
.placeholder-icon:first-child{
    margin-top: 8px;
}
.select-gender{
    margin-top: 40px;
    margin-bottom: 25px;
}
.select-gender h4{
    color: #736f6f;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 0;
    padding-left: 10px;
}
.select-gender p{
    color: #736f6f;
    font-size: 15px;
    padding-left: 10px;
}
.select-gender .card{
    margin: 0;
    height: 100px;
    width: 100%;
    background: #330236;
    color: #ebebeb;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 6px;
}
.select-gender .card i{
    font-size: 4rem;
    display: block;
    margin: 0;
    line-height: 1;
}
.select-gender .card small{
    display: block;
    font-size: 15px;
    line-height: 25px;
    color: #edebeb;
}
.select-gender .card p{
    margin: 0;
    color: #f5e8e8;
    font-size: 16px;
}
.select-cat {
    margin-bottom: 40px;
}
.r-btn img{
    max-height: 64px;
    width: auto;
    margin: auto;
}
.r-btn input + .first-img{
   display: block;
}
.r-btn input ~ .second-img{
   display: none;
}
.r-btn input:checked + .first-img{
   display: none;
}
.r-btn input:checked ~ .second-img{
    display: block;
}
.r-btn input:checked + p{
     background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.r-btn input:checked + i{
    color:#e223fd;
}
.style-select{
    line-height: 40px;
    background: url(../img/select-arw.png) no-repeat 95% center #330236;
    background-size: 20px;
    border: 0;
    border-radius: 6px;
    padding: 5px 15px;
    color: #d5d5d5;
    width: 100%;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.pt-5{
    padding-top: 40px !important;
}
.top-side-logo .col-30{
    max-width: 130px;
}
.top-side-logo h1{
    margin-bottom: 0;
}
.slide-wrap{
    height: 100vh;
    padding-bottom: 54px;
    color: #ccc;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
.top-padd{
    padding-top: 18% !important;
}
.left{
    display: flex;
    justify-content: flex-start;
}
.right{
    display: flex;
    justify-content: flex-end;
}
.select-round{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;        
    text-align: center;
    display: block;
    background: url(../img/border-circle.png) no-repeat center;       
    overflow: hidden;
    border: 0px solid #d801f1;
    background-size: cover;
/*        border-image: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
    border-image-slice: 1;*/
}
.select-round small{
    display: block;
    font-size: 12px;
}
.select-round input:checked + small{
    background: rgba(145, 0, 145, 0.44);
    display: block;
    width: 100%;
    height: 100%;
}
.slide-wrap .text-center p{
    font-size: 12px;
    margin: 0 auto;
    color: #e4e1e1;
}
.slide-wrap .row{
    padding-top: 0;
    padding-bottom: 0;
}
.slider-pager .slider-pager-page{
    color: #6f646f;
    font-size: 8px;
    width: 8px;
}
.slider-pager .slider-pager-page.active{
    color: #ec00fd;
}
.slide-wrap .bottom-back-btn{
     padding: 0 10px;
     width: 100%;
     bottom: 6px;
     position: fixed;
     left: 0;
     z-index: 999;
}
.slider-pager {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    width: 30%;
    height: 15px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.black-heading{
    background: #231a23;
    line-height: 60px;
    display: block;
    margin-bottom: 18px;
}
.black-heading span{
    display: block;
    color: #d225cc;
    font-size: 25px;
    margin: 0 0 0 10px;
    font-weight: 600;
    line-height: 1;
}
.black-heading h2{
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    color: #736f6f;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 4px;
}
.item-wrap .row{
    padding-top: 0;
    padding-bottom: 0;
}
.purple-box{
    background: #410244 !important;
    border-radius: 7px;
    padding: 8px 8px;
}
.curl-box{
    display: block;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    height: 305px;
}
.head-box p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    color: #f9f9f9;
    text-transform: uppercase;
}
.head-box small{
    display: block;
    font-weight: 400;
    color: #ccc5c5;
    font-size: 15px;
}
img{
    max-width: 100%;
}
.img-box{
    border-radius: 9px;
    margin: 10px auto;
    max-width: 90%;
    overflow: hidden; 
    position: relative;
}
.icon-img{
    position: absolute;
    bottom: -4px;
    right: -2px;
    display: block;
    max-width: 25px;
    z-index: 9;
}
ul.list-style {
    list-style-type: disc;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.list-style li{
    font-size: 13px;
}
.curl-box .mask{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/checkmark.png) no-repeat center rgba(0,0,0,0.55);
    background-size: 55px;
    z-index: 1;
}
.curl-box.selected .mask{
    display:block;
}
.curl-box.selected .head-box p{
     background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 999;
}
.curl-box.selected .head-box small{
     position: relative;
    z-index: 999;
    color: #d601dd;
}
.text-right{
    text-align: right;
}
.slide-wrap .t-txt h3{
    color: #b4b0b4;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
    padding-left: 48px;
}
.slide-2 p{
    color: #e4e1e1;
}
.pt-4{
    padding-top: 20px !important;
}
.no-padding{
    padding: 0 !important;
}
.abs-li{
    position: relative;
    height: 290px;
    max-width: 290px;
    margin: 0 auto;
    margin-top: 20px;
}
.abs-li li{
    overflow: hidden;
    position: absolute;
    height: 100px;
    width: 100px;
}
.abs-li li:nth-child(1){
    left: 49px;
    top: 6px;
}
.abs-li li:nth-child(2){
    left: 156px;
    top: 22px;
}
.abs-li li:nth-child(3){
    left: 4px;
    top: 106px;
}
.abs-li li:nth-child(4){
    left: 84px;
    top: 183px;
}
.abs-li li:nth-child(5){
    left: 177px;
    top: 127px;
}
.abs-li li:nth-child(4) .circle img{
    height: 45px;
}
.abs-li .circle{
    border-radius: 50%;
    border: 2px solid #f2f8f6;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 10px;
}
.abs-li .circle img{
    max-height: 45px;
    margin: 8px auto 0px;
    display: block;
    width: auto;
}
.abs-li .circle small{
    font-size: 10px;
    color: #e4e1e1;
}
.abs-li .circle.selected{
    background: #eb18fd; 
    background: -moz-linear-gradient(-45deg,#553e84 0%,#693089 51%,#83138c 100%);
    background: -webkit-linear-gradient(-45deg,#553e84 0%,#693089 51%,#83138c 100%); 
    background: linear-gradient(135deg, #553e84 0%,#693089 51%,#83138c 100%); 
}
.pro-text{
    margin-bottom: 30px;
}
.slide-wrap .pro-text p{
    font-size: 18px;
/*        color: #330135;*/
    color:#e4e1e1;
    font-weight: 400;
    margin-bottom: 15px;
}
.pro-text p a{
    background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.free-hight{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
 h3.logo-txt{
    color: #b4b0b4;
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
    padding-left: 59px;
}
.text-image{
    width: 100%;
    display: block;
    background: url(../img/pro-batch.png) no-repeat left center;
    background-size: 22px;
    max-width: 159px;
    padding-left: 50px;
    line-height: 28px;
    color: #fff;
    font-size: 17px;
}
.pic-uploader {
    margin: 40px -10px 0px;
    padding: 0 5px 40px;
    background: #efefef;
}
.pic-uploader p{
    padding-left: 10px;
    color: #130316;
}
.select-imput.squre-select{
    border-radius: 0;
    margin: 0 -10px;
    padding: 25px 15px;
}
.list-item{
    width: 100%;
    overflow: hidden;
    padding-right: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom:1px solid rgba(235, 24, 253, 0.19);
}
.list-item:last-child{
    border: none;
    margin-bottom: 0;
}
.list-item p{
    float: left;
    width: auto;
    margin: 0;
    font-size: 16px;
    line-height: 39px;
    font-weight: 300;
    color: #b9b7b7;
}
.list-item .toggle-btn{
    float: right;
    margin: 0 0;
    max-width: 90px;
}
.list-item .toggle-btn label{
    margin: 0;
}
.list-item .toggle-btn .toggle .handle{
    left: 4px;
    top: 9px;
    height: 22px;
    background-position: 0px -3px;
    background-size: 103%;
    width: 41px;
}
.list-item .toggle-btn .toggle .track{
    width: 53px;
    height: 20px;
}
.list-item .toggle input:checked + .track .handle {
    -webkit-transform: translate3d(30px, 0px, 0);
    transform: translate3d(30px, 0px, 0);
    background-color: #fff;
}
.provide-service {
    padding-top: 30px;
}
.provide-service .list{
    margin-top: 25px;
}
.filter-strip{
    background: #0f0e0e;
    padding: 5px 10px;
    margin: 0px 0px 0;
}
.icon-filter {
    max-height: 30px;
    display: block;
    margin-right: 0px;
    width: auto;
    line-height: 3;
}
.icon-filter img{
    width: auto;
    height:24px;
}
.filter-strip .right .icon-filter{
    padding: 0 8px;
}
.filter-strip .right .icon-filter:last-child{
    padding-right: 0;
}
.news-option.common-screen.scroll-content{
    align-items: initial;
    background: #1f0220;
}
.tabs.tabs-icon-only {
    background: #0f0e0e;
    position: fixed;
}
.tab-item{
    line-height: 4.2;
}
.news-section {
    margin-bottom: 40px;
}
.news-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
}
.header-profile {
    width: 80%;
    display: flex;
}
.news-header .img-box{
    width: 75px;
    margin: 0 15px 0 0;
}
.news-header h3{       
    margin: 0;
    color: #ffffff;
    text-transform: capitalize;
}
.news-header p{
    margin-bottom: 0;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
}
.news-header small{
    color: #797979;
    font-size: 13px;
    display: block;
}
.right-icon img{
    width: 37px;
}
.feed-icon{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    padding-left: 120px;
}
.feed-icon img{
    width: 26px;
}
.likes span{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
    position: relative;
    top: -4px;
}
.news-slide .slider-pager{
    left: 15px;
    right: auto;
    bottom: -25px;
    width: auto;
}
.news-slide{
   overflow:visible;      
}
.news-slide:after{
     display: table;
     content: '';
     clear: both;
}
.content-feed{
    padding: 10px 10px;
}
.content-feed span{
    display: block;
    font-size: 16px;
    color: #fff;
}
.content-feed p{
    color: #fff;
    font-weight: 300;
    margin-bottom: 6px;
}
.reply-div{
    display: flex;
    padding-bottom: 0;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.reply-div input{
    width: 84%;
    background: transparent;
    border: 0;
    color: #fff;
}
.reply-div button{
    border: 0;
    font-weight: 600;
}
.see-all{
    background: url(../img/select-arw.png)no-repeat 95% 7px;
    display: inline-block;
    padding-right: 40px;
    color: #706e6e;
    background-size: 22px;
    margin-top: 25px;
}
.video-box{
    position: relative;
}
.video-icon{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 30px;
    background: url(../img/video-icon.png) no-repeat center;
    background-size: contain;
}
.chat-head{
    position: absolute;
    bottom: 50px;
    z-index: 99;
    width: 50px;
    height: 50px;
    right: 0;
    border-radius: 50%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    border: 2px solid #583058;
    box-shadow: 0 0px 16px rgba(192, 56, 238, 0.39);
}
.chat-head img{
    width: 100%;
    height: 100%;
}
.filter-strip h4{
    margin: 0 auto;
    color: #fff;
}
.filter-strip .cross{
    position: relative;
    top: -5px;
    height: 14px;
}
.filter-category{
    padding: 15px 10px;
}
.filter-category h2{
    font-weight: 100;
    color: #fff;
    padding-left: 15px;
    font-size: 24px;
}
.filter-box{
    background: #160517;
    padding: 25px 15px 30px;
    margin-bottom: 40px;
    border-radius: 9px;
}
.f-box{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(#160517, #160517), linear-gradient(to right, #9d77fa 0%, #eb18fd 100%);
}
.f-box p{
    color: #fff;
}
.f-box.active{        
     background-image: linear-gradient(#740570, #740570), linear-gradient(to right, #938c92 0%, #fff 100%);
}
.filter-box .btn-grid{
    display: block;
    width: 115px;
    max-height: 34px;
    margin: 30px auto 10px;
}
.filter-box .list-item p{
    color: #fff;
}
.filter-box .list-item{
    border-bottom: 1px solid #760e7f;
}
a.filter-outline-btn {
    display: block;
    margin-bottom: 60px;
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(#1f0220, #1f0220), linear-gradient(to right, #9d77fa 0%, #eb18fd 100%);
    max-width: 270px;
    line-height: 60px;
    border-radius: 6px;
    margin: 10px auto 60px;
    font-size: 16px;
    color: #fff;
}
.filter-outline-btn img{
    margin-right: 10px;
    position: relative;
    top: 6px;
}
.single-news{
    margin-bottom: 150px;
}
.absloute-menu{
    background: rgba(18, 6, 18, 0.95);
    padding: 8px 15px 25px;
    position: absolute;
    z-index: 999;
    width: 270px;
    left: 0;
    bottom: 50px;
    min-height: 260px;
    border-radius: 9px;
}
.side-list li{
    display: flex;
    padding: 15px 8px;
    align-items: center;
    border-bottom: 1px solid #ac13b8;
}
.side-list li img{
        width: 24px;
}
.side-list li a{
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.share-btn{
    line-height: 28px;
    width: auto;
    display: inline-block;
    border: 1px solid #b01caa;
    color: #fff;
    padding: 0 24px;
    border-radius: 9px;
}
.margin-list{
    margin-top: 30px;
    margin-bottom: 50px !important;
}
.text-theme{
    color: #d519dc !important;
}
.list-btn .btn-grid{
    display: block;
    width: 100%;
    max-width: 270px;
    line-height: 46px;
    max-height: 60px;
}
.list-btn .filter-outline-btn{
     line-height: 46px;
     margin-bottom: 30px;
}
.social-share-main{
    background: #efefef;
}
.social-share-page{
    padding:25px 15px;
}
.share-image{
    border-radius: 9px;
    margin-bottom: 25px;
    overflow: hidden;
}
.share-image img{
     border-radius: 9px;
}
.social-share-page .card-box p{
    color: #231a23;
    letter-spacing: px;   
    margin-bottom: 15px;
}
.social-share-page .card-box{
    margin: 0 0 20px;
    padding: 8px 10px;
    border-radius: 9px;
    background: #fff;
}
.card-box span{
    color: #49494c;
}
.link-bth{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-box ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-box ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

}
.social-box ul li:last-child a{
    border: 0;
}
.social-box ul li a{
    display: block;        
     border-right: 1px solid #c5c4c4;
     padding:0 10px
}
.social-box ul li img{
    max-height: 26px;
}
.dark-text{
    color: #0e0e0e;
}
.social-share-btn{
    background: #6b186e;
    max-width: 280px;
    display: block;
    margin: 30px auto 60px;
    color: #fdfcfc;
    line-height: 32px;
    text-align: center;
    border-radius: 7px;        
}
.filter-strip .back-btn{
    line-height: 26px;
    color: #888888;
    background-size: 12px;
    margin-top: 5px;
}
.share-icon{
    background: url(../img/social-share-active.png)no-repeat left 2px;
    background-size: 24px;
    display: flex;
    width: 100%;
    padding-left: 39px;
    font-size: 16px;
    color: #fff;
    line-height: 38px;
}
.dark-bg{
    background: #0a0a0a !important;
}
.theme-background{
    background: #1f0220 !important;
}
.explore-page{
    background: #111111;
}
.image-box-explore {
    padding: 25px 5px 60px;
}
.image-box-explore h4{
    color: #f9f7f7;
    margin: 0px 0 15px;
    padding-left: 15px;
}
.image-box-explore .video-icon{
    position: absolute;
    right: 5px;
    bottom: 9px;
    width: 19px;
    height: 20px;
    background: url(../img/video-icon.png) no-repeat center;
    background-size: contain;
}
.down-arrow{
    width: 27px;
    height: 23px;
    background: url(../img/down-arrow.png) no-repeat center;
    background-size: contain;
    margin: 15px auto 25px;
    display: block;
}
.round-div{
    border-radius: 6px;
    overflow: hidden;
}
.round-div img{
    border-radius: 6px;
}
.post-header{
    padding:8px 15px;
}
.post-header .right span{
    margin-right: 10px;
}
.dark-fllow-btn{
    font-size: 12px;
    padding: 0px 8px;
    display: inline-block;
    color: #fff;
    background: #2b282b;
    border: 1px solid #eb18fd;
    border-radius: 9px;
}
.border-bootom{
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.border-bootom p{
    margin-bottom: 0;
}
.phonix{
    margin-bottom: 40px;
    padding: 10px 10px 0;
}
.phonix .text-grid{
    font-size: 24px;
}
.text-white{
    color: #fff;
}
.my-folio{
    margin-bottom: 60px;
}
.my-folio h3{
    padding-left: 15px;
}
.news-section{
    position: relative;
}
.setting-s .top-side-logo{
    margin: 35px 0 60px;
}
.top-side-logo  h3 {
    color: #b4b0b4;
    text-transform: capitalize;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    padding-left: 59px;
}
.filter-category-se {
    padding: 15px 15px;
}
.adv-setting .list-item{
    border-bottom: 1px solid rgba(235, 24, 253, 0.40);
    margin-bottom: 20px;
}
.adv-setting{
    margin-bottom: 50px;
}
.adv-setting .list-item p{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .5px;
    color: #fff;
}
.adv-setting h4{
     border-bottom: 1px solid rgba(235, 24, 253, 0.40);
     padding-bottom: 15px;
}
.adv-setting.help p{
    width: 100%;
    background: url(../img/side-arrow.png) no-repeat 100% center;
    background-size: 8px;
}
.white-bg{
    background: #efefef !important;
}
.new-pro{
    padding: 30px 5px;
    margin-bottom: 60px;
}
.new-pro .select-cat{
    padding: 10px 5px;
}
.new-pro .t-btnbt{
    font-size: inherit;
}
.new-pro .styled-input,
.new-pro .style-select{
    background-color: #e5e1e1 !important;
    color: #777;
    line-height: 32px;
}
.new-pro .select-gender .card{
     background-color: #e5e1e1 !important;
    color: #777;
}
.new-pro .select-gender .card small{
    color: #736f6f;
}
.new-pro .select-gender .card p{
    color: #736f6f;
}
.new-pro .select-imput p{
    color: #736f6f;
    font-size: 16px;
    margin-bottom: 0;
}
.new-pro .select-imput{
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 30px;
}
.new-pro .r-select{
    font-size: 13px;
}
.new-pro .select-gender {
    margin-top: 0;
    margin-bottom: 25px;
    border-top: 1px solid #3b3b3b;
    padding-top: 30px;
}
.provide-service.border-top{
    border-top: 1px solid #3b3b3b;
    padding-top: 30px;
    padding-left: 5px;   
    margin-bottom: 25px;
}
.provide-service.border-top h4{
    margin-bottom: 0;
    color: #736f6f;
    font-weight: 400;
}
.provide-service.border-top p{   
    color: #736f6f;
}
.provide-service.border-top .list-item p{
     color: #615f5f;
     font-weight: 500;
}
.filter-strip.ex .right img{
    height: auto;
    width: 100%;
}
.filter-strip.ex .right a{
    padding: 0 5px;
}
.mib-image .text-grid{
    font-size: 14px;
}
.mib-image p{
    font-size: 13px;
}
.news-section .text-image {    
    max-width: 91px;
    padding-left: 31px;   
}
.contact-pro {
    margin-top: 25px;
}
.conts-div {
    max-width: 163px;
    margin: 10px auto;
}
.conts-div ul li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.conts-div ul li span{
    font-size: 13px;
}
.conts-div ul li img{
    width: 15px;
    margin-right: 15px;
}

/*======================
        Saves CSS
========================*/
.list-div ul{
    display: flex;
    justify-content: space-evenly;      
}
.list-div ul li{
    color: #959292;
    font-size: 26.46px;
    font-weight: 300;    
}
.list-div ul li a{
    color: #959292;
}
.list-div ul li a.udln{
    text-decoration: #eb18fd underline;
}

.gallery-div{
    padding-left: 10px;
}
.gallery-div h4{
    color: #f4f3f3;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.gallery-div h4 .ion-folder{
    color: #4d4a4d;
    font-size: 39px;
    padding-right: 10px;
}
.gallery-div h4 span{
    padding-left: 7px;
    padding-top: 7px;
}
.gallery-div2{
    border-bottom: 1px solid #3b043d;
    padding-bottom: 20px;    
}
.gallery-div2 ul{
    display: flex;
    justify-content: flex-start;
}
.gallery-div2 ul li{
    margin: 0 13px 0 0;
    min-width: 28%;    
}
.text-div h6{
    color: #ffffff;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
}
.text-div h6 span{
    outline: 1px solid #ffffff;
    padding: 2px;    
}
.frm-div{
    background: url(../img/frm.png)no-repeat top center scroll;
    width: 90px;
    height: 81px;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}
.frm-div img{
    width: 84%;
    margin: auto;
    padding: 18px 0 0;    
}
.frm-div .ion-plus{}
.gallery-div2 ul li:last-child .frm-div{
    display: flex;
    align-items: center;
    padding-top: 8px;    
}
.gallery-div2 ul li:last-child img{
    width: 40px;
    height: 40px;
    padding: 0;  
}
.mb-0{
    margin-bottom: 0 !important; 
}

.gallery-div3{
    border-bottom: 1px solid #3b043d;
    padding-bottom: 20px;       
}
.gallery-div3 ul{
    display: flex;
    justify-content: space-evenly;
}
.gallery-div3 ul li{
    margin: 0 2.5px;    
}
.gallery-div3 ul li .img-maindiv{
    border-radius: 5px 5px 0 0;
    overflow: hidden;    
}
.img-maindiv .img-dv{
    height: calc(100% - 17px);
    overflow: hidden;
}
.img-maindiv figcaption{
    background-color: #000000;
    position: relative;
    top: -8px;
}
.img-maindiv figcaption p{
    font-size: calc(100% - 3px);
    padding: 5px 0;
    text-align: center;
    line-height: normal;
}
.gallery-div4{
    margin-bottom: 25px;
}
.gallery-div4 ul{
    display: flex;
    justify-content: space-evenly;
}
.gallery-div4 ul li{
    margin: 0 2.5px;    
}
.gallery-div4 ul li .img-maindiv{
    border-radius: 5px 5px 0 0;
    overflow: hidden;    
}
.img-maindiv .img-dv{
    height: calc(100% - 17px);
    overflow: hidden;
}
.img-maindiv figcaption{
    background-color: #000000;
    position: relative;
    top: -8px;
}
.img-maindiv figcaption p{
    font-size: calc(100% - 3px);
    padding: 5px 0;
    text-align: center;
    line-height: normal;
}




/*===========================
        Notifi-box CSS
=============================*/
.notifi-box{}
.left-box{
    position: relative;
}
.left-box .imag-box{
    width: 60px;
    height: 61px;
    border-radius: 5px;
    overflow: hidden;
    padding: 3px;
    position: relative;
    float: left;

    background: #9e76fa;
    background: -moz-linear-gradient(top, #9e76fa 1%, #e91bfd 100%);
    background: -webkit-linear-gradient(top, #9e76fa 1%,#e91bfd 100%);
    background: linear-gradient(to bottom, #9e76fa 1%,#e91bfd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e76fa', endColorstr='#e91bfd',GradientType=0 );    
}
.left-box .imag-box img{
    border-radius: 10px;
}
.left-box .fl{
    position: absolute;
    left: 39px;
    top: 41px; 
}
.left-txtdiv{
    padding-left: 7px;
    display: flex;
    align-items: center;
}
.left-txtdiv h6{
    font-size: 13px;
    color: #aba6a6;
    line-height: 18px;
    margin: 9px 0 0 0;
}
.left-txtdiv h6 span{
    background: linear-gradient(to right, #eb18fd 0%, #bf4dfb 51%, #9d77fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;   
    font-size: 11px; 
}
.left-txtdiv h6 small{}
.right-box{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.right-box h6{
    color: #9e9d9d;
}
.right-box  .img{
    width: 35%;
}
.left-box,
.right-box{
    margin: 9px 0;
}


/*============================
    Notifications-list css
==============================*/
.right .ig{
    width: 59% !important;
    float: right;
}
.nright-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;    
}
.nright-box h6{
    color: #9e9d9d;
}
.common-bdr{
    border-bottom: 1px solid #4b0551;
    margin: 17px 0;
}

/*============================
        Message-box css
==============================*/
.m-right{
    display: flex;
    justify-content: flex-start;
}
.m-left-box{
    position: relative;
}
.message-box{}
.message-header{
    background: #070707;
    background: -moz-linear-gradient(-45deg, #070707 0%, #200222 100%);
    background: -webkit-linear-gradient(-45deg, #070707 0%,#200222 100%);
    background: linear-gradient(135deg, #070707 0%,#200222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070707', endColorstr='#200222',GradientType=1 );    
}
.m-left-box .imag-box{
    width: 60px;
    height: 61px;
    border-radius: 5px;
    overflow: hidden;
    padding: 3px;
    position: relative;
    float: left;
    background: transparent;   
}
.message-header .imag-box img{
    border-radius: 10px;
}

.m-left-box .fl{
    position: absolute;
    left: 39px;
    top: 41px; 
}
.m-text-div{}
.m-text-div h5{
    color: #ffffff;
    font-weight: 300;
}
.message-body{
    height: 480px;
    overflow: hidden;
    overflow-x:hidden;
    overflow-y:auto;    
}
.message-body h6{
    background-color: #222122;
    padding: 5px 0;
}
.div-c{
    display: flex;
}
.message-ldiv{
    display: flex;
    position: relative;
}
.message-rdiv{
    margin-left: 20px;
}
.message-rdiv h5{
    color: #b6b6b6;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    display: flex;
}

.message-right-sec{
    display: flex;
    justify-content: flex-end;    
}
.rr-div{
    text-align: center;
}
.rr-div h5{
    background-color: #330135;
    padding: 10px;
    color:  #ffffff;
    font-weight: 300;
    font-size: 13px;
}
.ch-img {
    width: 60%;
}
.bottom-part{
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
}
.bottom-part .item{
    border-color: transparent;
    background-color: #212121;
    border-width: 0;
    border-style: none;
    padding: 6px;
    border-radius: 3px;
}
.bottom-part .item-input-wrapper{
     background-color: #212121;   
}
.bottom-part .button{
   color: #eb18fd;
    display: block;
    font-size: 14px;   
    background: transparent; 
}
.icons-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;    
}
.icons-div img{
    width: 28%;
}
.mb-5{
    margin-bottom: 3rem;
}
.item-input-inset .item-input-wrapper input {
    color: #ffffff;
}
.message-footer{}
.f-div{
    position: relative;
}
.mu{
    position: absolute;
    margin: -409px auto 0;
    width: 91%;    
}
.all-imgdiv{
    background-color: #330135;
    padding: 7px;
    border-radius: 2px;
}
.ii-div{
    text-align: center;
    width: 54%;    
}
.ii-div h5{
    background-color: #330135;
    padding: 10px;
    color:  #ffffff;
    font-weight: 300;
    font-size: 13px;
}
.n-h{
    background-color: transparent !important;
    color: #ffffff;
}

.message-camera{
    height: 480px;
    overflow: hidden;
    overflow-x:hidden;
    overflow-y:auto;
    background-color: #100202;
    max-height: 100%;    
}
.mc-top{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;    
}
.ml{}
.ml img{
    width: 18px;
    height: 18px;
    margin: 5px;    
}
.mr{}
.mr img{
    width: 23px;
    height: 23px;
    display: inline-block;
    margin: 2px 8px;        
}
.mc-bottom{
    height: 86%;
    display: flex;
    align-items: flex-end;
    justify-content: center;    
}
.message-load{
    background-color: #171517;
    padding: 20px 0;
}
.message-load h6{
    color: white;
    font-size: 16px;
}
.top-icon-area .icon-box{
    border-right: 1px solid #eb18fd;
}
.top-icon-area .col:last-child .icon-box{
    border-right: 0;
}
.top-icon-area .icon-box img{
    height: 40px;
    margin: 8px auto;
    display: block;
}
.icon-box span{
    color: #736f6f;
    font-size: 15px;
    display: block;
    text-align: center;
}
.image-box{
    border-radius: 6px;
    overflow: hidden;
}
.image-box img{
    border-radius: 6px;
}
.btn-gray{
    border: 0;
    min-width: 100px;
    color: #fff;
    line-height: 26px;
    max-height: 30px;
    border-radius:6px;
    background: #7f8183;
    text-align: center;
}
.slider::before{
    content: '';
    display: table;
    clear: both;
}
.thumbnail .image-box{
    width: 80px;
}
.white-bg .styled-input input{
    color: #888 !important;
}
.find-service{
    background: url(../img/find-bg.png) no-repeat top center;
    background-size: 100% 96%;
}
.select-find{
    margin-top: 35%;
    text-align: center;
}
.main-select{
    display: block;
    padding: 5px 15px;
    max-width: 320px;
    margin: 20px auto;
    text-align: center;
    border-radius: 6px;
    position: relative;
}
.main-select i{
    margin-left: 15px;
}
.main-select>a{
    font-size: 16px;
    color: #fff;
    font-weight:500;
    display: block;
    margin: 0;
   
}
.dark-select{
background: #171517;
border: 1px solid #bb1eb5;
}
.light-select{
    background: #bb1eb5;
    border: 1px solid #bb1eb5;
}
.find-service-bg{
    background:#1f0220;
}
.sub-select{
    position: absolute;
    left: 0;
    right:0;
    top: 100%;
    height: auto;
    z-index: 9999;
}
.sub-select li{
    line-height: 53px;
    text-align: left;
    background: #840984;
    border: 1px solid #840984;
    padding: 10px 15px;
    color: #fff;
    clear: both;
    overflow: hidden;
}
.sub-select li:nth-child(even){
    background: #232022;
}
.sub-select li a{
    color: #fff;
    font-size: 18px;
    margin: 0;
    display: block;
    width: 100%;
    position: relative;
    clear: both;
}
.sub-select li a span{
    margin-left: 95px;
    font-size: 18px;
    font-weight: 300;
    float: left;
}
.sub-select li a img{   
    top: 6px;
    float: left;
    position: absolute;
}
a.find-btn.btn-grid {
    max-height: 150px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 50px;
}
.rf-btn{
    background: #171517;
    border: 1px solid #bb1eb5;  
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
    line-height: 36px;
    border-radius: 6px;
}
.service-list {
    padding: 25px 10px 50px;
}
.list-area{
    background: #170518;
    padding: 10px 15px;
    text-align:left;
    border-radius: 8px;
    margin-bottom: 10px;
}
h3.title{
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    margin: 0;
    background: url(../img/down-left.png) no-repeat 98% center;
    background-size: 10px;
    font-family: 'lato',sans-serif;
}
h3.title.active{
    margin-bottom: 25px;
    background: url(../img/down-list.png) no-repeat 98% center;
    background-size: 15px;
}
.abs-box{
    height: 64px;
    position: relative;
}
.abs-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.abs-box.active span{
    background: rgba(112, 16, 112, 0.84);
}
.abs-box span{
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 64px;
    background: rgba(0,0,0,0.45);
}
.plc h3{
    font-size: 16px;
    color: #c0b2bf;
    background: #1d1d1d;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    padding: 2px 5px;
    position: relative;
    top: 5px;
}
.search-count{
    position: absolute;
    top: 80vh;
    max-width: 320px;
    left: 0;
    right: 0;
    margin: 0 auto;   
    z-index: 99;
    text-align: center;
    line-height: 36px;
    background: url(../img/darw.png) no-repeat 90% center  #750679;
    padding-right: 60px;
    background-size: 15px;
}
.search-count p{
    margin: 0;
}
.flex{
    display: flex;
}
.srch-result-head .img-box{
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin-right: 15px;
    margin-left: 0;
    margin-top: 0;
}
.srch-result-head .img-box img{
    height: 100%;
}
.srch-result-head .icon-img{
    height: 25px;
    right: 7px;
    bottom: 0;
}
.srch-result-head h3{
    color: #fff;
    font-size: 18px;
    margin-top: 0;
}
.head-text{
    color: #fff;
}
.ratings img{
    margin-right: 8px;
}
.reviews img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.reviews span{
    font-size: 12px;
}
.bottom-bg {
    padding: 40px 5px;
    background: #1f0220;
}
.search-count.top-s {
    position: static;
    margin-bottom: 20px;
    background: url(../img/arw-dwn.png) no-repeat 90% center  #750679;
    background-size: 15px;
}
.result-wrap {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
    margin-right: 5px;
    margin-left: 5px;
}
.result-wrap:last-child{
    border: none;
}
.result-wrap-black {
    background: #171517;
    padding: 25px 5px 0;
    
}
.conts-div.full {
    max-width: 100%;
    padding-left: 50px;
}
.tabs-top.tabs-striped {
    padding-bottom: 0;
    position: relative;
    height: 100px;
    top: -50px;
}
.tabs-top > .tabs, .tabs.tabs-top {
    top: 0px;   
    border-bottom-width: 0;
    background: transparent;
}
.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
    margin-top: 1px;
    border-width: 0px 0px 1px 0px !important;
    border-style: solid;
    color: #e721df;
    border-color: #e721df;
}
.tabs-top.tabs-striped .tab-item{
    color: #fff;
}
.bottom-bg.text-justify{
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}
.bottom-bg.text-justify h3{
    color: #fff;
    text-align: center;
}
.bottom-review .f-box{
    padding: 0;
    overflow: hidden;
    height: 56px;
}
.bottom-review {
    padding: 25px 0;
}
.bottom-review .ratings{
    margin-bottom: 15px;
    display: inline-block;
}
a.dark-fllow-btn.abs-btn {
    position: absolute;
    right: 15px;
    top: auto;
}
.mb-3{
    margin-bottom: 20px;
}
.bottom-review .col-20 span{
    text-align: center;
    display: block;
    margin-top: 10px;
}
a.link{
    color: #eb18fd;
}


.member-form-bg{
    background-color: #fff !important;
    background: url(../img/form-bg.png) no-repeat center;
    background-size: cover;
}
.photo-style-text{
    font-size: 14px;
    color: #736f6f;
    font-weight: bold;
    margin-left:5px;
}
.communications-discount-text{
    font-size: 10px !important;
    color: #0c0c0c !important;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    width: 200px;
    margin-top: 20px !important;
}
